* {
/* grays #808080;  */
--gray27: #000000; /* black */
--gray26: #020202; 
--gray25: #0c0c0c; 
--gray24: #161616; 
--gray23: #1f1f1f; 
--gray22: #292929; 
--gray21: #333333; 
--gray20: #3d3d3d; 
--gray19: #474747; 
--gray18: #505050; 
--gray17: #5a5a5a; 
--gray16: #646464; 
--gray15: #6e6e6e; 
--gray14: #787878; 
--gray13: #818181; /* gray */
--gray12: #8b8b8b; 
--gray11: #959595; 
--gray10: #9f9f9f; 
--gray09: #a9a9a9; 
--gray08: #b3b3b3; 
--gray07: #bcbcbc; 
--gray06: #c6c6c6; 
--gray05: #d0d0d0; 
--gray04: #dadada; 
--gray03: #e4e4e4; 
--gray02: #ededed; 
--gray01: #f7f7f7;
--gray00: #ffffff; /* white */ 
 /* YELLOWS ffff00 */  
--yellow27: #050500;  
--yellow26: #191900;  
--yellow25: #2c2c00;  
--yellow24: #404000;  
--yellow23: #545400;  
--yellow22: #676700;  
--yellow21: #7b7b00;  
--yellow20: #8f8f00;  
--yellow19: #a2a200;  
--yellow18: #b6b600;  
--yellow17: #c9c900;  
--yellow16: #dddd00;  
--yellow15: #f1f100;
--yellow14: #ffff00; /* yellow */ 
--yellow13: #ffff05;  
--yellow12: #ffff19;  
--yellow11: #ffff2c;  
--yellow10: #ffff40;  
--yellow09: #ffff54;  
--yellow08: #ffff67;  
--yellow07: #ffff7b;  
--yellow06: #ffff8f;  
--yellow05: #ffffa2;  
--yellow04: #ffffb6;  
--yellow03: #ffffc9;  
--yellow02: #ffffdd;  
--yellow01: #fffff1;

/* ORANGES #FFA500 */
--orange25:#140d00;
--orange24:#271900;
--orange23:#3b2600;
--orange22:#4e3300;
--orange21:#623f00;
--orange20:#764c00;
--orange19:#895900;
--orange18:#9d6600;
--orange17:#b17200;
--orange16:#c47f00;
--orange15:#d88c00;
--orange14:#eb9800;
--orange13:#ffa500; /* Orange */
--orange12:#ffac14;
--orange11:#ffb327;
--orange10:#ffba3b;
--orange09:#ffc14e;
--orange08:#ffc862;
--orange07:#ffcf76;
--orange06:#ffd589;
--orange05:#ffdc9d;
--orange04:#ffe3b1;
--orange03:#ffeac4;
--orange02:#fff1d8;
--orange01:#fff8eb;

/* GOLD */
--gold25:#141100;
--gold24:#272100;
--gold23:#3b3200;
--gold22:#4e4200;
--gold21:#625300;
--gold20:#766300;
--gold19:#897400;
--gold18:#9d8400;
--gold17:#b19500;
--gold16:#c4a500;
--gold15:#d8b600;
--gold14:#ebc600;
--gold13:#ffd700;/* gold */
--gold12:#ffda14;
--gold11:#ffdd27;
--gold10:#ffe03b;
--gold09:#ffe34e;
--gold08:#ffe662;
--gold07:#ffe976;
--gold06:#ffed89;
--gold05:#fff09d;
--gold04:#fff3b1;
--gold03:#fff6c4;
--gold02:#fff9d8;
--gold01:#fffceb;
/* RED */ 
--red25:#140000;
--red24:#270000;
--red23:#3b0000;
--red22:#4e0000;
--red21:#620000;
--red20:#760000;
--red19:#890000;
--red18:#9d0000;
--red17:#b10000;
--red16:#c40000;
--red15:#d80000;
--red14:#eb0000;
--red13:#ff0000; /* red */
--red12:#ff1414;
--red11:#ff2727;
--red10:#ff3b3b;
--red09:#ff4e4e;
--red08:#ff6262;
--red07:#ff7676;
--red06:#ff8989;
--red05:#ff9d9d;
--red04:#ffb1b1;
--red03:#ffc4c4;
--red02:#ffd8d8;
--red01:#ffebeb;
/* CRIMSON --crimson14 */
--crimson26:#040001;
--crimson25:#160206;
--crimson24:#28040b;
--crimson23:#3a0510;
--crimson22:#4c0715;
--crimson21:#5e091a;
--crimson20:#700a1f;
--crimson19:#820c23;
--crimson18:#940d28;
--crimson17:#a60f2d;
--crimson16:#b81132;
--crimson15:#ca1237;
--crimson14:#dc143c; /* crimson */
--crimson13:#ea1943;
--crimson12:#ec2b52;
--crimson11:#ed3d61;
--crimson10:#ef4f6f;
--crimson09:#f1617e;
--crimson08:#f2738d;
--crimson07:#f4859b;
--crimson06:#f697aa;
--crimson05:#f7a9b9;
--crimson04:#f9bbc8;
--crimson03:#facdd6;
--crimson02:#fcdfe5;
--crimson01:#fef1f4; 
/* PINK  pink04 ffc0cb*/       
--pink26:#0f0003;
--pink25:#230006;
--pink24:#37000a;
--pink23:#4a000d;
--pink22:#5e0010;
--pink21:#720014;
--pink20:#850017;
--pink19:#99001b;
--pink18:#ac001e;
--pink17:#c00022;
--pink16:#d40025;
--pink15:#e70028;
--pink14:#fb002c;
--pink13:#ff0f39;
--pink12:#ff2349;
--pink11:#ff375a;
--pink10:#ff4a6a;
--pink09:#ff5e7a;
--pink08:#ff728a;
--pink07:#ff859a;
--pink06:#ff99ab;
--pink05:#ffacbb;
--pink04:#ffc0cb; /* pink */
--pink03:#ffd4db;
--pink02:#ffe7eb;
--pink01:#fffbfc;
/* BLUE */
--blue25:#000014;  
--blue24:#000027;  
--blue23:#00003b;  
--blue22:#00004e;  
--blue21:#000062;  
--blue20:#000076;  
--blue19:#000089;  
--blue18:#00009d;  
--blue17:#0000b1;  
--blue16:#0000c4;  
--blue15:#0000d8;  
--blue14:#0000eb;  
--blue13:#0000ff;  /* blue */ 
--blue12:#1414ff;  
--blue11:#2727ff;  
--blue10:#3b3bff;  
--blue09:#4e4eff;  
--blue08:#6262ff;  
--blue07:#7676ff;  
--blue06:#8989ff;  
--blue05:#9d9dff;  
--blue04:#b1b1ff;  
--blue03:#c4c4ff;  
--blue02:#d8d8ff;  
--blue01:#ebebff;
/* NAVY navy20 */
--navy26:#00000a;
--navy25:#00001e;
--navy24:#000032;
--navy23:#000045;
--navy22:#000059;
--navy21:#00006c;
--navy20:#000080;  /* navy */
--navy19:#000094;
--navy18:#0000a7;
--navy17:#0000bb;
--navy16:#0000ce;
--navy15:#0000e2;
--navy14:#0000f6;
--navy13:#0a0aff;
--navy12:#1e1eff;
--navy11:#3232ff;
--navy10:#4545ff;
--navy09:#5959ff;
--navy08:#6c6cff;
--navy07:#8080ff;
--navy06:#9494ff;
--navy05:#a7a7ff;
--navy04:#bbbbff;
--navy03:#ceceff;
--navy02:#e2e2ff;
--navy01:#f6f6ff;
/* SEA */
--sea13:#00050a;
--sea12:#000f1e;
--sea11:#001932;
--sea10:#002345;
--sea09:#002c59;
--sea08:#00366c;
--sea07:#004080;
--sea06:#004a94;
--sea05:#0054a7;
--sea04:#005dbb;
--sea03:#0067ce;
--sea02:#0071e2;
--sea01:#007bf6;
--sea00:#0a85ff;
 /* SKY: */  
--sky11:#1e8eff;
--sky10:#3298ff;
--sky09:#45a2ff;
--sky08:#59acff;
--sky07:#6cb6ff;
--sky06:#80c0ff;
--sky05:#94c9ff;
--sky04:#a7d3ff;
--sky03:#bbddff;
--sky02:#cee7ff;
--sky01:#f6faff;
/*  STEELBLUE  */
--steelblue26:#04080b;
--steelblue25:#0a1219;
--steelblue24:#0f1c27;
--steelblue23:#152635;
--steelblue22:#1a3043;
--steelblue21:#203b51;
--steelblue20:#25455f;
--steelblue19:#2b4f6d;
--steelblue18:#30597c;
--steelblue17:#36638a;
--steelblue16:#3b6e98;
--steelblue15:#4178a6;
--steelblue14:#4682b4;
--steelblue13:#528cbc;
--steelblue12:#6095c1;
--steelblue11:#6e9ec7;
--steelblue10:#7ca8cc;
--steelblue09:#8ab1d2;
--steelblue08:#99bbd7;
--steelblue07:#a7c4dd;
--steelblue06:#b5cee2;
--steelblue05:#c3d7e8;
--steelblue04:#d1e0ed;
--steelblue03:#dfeaf3;
--steelblue02:#edf3f8;
--steelblue01:#fbfdfe;
/*  LIME  lime12 #bfff00 */	
--lime24:#0f1400;
--lime23:#1d2700;
--lime22:#2c3b00;
--lime21:#3b4e00;
--lime20:#496200;
--lime19:#587600;
--lime18:#678900;
--lime17:#769d00;
--lime16:#84b100;
--lime15:#93c400;
--lime14:#a2d800;
--lime13:#b0eb00;
--lime12:#bfff00; /* lime */
--lime11:#c4ff14;
--lime10:#c9ff27;
--lime09:#ceff3b;
--lime08:#d3ff4e;
--lime07:#d8ff62;
--lime06:#ddff76;
--lime05:#e1ff89;
--lime04:#e6ff9d;
--lime03:#ebffb1;
--lime02:#f0ffc4;
--lime01:#f5ffd8;
--lime00:#faffeb;
/* OLIVE olive15 #808000 */
--olive27:#0a0a00;
--olive26:#0a0a00;
--olive25:#1e1e00;
--olive24:#323200;
--olive23:#454500;
--olive22:#595900;
--olive21:#6c6c00;
--olive20:#808000;  /* olive */
--olive19:#949400;
--olive18:#a7a700;
--olive17:#bbbb00;
--olive16:#cece00;
--olive15:#e2e200;
--olive14:#f6f600;
--olive13:#ffff0a;
--olive12:#ffff1e;
--olive11:#ffff32;
--olive10:#ffff45;
--olive09:#ffff59;
--olive08:#ffff6c;
--olive07:#ffff80;
--olive06:#ffff94;
--olive05:#ffffa7;
--olive04:#ffffbb;
--olive03:#ffffce;
--olive02:#ffffe2;
--olive01:#fffff6;
/* TEALS 	teal10 #008080	 */ 
--teal26:#000a0a;
--teal25:#001e1e;
--teal24:#003232;
--teal23:#004545;
--teal22:#005959;
--teal21:#006c6c;
--teal20:#008080; /* teal */
--teal19:#009494;
--teal18:#00a7a7;
--teal17:#00bbbb;
--teal16:#00cece;
--teal15:#00e2e2;
--teal14:#00f6f6;
--teal13:#0affff;
--teal12:#1effff;
--teal11:#32ffff;
--teal10:#45ffff;
--teal09:#59ffff;
--teal08:#6cffff;
--teal07:#80ffff;
--teal06:#94ffff;
--teal05:#a7ffff;
--teal04:#bbffff;
--teal03:#ceffff;
--teal02:#e2ffff;
--teal01:#f6ffff; 
/* AQUA - CYAN */
--aqua25:#001414;
--aqua24:#002727;
--aqua23:#003b3b;
--aqua22:#004e4e;
--aqua21:#006262;
--aqua20:#007676;
--aqua19:#008989;
--aqua18:#009d9d;
--aqua17:#00b1b1;
--aqua16:#00c4c4;
--aqua15:#00d8d8;
--aqua14:#00ebeb;
--aqua13:#00ffff;  /* aqua - cyan */
--aqua12:#14ffff;
--aqua11:#27ffff;
--aqua10:#3bffff;
--aqua09:#4effff;
--aqua08:#62ffff;
--aqua07:#76ffff;
--aqua06:#89ffff;
--aqua05:#9dffff;
--aqua04:#b1ffff;
--aqua03:#c4ffff;
--aqua02:#d8ffff;
--aqua01:#ebffff;

/* AQUAMARINE */
--aquamarine26:#000906;
--aquamarine25:#001d13;
--aquamarine24:#003120;
--aquamarine23:#00442d;
--aquamarine22:#00583a;
--aquamarine21:#006b47;
--aquamarine20:#007f54;
--aquamarine19:#009361;
--aquamarine18:#00a66e;
--aquamarine17:#00ba7b;
--aquamarine16:#00cd88;
--aquamarine15:#00e195;
--aquamarine14:#00f5a2;
--aquamarine13:#09ffac;
--aquamarine12:#1dffb3;
--aquamarine11:#31ffba;
--aquamarine10:#44ffc0;
--aquamarine09:#58ffc7;
--aquamarine08:#6bffcd;
--aquamarine07:#7fffd4;  /* aquamarine */
--aquamarine06:#93ffdb;
--aquamarine05:#a6ffe1;
--aquamarine04:#baffe8;
--aquamarine03:#cdffee;
--aquamarine02:#e1fff5;
--aquamarine01:#f5fffc;

/* PURPLE  purple18 #800080*/
--purple24:#140014;
--purple23:#270027;
--purple22:#3b003b;
--purple21:#4e004e;
--purple20:#620062;
--purple19:#760076;
--purple18:#800080; /* purple */
--purple17:#9d009d;
--purple16:#b100b1;
--purple15:#c400c4;
--purple14:#d800d8;
--purple13:#eb00eb;
--purple12:#ff00ff;
--purple11:#ff14ff;
--purple10:#ff27ff;
--purple09:#ff3bff;
--purple08:#ff4eff;
--purple07:#ff62ff;
--purple06:#ff76ff;
--purple05:#ff89ff;
--purple04:#ff9dff;
--purple03:#ffb1ff;
--purple02:#ffc4ff;
--purple01:#ffd8ff;
--purple00:#ffebff;			
/*  VIOLET  */  
--violet24:#1e041e;
--violet23:#300630;
--violet22:#410941;
--violet21:#520b52;
--violet20:#630e63;
--violet19:#751075;
--violet18:#861286;
--violet17:#971597;
--violet16:#a917a9;
--violet15:#ba19ba;
--violet14:#cb1ccb;
--violet13:#dc1edc;
--violet12:#e22ce2;
--violet11:#e53de5;
--violet10:#e74ee7;
--violet09:#e95fe9;
--violet08:#ec71ec;
--violet07:#ee82ee; /* violet */
--violet06:#f093f0;
--violet05:#f3a5f3;
--violet04:#f5b6f5;
--violet03:#f7c7f7;
--violet02:#fad8fa;
--violet01:#fceafc;
--violet00:#fefbfe;
/* MAROON-BROWN brown03	#A52A2A */  
--brown27:#090202;
--brown26:#180606;
--brown25:#280a0a;
--brown24:#380e0e;
--brown23:#471212;
--brown22:#571616;
--brown21:#661a1a;
--brown20:#661a1a;
--brown19:#761e1e;
--brown18:#862222;
--brown17:#952626;
--brown16:#a52a2a; /* brown */
--brown15:#b52e2e;
--brown14:#c43232;
--brown13:#cd3c3c;
--brown12:#d14c4c;
--brown11:#d55c5c;
--brown10:#d96b6b;
--brown09:#dd7b7b;
--brown08:#e18b8b;
--brown07:#e59a9a;
--brown06:#e9aaaa;
--brown05:#edb9b9;
--brown04:#f1c9c9;
--brown03:#f5d9d9;
--brown02:#f9e8e8;
--brown01:#fdf8f8;
/*  BEIGE  #F5F5DC */ 
--beige27:#0b0b03;
--beige26:#0b0b03;
--beige25:#1a1a07;
--beige24:#29290c;
--beige23:#393910;
--beige22:#484815;
--beige21:#575719;
--beige20:#66661d;
--beige19:#767622;
--beige18:#858526;
--beige17:#94942a;
--beige16:#a3a32f;
--beige15:#b3b333;
--beige14:#c2c237;
--beige13:#c9c943;
--beige12:#cece53;
--beige11:#d2d262;
--beige10:#d6d671;
--beige09:#dbdb80;
--beige08:#dfdf90;
--beige07:#e4e49f;
--beige06:#e8e8ae;
--beige05:#ececbd;
--beige04:#f1f1cd;
--beige03:#f5f5dc; /* beige */
--beige02:#f9f9eb;
--beige01:#fefefb;
}