<div class='backend'>
  <div class='colsBE'>
   <div class='colBE1'>
      <h2> OVZ-6 SERVER (London)</h2>
      <ul>
        <li>Debian GNU/Linux 9 (stretch)
        <li>Linux 4.9.0-1-amd64, x86-64. 
        <li>Apache 2.4.25 (Debian). 
        <li>Mysql 15.1 Distrib 10.1.26-MariaDB, debian-linux-gnu (x86_64), readline 5.2. 
        <li>Phusion Passenger 5.1.12. 
        <li>RVM 1.29.3. 
        <li>Ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux]. 
        <li>Rails 5.1.4. 
        <li>Yarn v1.3.2. 
        <li>Npm 3.10.10. 
        <li>Webpack 3.10.0
     </ul>
   </div> 
    <div class='colBE2'>
      <h3>$ bundle show</h3>
      <ul>Gems included by the bundle:
        <li>* actioncable (5.1.4)
        <li>* actionmailer (5.1.4)
        <li>* actionpack (5.1.4)
        <li>* actionview (5.1.4)
        <li>* activejob (5.1.4)
        <li>* activemodel (5.1.4)
        <li>* activerecord (5.1.4)
        <li>* activesupport (5.1.4)
        <li>* arel (8.0.0)
        <li>* bcrypt (3.1.11)
        <li>* better_errors (2.4.0)
        <li>* builder (3.2.3)
        <li>* bulma-rails (0.6.1)
        <li>* bundler (1.16.1)
        <li>* byebug (9.1.0)
        <li>* coderay (1.1.2)
        <li>* coffee-rails (4.2.2)
        <li>* coffee-script (2.4.1)
        <li>* coffee-script-source (1.12.2)
        <li>* concurrent-ruby (1.0.5)
        <li>* crass (1.0.3)
        <li>* erubi (1.7.0)
        <li>* execjs (2.7.0)
        <li>* ffi (1.9.18)
        <li>* globalid (0.4.1)
        <li>* i18n (0.9.1)
        <li>* jbuilder (2.7.0)
        <li>* libv8 (3.16.14.19)
        <li>* listen (3.1.5)
        <li>* loofah (2.1.1)
        <li>* mail (2.7.0)
        <li>* method_source (0.9.0)
        <li>* mini_mime (1.0.0)
        <li>* mini_portile2 (2.3.0)
        <li>* minitest (5.11.1)
        <li>* multi_json (1.13.0)
        <li>* mysql2 (0.4.10)
        <li>* nio4r (2.2.0)
        <li>* nokogiri (1.8.1)
        <li>* pry (0.11.3)
        <li>* pry-rails (0.3.6)
        <li>* rack (2.0.3)
        <li>* rack-proxy (0.6.3)
        <li>* rack-test (0.8.2)
        <li>* rails (5.1.4)
        <li>* rails-dom-testing (2.0.3)
        <li>* rails-html-sanitizer (1.0.3)
        <li>* railties (5.1.4)
        <li>* rake (12.3.0)
        <li>* rb-fsevent (0.10.2)
        <li>* rb-inotify (0.9.10)
        <li>* ref (2.0.0)
        <li>* ruby_dep (1.5.0)
        <li>* sass (3.5.5)
        <li>* sass-listen (4.0.0)
        <li>* sass-rails (5.0.7)
        <li>* spring (2.0.2)
        <li>* spring-watcher-listen (2.0.1)
        <li>* sprockets (3.7.1)
        <li>* sprockets-rails (3.2.1)
        <li>* therubyracer (0.12.3)
        <li>* thor (0.20.0)
        <li>* thread_safe (0.3.6)
        <li>* tilt (2.0.8)
        <li>* turbolinks (5.1.0)
        <li>* turbolinks-source (5.1.0)
        <li>* tzinfo (1.2.4)
        <li>* uglifier (4.1.3)
        <li>* webpacker (3.2.0)
        <li>* websocket-driver (0.6.5)
        <li>* websocket-extensions (0.1.3)
        </ul>  
    </div>
  </div>
</div>
