<h2 class='colors colors_grays'> BASIC SCALE </h2>
<div class='colorsRGB colors_grays'>
<div class='col1 colors_grays'>
    <p style='color:#0000ff'>#0000ff</p>
    <p style='color:#0031ff'>#0031ff</p>
    <p style='color:#0061ff'>#0061ff</p>
    <p style='color:#0092ff'>#0092ff</p>
    <p style='color:#00c2ff'>#00c2ff</p>
    <p style='color:#00f3ff'>#00f3ff</p>
    <p style='color:#00ffdb'>#00ffdb</p>
    <p style='color:#00ffaa'>#00ffaa</p>
    <p style='color:#00ff79'>#00ff79</p>
    <p style='color:#00ff49'>#00ff49</p>
    <p style='color:#00ff18'>#00ff18</p>
    <p style='color:#18ff00'>#18ff00</p>
    <p style='color:#49ff00'>#49ff00</p>
    <p style='color:#79ff00'>#79ff00</p>
    <p style='color:#aaff00'>#aaff00</p>
    <p style='color:#dbff00'>#dbff00</p>
    <p style='color:#fff300'>#fff300</p>
    <p style='color:#ffc200'>#ffc200</p>
    <p style='color:#ff9200'>#ff9200</p>
    <p style='color:#ff6100'>#ff6100</p>
    <p style='color:#ff3100'>#ff3100</p>
    <p style='color:#ff0000'>#ff0000</p>
  </div> 
  <div class='col2'>
    <p style='color:gray;background-color:#0000ff'>#0000ff</p>
    <p style='color:gray;background-color:#0031ff'>#0031ff</p>
    <p style='color:gray;background-color:#0061ff'>#0061ff</p>
    <p style='color:gray;background-color:#0092ff'>#0092ff</p>
    <p style='color:gray;background-color:#00c2ff'>#00c2ff</p>
    <p style='color:gray;background-color:#00f3ff'>#00f3ff</p>
    <p style='color:gray;background-color:#00ffdb'>#00ffdb</p>
    <p style='color:gray;background-color:#00ffaa'>#00ffaa</p>
    <p style='color:gray;background-color:#00ff79'>#00ff79</p>
    <p style='color:gray;background-color:#00ff49'>#00ff49</p>
    <p style='color:gray;background-color:#00ff18'>#00ff18</p>
    <p style='color:gray;background-color:#18ff00'>#18ff00</p>
    <p style='color:gray;background-color:#49ff00'>#49ff00</p>
    <p style='color:gray;background-color:#79ff00'>#79ff00</p>
    <p style='color:gray;background-color:#aaff00'>#aaff00</p>
    <p style='color:gray;background-color:#dbff00'>#dbff00</p>
    <p style='color:gray;background-color:#fff300'>#fff300</p>
    <p style='color:gray;background-color:#ffc200'>#ffc200</p>
    <p style='color:gray;background-color:#ff9200'>#ff9200</p>
    <p style='color:gray;background-color:#ff6100'>#ff6100</p>
    <p style='color:gray;background-color:#ff3100'>#ff3100</p>
    <p style='color:gray;background-color:#ff0000'>#ff0000</p>

  </div>
</div>