<h2 class='colors colors_oranges'> orangeS  orange:var(--orange13):#; </h2>
<div class='colorsRGB colors_oranges'>
<div class='col1'>
    <p style='color:var(--orange25)'>var(--orange25);</p>
    <p style='color:var(--orange24)'>var(--orange24);</p>
    <p style='color:var(--orange23)'>var(--orange23);</p>
    <p style='color:var(--orange22)'>var(--orange22);</p>
    <p style='color:var(--orange21)'>var(--orange21);</p>
    <p style='color:var(--orange20)'>var(--orange20);</p>
    <p style='color:var(--orange19)'>var(--orange19);</p>
    <p style='color:var(--orange18)'>var(--orange18);</p>
    <p style='color:var(--orange17)'>var(--orange17);</p>
    <p style='color:var(--orange16)'>var(--orange16);</p>
    <p style='color:var(--orange15)'>var(--orange15);</p>
    <p style='color:var(--orange14)'>var(--orange14);</p>
    <p style='color:var(--orange13)'>var(--orange13); /* orange */</p>
    <p style='color:var(--orange12)'>var(--orange12);</p>
    <p style='color:var(--orange11)'>var(--orange11);</p>
    <p style='color:var(--orange10)'>var(--orange10);</p>
    <p style='color:var(--orange09)'>var(--orange09);</p>
    <p style='color:var(--orange08)'>var(--orange08);</p>
    <p style='color:var(--orange07)'>var(--orange07);</p>
    <p style='color:var(--orange06)'>var(--orange06);</p>
    <p style='color:var(--orange05)'>var(--orange05);</p>
    <p style='color:var(--orange04)'>var(--orange04);</p>
    <p style='color:var(--orange03)'>var(--orange03);</p>
    <p style='color:var(--orange02)'>var(--orange02);</p>
    <p style='color:var(--orange01)'>var(--orange01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--orange26);background-color:var(--orange25)'>--orange25</p>
    <p style='color:var(--orange26);background-color:var(--orange24)'>--orange24</p>
    <p style='color:var(--orange26);background-color:var(--orange23)'>--orange23</p>
    <p style='color:var(--orange26);background-color:var(--orange22)'>--orange22</p>
    <p style='color:var(--orange26);background-color:var(--orange21)'>--orange21</p>
    <p style='color:var(--orange26);background-color:var(--orange20)'>--orange20</p>
    <p style='color:var(--orange26);background-color:var(--orange19)'>--orange19</p>
    <p style='color:var(--orange26);background-color:var(--orange18)'>--orange18</p>
    <p style='color:var(--orange26);background-color:var(--orange17)'>--orange17</p>
    <p style='color:var(--orange26);background-color:var(--orange16)'>--orange16</p>
    <p style='color:var(--orange26);background-color:var(--orange15)'>--orange15</p>
    <p style='color:var(--orange26);background-color:var(--orange14)'>--orange14</p>
    <p style='color:var(--orange26);background-color:var(--orange13)'>--orange13/* orange */</p>
    <p style='color:var(--orange26);background-color:var(--orange12)'>--orange12</p>
    <p style='color:var(--orange26);background-color:var(--orange11)'>--orange11</p>
    <p style='color:var(--orange26);background-color:var(--orange10)'>--orange10</p>
    <p style='color:var(--orange26);background-color:var(--orange09)'>--orange09</p>
    <p style='color:var(--orange26);background-color:var(--orange08)'>--orange08</p>
    <p style='color:var(--orange26);background-color:var(--orange07)'>--orange07</p>
    <p style='color:var(--orange26);background-color:var(--orange06)'>--orange06</p>
    <p style='color:var(--orange26);background-color:var(--orange05)'>--orange05</p>
    <p style='color:var(--orange26);background-color:var(--orange04)'>--orange04</p>
    <p style='color:var(--orange26);background-color:var(--orange03)'>--orange03</p>
    <p style='color:var(--orange26);background-color:var(--orange02)'>--orange02</p>
    <p style='color:var(--orange26);background-color:var(--orange01)'>--orange01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_oranges'> ORANGES MONOCROMATIC </h2>
    <p style='color:var(--orange3)'>var(--orange3);</p>
    <p style='color:var(--orange2)'>var(--orange2);</p>
    <p style='color:var(--orange1)'>var(--orange1);</p>
    <p style='color:var(--orange0)'>var(--orange0);</p>
    <p style='color:var(--orange-1)'>var(--orange-1);</p>
    <p style='color:var(--orange-2)'>var(--orange-2);</p>
    <p style='color:var(--orange-3)'>var(--orange-3);</p>
    <h2 class='colors colors_oranges'> ORANGES ALTERNATIVES </h2>
    <p style='color:var(--orangeA3)'>var(--orangeA3);</p>
    <p style='color:var(--orangeA2)'>var(--orangeA2);</p>
    <p style='color:var(--orangeA1)'>var(--orangeA1);</p>
    <p style='color:var(--orange0)'>var(--orange0);</p>
    <p style='color:var(--orange1A)'>var(--orange1A);</p>
    <p style='color:var(--orange2A)'>var(--orange2A);</p>
    <p style='color:var(--orange3A)'>var(--orange3A);</p>
    <h2 class='colors colors_oranges'> ORANGES TONES </h2>
    <p style='color:var(--orange-12)'>var(--orange-12);</p>
    <p style='color:var(--orange-11)'>var(--orange-11);</p>
    <p style='color:var(--orange-10)'>var(--orange-10);</p>
    <p style='color:var(--orange-09)'>var(--orange-09);</p>
    <p style='color:var(--orange-08)'>var(--orange-08);</p>
    <p style='color:var(--orange-07)'>var(--orange-07);</p>
    <p style='color:var(--orange-06)'>var(--orange-06);</p>
    <p style='color:var(--orange-05)'>var(--orange-05);</p>
    <p style='color:var(--orange-04)'>var(--orange-04);</p>
    <p style='color:var(--orange-03)'>var(--orange-03);</p>
    <p style='color:var(--orange-02)'>var(--orange-02);</p>
    <p style='color:var(--orange-01)'>var(--orange-01);</p>
    <p style='color:var(--orange0)'>var(--orange0);</p>
  </div> 
  <div class='col2'>
    <h2 class='colors colors_oranges'> ORANGES MONOCROMATIC </h2>
    <p style='color:var(--orange26);background-color:var(--orange3)'>--orange3</p>
    <p style='color:var(--orange26);background-color:var(--orange2)'>--orange2</p>
    <p style='color:var(--orange26);background-color:var(--orange1)'>--orange1</p>
    <p style='color:var(--orange26);background-color:var(--orange0)'>--orange0</p>
    <p style='color:var(--orange26);background-color:var(--orange-1)'>--orange-1</p>
    <p style='color:var(--orange26);background-color:var(--orange-2)'>--orange-2</p>
    <p style='color:var(--orange26);background-color:var(--orange-3)'>--orange-3</p>
    <h2 class='colors colors_oranges'> ORANGES ALTERNATIVES</h2>
    <p style='color:var(--orange26);background-color:var(--orangeA3)'>--orangeA3</p>
    <p style='color:var(--orange26);background-color:var(--orangeA2)'>--orangeA2</p>
    <p style='color:var(--orange26);background-color:var(--orangeA1)'>--orangeA1</p>
    <p style='color:var(--orange26);background-color:var(--orange0)'>--orange0</p>
    <p style='color:var(--orange26);background-color:var(--orange1A)'>--orange1A</p>
    <p style='color:var(--orange26);background-color:var(--orange2A)'>--orange2A</p>
    <p style='color:var(--orange26);background-color:var(--orange3A)'>--orange3A</p>
    <h2 class='colors colors_oranges'> ORANGES TONES </h2>
    <p style='color:var(--orange26);background-color:var(--orange-12)'>--orange-12</p>
    <p style='color:var(--orange26);background-color:var(--orange-11)'>--orange-11</p>
    <p style='color:var(--orange26);background-color:var(--orange-10)'>--orange-10</p>
    <p style='color:var(--orange26);background-color:var(--orange-09)'>--orange-09</p>
    <p style='color:var(--orange26);background-color:var(--orange-08)'>--orange-08</p>
    <p style='color:var(--orange26);background-color:var(--orange-07)'>--orange-07</p>
    <p style='color:var(--orange26);background-color:var(--orange-06)'>--orange-06</p>
    <p style='color:var(--orange26);background-color:var(--orange-05)'>--orange-05</p>
    <p style='color:var(--orange26);background-color:var(--orange-04)'>--orange-04</p>
    <p style='color:var(--orange26);background-color:var(--orange-03)'>--orange-03</p>
    <p style='color:var(--orange26);background-color:var(--orange-02)'>--orange-02</p>
    <p style='color:var(--orange26);background-color:var(--orange0)'>--orange0</p>
  </div>
</div>