<h2 class='colors colors_navys'> SEAS / SKYS </h2>
<div class='colorsRGB colors_seas-skys'>
<div class='col1'>
    <p style='color:var(--sea13)'>var(--sea13);</p>
    <p style='color:var(--sea12)'>var(--sea12);</p>
    <p style='color:var(--sea11)'>var(--sea11);</p>
    <p style='color:var(--sea10)'>var(--sea10);</p>
    <p style='color:var(--sea09)'>var(--sea09);</p>
    <p style='color:var(--sea08)'>var(--sea08);</p>
    <p style='color:var(--sea07)'>var(--sea07);</p>
    <p style='color:var(--sea06)'>var(--sea06);</p>
    <p style='color:var(--sea05)'>var(--sea05);</p>
    <p style='color:var(--sea04)'>var(--sea04);</p>
    <p style='color:var(--sea03)'>var(--sea03);</p>
    <p style='color:var(--sea02)'>var(--sea02);</p>
    <p style='color:var(--sea01)'>var(--sea01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--sea10);background-color:var(--sea13)'>--sea13</p>
    <p style='color:var(--sea10);background-color:var(--sea12)'>--sea12</p>
    <p style='color:var(--sea10);background-color:var(--sea11)'>--sea11</p>
    <p style='color:var(--sea10);background-color:var(--sea10)'>--sea10</p>
    <p style='color:var(--sea10);background-color:var(--sea09)'>--sea09</p>
    <p style='color:var(--sea10);background-color:var(--sea08)'>--sea08</p>
    <p style='color:var(--sea10);background-color:var(--sea07)'>--sea07</p>
    <p style='color:var(--sea10);background-color:var(--sea06)'>--sea06</p>
    <p style='color:var(--sea10);background-color:var(--sea05)'>--sea05</p>
    <p style='color:var(--sea10);background-color:var(--sea04)'>--sea04</p>
    <p style='color:var(--sea10);background-color:var(--sea03)'>--sea03</p>
    <p style='color:var(--sea10);background-color:var(--sea02)'>--sea02</p>
    <p style='color:var(--sea10);background-color:var(--sea01)'>--sea01</p>
  </div>
  <div class='col1'>
    <p style='color:var(--sky11)'>var(--sky11);</p>
    <p style='color:var(--sky10)'>var(--sky10);</p>
    <p style='color:var(--sky09)'>var(--sky09);</p>
    <p style='color:var(--sky08)'>var(--sky08);</p>
    <p style='color:var(--sky07)'>var(--sky07);</p>
    <p style='color:var(--sky06)'>var(--sky06);</p>
    <p style='color:var(--sky05)'>var(--sky05);</p>
    <p style='color:var(--sky04)'>var(--sky04);</p>
    <p style='color:var(--sky03)'>var(--sky03);</p>
    <p style='color:var(--sky02)'>var(--sky02);</p>
    <p style='color:var(--sky01)'>var(--sky01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--sky10);background-color:var(--sky11)'>--sky11</p>
    <p style='color:var(--sky10);background-color:var(--sky10)'>--sky10</p>
    <p style='color:var(--sky10);background-color:var(--sky09)'>--sky09</p>
    <p style='color:var(--sky10);background-color:var(--sky08)'>--sky08</p>
    <p style='color:var(--sky10);background-color:var(--sky07)'>--sky07</p>
    <p style='color:var(--sky10);background-color:var(--sky06)'>--sky06</p>
    <p style='color:var(--sky10);background-color:var(--sky05)'>--sky05</p>
    <p style='color:var(--sky10);background-color:var(--sky04)'>--sky04</p>
    <p style='color:var(--sky10);background-color:var(--sky03)'>--sky03</p>
    <p style='color:var(--sky10);background-color:var(--sky02)'>--sky02</p>
    <p style='color:var(--sky10);background-color:var(--sky01)'>--sky01</p>
  </div>
</div>