<h2 class='colors colors_yellows'> YELLOWS yellow:var(--yellow13):#ff0000; </h2>
<div class='colorsRGB colors_yellows'>
<div class='col1 colors_yellows'>
    <p style='color:var(--yellow25)'>var(--yellow25);</p>
    <p style='color:var(--yellow24)'>var(--yellow24);</p>
    <p style='color:var(--yellow23)'>var(--yellow23);</p>
    <p style='color:var(--yellow22)'>var(--yellow22);</p>
    <p style='color:var(--yellow21)'>var(--yellow21);</p>
    <p style='color:var(--yellow20)'>var(--yellow20);</p>
    <p style='color:var(--yellow19)'>var(--yellow19);</p>
    <p style='color:var(--yellow18)'>var(--yellow18);</p>
    <p style='color:var(--yellow17)'>var(--yellow17);</p>
    <p style='color:var(--yellow16)'>var(--yellow16);</p>
    <p style='color:var(--yellow15)'>var(--yellow15);</p>
    <p style='color:var(--yellow14)'>var(--yellow14);</p>
    <p style='color:var(--yellow13)'>var(--yellow13); /* yellow */</p>
    <p style='color:var(--yellow12)'>var(--yellow12);</p>
    <p style='color:var(--yellow11)'>var(--yellow11);</p>
    <p style='color:var(--yellow10)'>var(--yellow10);</p>
    <p style='color:var(--yellow09)'>var(--yellow09);</p>
    <p style='color:var(--yellow08)'>var(--yellow08);</p>
    <p style='color:var(--yellow07)'>var(--yellow07);</p>
    <p style='color:var(--yellow06)'>var(--yellow06);</p>
    <p style='color:var(--yellow05)'>var(--yellow05);</p>
    <p style='color:var(--yellow04)'>var(--yellow04);</p>
    <p style='color:var(--yellow03)'>var(--yellow03);</p>
    <p style='color:var(--yellow02)'>var(--yellow02);</p>
    <p style='color:var(--yellow01)'>var(--yellow01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--gray27);background-color:var(--yellow25)'>--yellow25</p>
    <p style='color:var(--gray27);background-color:var(--yellow24)'>--yellow24</p>
    <p style='color:var(--gray27);background-color:var(--yellow23)'>--yellow23</p>
    <p style='color:var(--gray27);background-color:var(--yellow22)'>--yellow22</p>
    <p style='color:var(--gray27);background-color:var(--yellow21)'>--yellow21</p>
    <p style='color:var(--gray27);background-color:var(--yellow20)'>--yellow20</p>
    <p style='color:var(--gray27);background-color:var(--yellow19)'>--yellow19</p>
    <p style='color:var(--gray27);background-color:var(--yellow18)'>--yellow18</p>
    <p style='color:var(--gray27);background-color:var(--yellow17)'>--yellow17</p>
    <p style='color:var(--gray27);background-color:var(--yellow16)'>--yellow16</p>
    <p style='color:var(--gray27);background-color:var(--yellow15)'>--yellow15</p>
    <p style='color:var(--gray27);background-color:var(--yellow14)'>--yellow14</p>
    <p style='color:var(--gray27);background-color:var(--yellow13)'>--yellow13/* yellow */</p>
    <p style='color:var(--gray27);background-color:var(--yellow12)'>--yellow12</p>
    <p style='color:var(--gray27);background-color:var(--yellow11)'>--yellow11</p>
    <p style='color:var(--gray27);background-color:var(--yellow10)'>--yellow10</p>
    <p style='color:var(--gray27);background-color:var(--yellow09)'>--yellow09</p>
    <p style='color:var(--gray27);background-color:var(--yellow08)'>--yellow08</p>
    <p style='color:var(--gray27);background-color:var(--yellow07)'>--yellow07</p>
    <p style='color:var(--gray27);background-color:var(--yellow06)'>--yellow06</p>
    <p style='color:var(--gray27);background-color:var(--yellow05)'>--yellow05</p>
    <p style='color:var(--gray27);background-color:var(--yellow04)'>--yellow04</p>
    <p style='color:var(--gray27);background-color:var(--yellow03)'>--yellow03</p>
    <p style='color:var(--gray27);background-color:var(--yellow02)'>--yellow02</p>
    <p style='color:var(--gray27);background-color:var(--yellow01)'>--yellow01</p>
  </div>
</div>