<h2 class='colors colors_olives'> OLIVES </h2>
<div class='colorsRGB colors_olives'>
<div class='col1'>
    <p style='color:var(--olive27)'>var(--olive27);</p>
    <p style='color:var(--olive26)'>var(--olive26);</p>
    <p style='color:var(--olive25)'>var(--olive25);</p>
    <p style='color:var(--olive24)'>var(--olive24);</p>
    <p style='color:var(--olive23)'>var(--olive23);</p>
    <p style='color:var(--olive22)'>var(--olive22);</p>
    <p style='color:var(--olive21)'>var(--olive21);</p>
    <p style='color:var(--olive20)'>var(--olive20);</p>
    <p style='color:var(--olive19)'>var(--olive19);</p>
    <p style='color:var(--olive18)'>var(--olive18);</p>
    <p style='color:var(--olive17)'>var(--olive17);</p>
    <p style='color:var(--olive16)'>var(--olive16);</p>
    <p style='color:var(--olive15)'>var(--olive15);</p>
    <p style='color:var(--olive14)'>var(--olive14);</p>
    <p style='color:var(--olive13)'>var(--olive13); /* olive */</p>
    <p style='color:var(--olive12)'>var(--olive12);</p>
    <p style='color:var(--olive11)'>var(--olive11);</p>
    <p style='color:var(--olive10)'>var(--olive10);</p>
    <p style='color:var(--olive09)'>var(--olive09);</p>
    <p style='color:var(--olive08)'>var(--olive08);</p>
    <p style='color:var(--olive07)'>var(--olive07);</p>
    <p style='color:var(--olive06)'>var(--olive06);</p>
    <p style='color:var(--olive05)'>var(--olive05);</p>
    <p style='color:var(--olive04)'>var(--olive04);</p>
    <p style='color:var(--olive03)'>var(--olive03);</p>
    <p style='color:var(--olive02)'>var(--olive02);</p>
    <p style='color:var(--olive01)'>var(--olive01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--olive26);background-color:var(--olive27)'>--olive27</p>
    <p style='color:var(--olive26);background-color:var(--olive26)'>--olive26</p>
    <p style='color:var(--olive26);background-color:var(--olive25)'>--olive25</p>
    <p style='color:var(--olive26);background-color:var(--olive24)'>--olive24</p>
    <p style='color:var(--olive26);background-color:var(--olive23)'>--olive23</p>
    <p style='color:var(--olive26);background-color:var(--olive22)'>--olive22</p>
    <p style='color:var(--olive26);background-color:var(--olive21)'>--olive21</p>
    <p style='color:var(--olive26);background-color:var(--olive20)'>--olive20</p>
    <p style='color:var(--olive26);background-color:var(--olive19)'>--olive19</p>
    <p style='color:var(--olive26);background-color:var(--olive18)'>--olive18</p>
    <p style='color:var(--olive26);background-color:var(--olive17)'>--olive17</p>
    <p style='color:var(--olive26);background-color:var(--olive16)'>--olive16</p>
    <p style='color:var(--olive26);background-color:var(--olive15)'>--olive15</p>
    <p style='color:var(--olive26);background-color:var(--olive14)'>--olive14</p>
    <p style='color:var(--olive26);background-color:var(--olive13)'>--olive13 /* olive */</p>
    <p style='color:var(--olive26);background-color:var(--olive12)'>--olive12</p>
    <p style='color:var(--olive26);background-color:var(--olive11)'>--olive11</p>
    <p style='color:var(--olive26);background-color:var(--olive10)'>--olive10</p>
    <p style='color:var(--olive26);background-color:var(--olive09)'>--olive09</p>
    <p style='color:var(--olive26);background-color:var(--olive08)'>--olive08</p>
    <p style='color:var(--olive26);background-color:var(--olive07)'>--olive07</p>
    <p style='color:var(--olive26);background-color:var(--olive06)'>--olive06</p>
    <p style='color:var(--olive26);background-color:var(--olive05)'>--olive05</p>
    <p style='color:var(--olive26);background-color:var(--olive04)'>--olive04</p>
    <p style='color:var(--olive26);background-color:var(--olive03)'>--olive03</p>
    <p style='color:var(--olive26);background-color:var(--olive02)'>--olive02</p>
    <p style='color:var(--olive26);background-color:var(--olive01)'>--olive01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_olives'> OLIVES MONOCROMATIC </h2>
    <p style='color:var(--olive3)'>var(--olive3);</p>
    <p style='color:var(--olive2)'>var(--olive2);</p>
    <p style='color:var(--olive1)'>var(--olive1);</p>
    <p style='color:var(--olive0)'>var(--olive0); /* olive */</p>
    <p style='color:var(--olive-1)'>var(--olive-1);</p>
    <p style='color:var(--olive-2)'>var(--olive-2);</p>
    <p style='color:var(--olive-3)'>var(--olive-3);</p>
    <h2 class='colors colors_olives'> OLIVES ALTERNATIVES </h2>
    <p style='color:var(--oliveA3)'>var(--oliveA3);</p>
    <p style='color:var(--oliveA2)'>var(--oliveA2);</p>
    <p style='color:var(--oliveA1)'>var(--oliveA1);</p>
    <p style='color:var(--olive0)'>var(--olive0); /* olive */</p> 
    <p style='color:var(--olive1A)'>var(--olive1A);</p>
    <p style='color:var(--olive2A)'>var(--olive2A);</p>
    <p style='color:var(--olive3A)'>var(--olive3A);</p>
    <h2 class='colors colors_olives'> OLIVES TONES </h2>
    <p style='color:var(--olive-12)'>var(--olive-12);</p>
    <p style='color:var(--olive-11)'>var(--olive-11);</p>
    <p style='color:var(--olive-10)'>var(--olive-10);</p>
    <p style='color:var(--olive-09)'>var(--olive-09);</p>
    <p style='color:var(--olive-08)'>var(--olive-08);</p>
    <p style='color:var(--olive-07)'>var(--olive-07);</p>
    <p style='color:var(--olive-06)'>var(--olive-06);</p>
    <p style='color:var(--olive-05)'>var(--olive-05);</p>
    <p style='color:var(--olive-04)'>var(--olive-04);</p>
    <p style='color:var(--olive-03)'>var(--olive-03);</p>
    <p style='color:var(--olive-02)'>var(--olive-02);</p>
    <p style='color:var(--olive-01)'>var(--olive-01);</p>
    <p style='color:var(--olive0)'>var(--olive0);/* olive */</p> 
  </div> 
  <div class='col2'>
    <h2 class='colors colors_olives'> OLIVES MONOCROMATIC </h2>
    <p style='color:var(--olive26);background-color:var(--olive3)'>--olive3</p>
    <p style='color:var(--olive26);background-color:var(--olive2)'>--olive2</p>
    <p style='color:var(--olive26);background-color:var(--olive1)'>--olive1</p>
    <p style='color:var(--olive26);background-color:var(--olive0)'>--olive0 /* olive */</p>
    <p style='color:var(--olive26);background-color:var(--olive-1)'>--olive-1</p>
    <p style='color:var(--olive26);background-color:var(--olive-2)'>--olive-2</p>
    <p style='color:var(--olive26);background-color:var(--olive-3)'>--olive-3</p>
    <h2 class='colors colors_olives'> OLIVES ALTERNATIVES</h2>
    <p style='color:var(--olive26);background-color:var(--oliveA3)'>--oliveA3</p>
    <p style='color:var(--olive26);background-color:var(--oliveA2)'>--oliveA2</p>
    <p style='color:var(--olive26);background-color:var(--oliveA1)'>--oliveA1</p>
    <p style='color:var(--olive26);background-color:var(--olive0)'>--olive0 /* olive */</p>
    <p style='color:var(--olive26);background-color:var(--olive1A)'>--olive1A</p>
    <p style='color:var(--olive26);background-color:var(--olive2A)'>--olive2A</p>
    <p style='color:var(--olive26);background-color:var(--olive3A)'>--olive3A</p>
    <h2 class='colors colors_olives'> OLIVES TONES </h2>
    <p style='color:var(--olive26);background-color:var(--olive-12)'>--olive-12</p>
    <p style='color:var(--olive26);background-color:var(--olive-11)'>--olive-11</p>
    <p style='color:var(--olive26);background-color:var(--olive-10)'>--olive-10</p>
    <p style='color:var(--olive26);background-color:var(--olive-09)'>--olive-09</p>
    <p style='color:var(--olive26);background-color:var(--olive-08)'>--olive-08</p>
    <p style='color:var(--olive26);background-color:var(--olive-07)'>--olive-07</p>
    <p style='color:var(--olive26);background-color:var(--olive-06)'>--olive-06</p>
    <p style='color:var(--olive26);background-color:var(--olive-05)'>--olive-05</p>
    <p style='color:var(--olive26);background-color:var(--olive-04)'>--olive-04</p>
    <p style='color:var(--olive26);background-color:var(--olive-03)'>--olive-03</p>
    <p style='color:var(--olive26);background-color:var(--olive-02)'>--olive-02</p>
    <p style='color:var(--olive26);background-color:var(--olive-01)'>--olive-01</p>
    <p style='color:var(--olive26);background-color:var(--olive0)'>--olive0 /* olive */</p>
  </div>
</div>