<h2 class='colors colors_golds'> GOLDS </h2>
<div class='colorsRGB colors_golds'>
<div class='col1'>
    <p style='color:var(--gold25)'>var(--gold25);</p>
    <p style='color:var(--gold24)'>var(--gold24);</p>
    <p style='color:var(--gold23)'>var(--gold23);</p>
    <p style='color:var(--gold22)'>var(--gold22);</p>
    <p style='color:var(--gold21)'>var(--gold21);</p>
    <p style='color:var(--gold20)'>var(--gold20);</p>
    <p style='color:var(--gold19)'>var(--gold19);</p>
    <p style='color:var(--gold18)'>var(--gold18);</p>
    <p style='color:var(--gold17)'>var(--gold17);</p>
    <p style='color:var(--gold16)'>var(--gold16);</p>
    <p style='color:var(--gold15)'>var(--gold15);</p>
    <p style='color:var(--gold14)'>var(--gold14);</p>
    <p style='color:var(--gold13)'>var(--gold13); /* gold */</p>
    <p style='color:var(--gold12)'>var(--gold12);</p>
    <p style='color:var(--gold11)'>var(--gold11);</p>
    <p style='color:var(--gold10)'>var(--gold10);</p>
    <p style='color:var(--gold09)'>var(--gold09);</p>
    <p style='color:var(--gold08)'>var(--gold08);</p>
    <p style='color:var(--gold07)'>var(--gold07);</p>
    <p style='color:var(--gold06)'>var(--gold06);</p>
    <p style='color:var(--gold05)'>var(--gold05);</p>
    <p style='color:var(--gold04)'>var(--gold04);</p>
    <p style='color:var(--gold03)'>var(--gold03);</p>
    <p style='color:var(--gold02)'>var(--gold02);</p>
    <p style='color:var(--gold01)'>var(--gold01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--gold26);background-color:var(--gold25)'>--gold25</p>
    <p style='color:var(--gold26);background-color:var(--gold24)'>--gold24</p>
    <p style='color:var(--gold26);background-color:var(--gold23)'>--gold23</p>
    <p style='color:var(--gold26);background-color:var(--gold22)'>--gold22</p>
    <p style='color:var(--gold26);background-color:var(--gold21)'>--gold21</p>
    <p style='color:var(--gold26);background-color:var(--gold20)'>--gold20</p>
    <p style='color:var(--gold26);background-color:var(--gold19)'>--gold19</p>
    <p style='color:var(--gold26);background-color:var(--gold18)'>--gold18</p>
    <p style='color:var(--gold26);background-color:var(--gold17)'>--gold17</p>
    <p style='color:var(--gold26);background-color:var(--gold16)'>--gold16</p>
    <p style='color:var(--gold26);background-color:var(--gold15)'>--gold15</p>
    <p style='color:var(--gold26);background-color:var(--gold14)'>--gold14</p>
    <p style='color:var(--gold26);background-color:var(--gold13)'>--gold13 /* gold */</p>
    <p style='color:var(--gold26);background-color:var(--gold12)'>--gold12</p>
    <p style='color:var(--gold26);background-color:var(--gold11)'>--gold11</p>
    <p style='color:var(--gold26);background-color:var(--gold10)'>--gold10</p>
    <p style='color:var(--gold26);background-color:var(--gold09)'>--gold09</p>
    <p style='color:var(--gold26);background-color:var(--gold08)'>--gold08</p>
    <p style='color:var(--gold26);background-color:var(--gold07)'>--gold07</p>
    <p style='color:var(--gold26);background-color:var(--gold06)'>--gold06</p>
    <p style='color:var(--gold26);background-color:var(--gold05)'>--gold05</p>
    <p style='color:var(--gold26);background-color:var(--gold04)'>--gold04</p>
    <p style='color:var(--gold26);background-color:var(--gold03)'>--gold03</p>
    <p style='color:var(--gold26);background-color:var(--gold02)'>--gold02</p>
    <p style='color:var(--gold26);background-color:var(--gold01)'>--gold01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_golds'> GOLDS MONOCROMATIC </h2>
    <p style='color:var(--gold3)'>var(--gold3);</p>
    <p style='color:var(--gold2)'>var(--gold2);</p>
    <p style='color:var(--gold1)'>var(--gold1);</p>
    <p style='color:var(--gold0)'>var(--gold0); /* gold */</p>
    <p style='color:var(--gold-1)'>var(--gold-1);</p>
    <p style='color:var(--gold-2)'>var(--gold-2);</p>
    <p style='color:var(--gold-3)'>var(--gold-3);</p>
    <h2 class='colors colors_golds'> GOLDS ALTERNATIVES </h2>
    <p style='color:var(--goldA3)'>var(--goldA3);</p>
    <p style='color:var(--goldA2)'>var(--goldA2);</p>
    <p style='color:var(--goldA1)'>var(--goldA1);</p>
    <p style='color:var(--gold0)'>var(--gold0); /* gold */</p> 
    <p style='color:var(--gold1A)'>var(--gold1A);</p>
    <p style='color:var(--gold2A)'>var(--gold2A);</p>
    <p style='color:var(--gold3A)'>var(--gold3A);</p>
    <h2 class='colors colors_golds'> GOLDS TONES </h2>
    <p style='color:var(--gold-12)'>var(--gold-12);</p>
    <p style='color:var(--gold-11)'>var(--gold-11);</p>
    <p style='color:var(--gold-10)'>var(--gold-10);</p>
    <p style='color:var(--gold-09)'>var(--gold-09);</p>
    <p style='color:var(--gold-08)'>var(--gold-08);</p>
    <p style='color:var(--gold-07)'>var(--gold-07);</p>
    <p style='color:var(--gold-06)'>var(--gold-06);</p>
    <p style='color:var(--gold-05)'>var(--gold-05);</p>
    <p style='color:var(--gold-04)'>var(--gold-04);</p>
    <p style='color:var(--gold-03)'>var(--gold-03);</p>
    <p style='color:var(--gold-02)'>var(--gold-02);</p>
    <p style='color:var(--gold-01)'>var(--gold-01);</p>
    <p style='color:var(--gold0)'>var(--gold0);/* gold */</p> 
  </div> 
  <div class='col2'>
    <h2 class='colors colors_golds'> GOLDS MONOCROMATIC </h2>
    <p style='color:var(--gold26);background-color:var(--gold3)'>--gold3</p>
    <p style='color:var(--gold26);background-color:var(--gold2)'>--gold2</p>
    <p style='color:var(--gold26);background-color:var(--gold1)'>--gold1</p>
    <p style='color:var(--gold26);background-color:var(--gold0)'>--gold0 /* gold */</p>
    <p style='color:var(--gold26);background-color:var(--gold-1)'>--gold-1</p>
    <p style='color:var(--gold26);background-color:var(--gold-2)'>--gold-2</p>
    <p style='color:var(--gold26);background-color:var(--gold-3)'>--gold-3</p>
    <h2 class='colors colors_golds'> GOLDS ALTERNATIVES</h2>
    <p style='color:var(--gold26);background-color:var(--goldA3)'>--goldA3</p>
    <p style='color:var(--gold26);background-color:var(--goldA2)'>--goldA2</p>
    <p style='color:var(--gold26);background-color:var(--goldA1)'>--goldA1</p>
    <p style='color:var(--gold26);background-color:var(--gold0)'>--gold0 /* gold */</p>
    <p style='color:var(--gold26);background-color:var(--gold1A)'>--gold1A</p>
    <p style='color:var(--gold26);background-color:var(--gold2A)'>--gold2A</p>
    <p style='color:var(--gold26);background-color:var(--gold3A)'>--gold3A</p>
    <h2 class='colors colors_golds'> GOLDS TONES </h2>
    <p style='color:var(--gold26);background-color:var(--gold-12)'>--gold-12</p>
    <p style='color:var(--gold26);background-color:var(--gold-11)'>--gold-11</p>
    <p style='color:var(--gold26);background-color:var(--gold-10)'>--gold-10</p>
    <p style='color:var(--gold26);background-color:var(--gold-09)'>--gold-09</p>
    <p style='color:var(--gold26);background-color:var(--gold-08)'>--gold-08</p>
    <p style='color:var(--gold26);background-color:var(--gold-07)'>--gold-07</p>
    <p style='color:var(--gold26);background-color:var(--gold-06)'>--gold-06</p>
    <p style='color:var(--gold26);background-color:var(--gold-05)'>--gold-05</p>
    <p style='color:var(--gold26);background-color:var(--gold-04)'>--gold-04</p>
    <p style='color:var(--gold26);background-color:var(--gold-03)'>--gold-03</p>
    <p style='color:var(--gold26);background-color:var(--gold-02)'>--gold-02</p>
    <p style='color:var(--gold26);background-color:var(--gold-01)'>--gold-01</p>
    <p style='color:var(--gold26);background-color:var(--gold0)'>--gold0 /* gold */</p>
  </div>
</div>