<h2 class='colors colors_greens'> GREENS  green:var(--green13):#; </h2>
<div class='colorsRGB colors_greens'>
<div class='col1 colors_greens'>
    <p style='color:var(--green25)'>var(--green25);</p>
    <p style='color:var(--green24)'>var(--green24);</p>
    <p style='color:var(--green23)'>var(--green23);</p>
    <p style='color:var(--green22)'>var(--green22);</p>
    <p style='color:var(--green21)'>var(--green21);</p>
    <p style='color:var(--green20)'>var(--green20);</p>
    <p style='color:var(--green19)'>var(--green19);</p>
    <p style='color:var(--green18)'>var(--green18);</p>
    <p style='color:var(--green17)'>var(--green17);</p>
    <p style='color:var(--green16)'>var(--green16);</p>
    <p style='color:var(--green15)'>var(--green15);</p>
    <p style='color:var(--green14)'>var(--green14);</p>
    <p style='color:var(--green13)'>var(--green13); /* green */</p>
    <p style='color:var(--green12)'>var(--green12);</p>
    <p style='color:var(--green11)'>var(--green11);</p>
    <p style='color:var(--green10)'>var(--green10);</p>
    <p style='color:var(--green09)'>var(--green09);</p>
    <p style='color:var(--green08)'>var(--green08);</p>
    <p style='color:var(--green07)'>var(--green07);</p>
    <p style='color:var(--green06)'>var(--green06);</p>
    <p style='color:var(--green05)'>var(--green05);</p>
    <p style='color:var(--green04)'>var(--green04);</p>
    <p style='color:var(--green03)'>var(--green03);</p>
    <p style='color:var(--green02)'>var(--green02);</p>
    <p style='color:var(--green01)'>var(--green01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--gray27);background-color:var(--green25)'>--green25</p>
    <p style='color:var(--gray27);background-color:var(--green24)'>--green24</p>
    <p style='color:var(--gray27);background-color:var(--green23)'>--green23</p>
    <p style='color:var(--gray27);background-color:var(--green22)'>--green22</p>
    <p style='color:var(--gray27);background-color:var(--green21)'>--green21</p>
    <p style='color:var(--gray27);background-color:var(--green20)'>--green20</p>
    <p style='color:var(--gray27);background-color:var(--green19)'>--green19</p>
    <p style='color:var(--gray27);background-color:var(--green18)'>--green18</p>
    <p style='color:var(--gray27);background-color:var(--green17)'>--green17</p>
    <p style='color:var(--gray27);background-color:var(--green16)'>--green16</p>
    <p style='color:var(--gray27);background-color:var(--green15)'>--green15</p>
    <p style='color:var(--gray27);background-color:var(--green14)'>--green14</p>
    <p style='color:var(--gray27);background-color:var(--green13)'>--green13/* green */</p>
    <p style='color:var(--gray27);background-color:var(--green12)'>--green12</p>
    <p style='color:var(--gray27);background-color:var(--green11)'>--green11</p>
    <p style='color:var(--gray27);background-color:var(--green10)'>--green10</p>
    <p style='color:var(--gray27);background-color:var(--green09)'>--green09</p>
    <p style='color:var(--gray27);background-color:var(--green08)'>--green08</p>
    <p style='color:var(--gray27);background-color:var(--green07)'>--green07</p>
    <p style='color:var(--gray27);background-color:var(--green06)'>--green06</p>
    <p style='color:var(--gray27);background-color:var(--green05)'>--green05</p>
    <p style='color:var(--gray27);background-color:var(--green04)'>--green04</p>
    <p style='color:var(--gray27);background-color:var(--green03)'>--green03</p>
    <p style='color:var(--gray27);background-color:var(--green02)'>--green02</p>
    <p style='color:var(--gray27);background-color:var(--green01)'>--green01</p>
  </div>
  <div class='col1'>
  <h2 class='colors colors_greens'> GREENS MONOCROMATIC </h2>
    <p style='color:var(--green3)'>var(--green3);</p>
    <p style='color:var(--green2)'>var(--green2);</p>
    <p style='color:var(--green1)'>var(--green1);</p>
    <p style='color:var(--green0)'>var(--green0);</p>
    <p style='color:var(--green-1)'>var(--green-1);</p>
    <p style='color:var(--green-2)'>var(--green-2);</p>
    <p style='color:var(--green-3)'>var(--green-3);</p>
    <h2 class='colors colors_greens'> GREENS ALTERNATIVES </h2>
    <p style='color:var(--greenA3)'>var(--greenA3);</p>
    <p style='color:var(--greenA2)'>var(--greenA2);</p>
    <p style='color:var(--greenA1)'>var(--greenA1);</p>
    <p style='color:var(--green0)'>var(--green0);</p>
    <p style='color:var(--green1A)'>var(--green1A);</p>
    <p style='color:var(--green2A)'>var(--green2A);</p>
    <p style='color:var(--green3A)'>var(--green3A);</p>
    <h2 class='colors colors_greens'> GREENS TONES </h2>
    <p style='color:var(--green-12)'>var(--green-12);</p>
    <p style='color:var(--green-11)'>var(--green-11);</p>
    <p style='color:var(--green-10)'>var(--green-10);</p>
    <p style='color:var(--green-09)'>var(--green-09);</p>
    <p style='color:var(--green-08)'>var(--green-08);</p>
    <p style='color:var(--green-07)'>var(--green-07);</p>
    <p style='color:var(--green-06)'>var(--green-06);</p>
    <p style='color:var(--green-05)'>var(--green-05);</p>
    <p style='color:var(--green-04)'>var(--green-04);</p>
    <p style='color:var(--green-03)'>var(--green-03);</p>
    <p style='color:var(--green-02)'>var(--green-02);</p>
    <p style='color:var(--green-01)'>var(--green-01);</p>
  </div> 
  <div class='col2'>
    <h2 class='colors colors_greens'> GREENS MONOCROMATIC </h2>
    <p style='color:var(--green25);background-color:var(--green3)'>--green3</p>
    <p style='color:var(--green25);background-color:var(--green2)'>--green2</p>
    <p style='color:var(--green25);background-color:var(--green1)'>--green1</p>
    <p style='color:var(--green25);background-color:var(--green0)'>--green0</p>
    <p style='color:var(--green25);background-color:var(--green-1)'>--green-1</p>
    <p style='color:var(--green25);background-color:var(--green-2)'>--green-2</p>
    <p style='color:var(--green25);background-color:var(--green-3)'>--green-3</p>
    <h2 class='colors colors_greens'> GREENS ALTERNATIVES</h2>
    <p style='color:var(--green25);background-color:var(--greenA3)'>--greenA3</p>
    <p style='color:var(--green25);background-color:var(--greenA2)'>--greenA2</p>
    <p style='color:var(--green25);background-color:var(--greenA1)'>--greenA1</p>
    <p style='color:var(--green25);background-color:var(--green0)'>--green0</p>
    <p style='color:var(--green25);background-color:var(--green1A)'>--green1A</p>
    <p style='color:var(--green25);background-color:var(--green2A)'>--green2A</p>
    <p style='color:var(--green25);background-color:var(--green3A)'>--green3A</p>
    <h2 class='colors colors_greens'> GREENS TONES </h2>
    <p style='color:var(--green25);background-color:var(--green-12)'>--green-12</p>
    <p style='color:var(--green25);background-color:var(--green-11)'>--green-11</p>
    <p style='color:var(--green25);background-color:var(--green-10)'>--green-10</p>
    <p style='color:var(--green25);background-color:var(--green-09)'>--green-09</p>
    <p style='color:var(--green25);background-color:var(--green-08)'>--green-08</p>
    <p style='color:var(--green25);background-color:var(--green-07)'>--green-07</p>
    <p style='color:var(--green25);background-color:var(--green-06)'>--green-06</p>
    <p style='color:var(--green25);background-color:var(--green-05)'>--green-05</p>
    <p style='color:var(--green25);background-color:var(--green-04)'>--green-04</p>
    <p style='color:var(--green25);background-color:var(--green-03)'>--green-03</p>
    <p style='color:var(--green25);background-color:var(--green-02)'>--green-02</p>
    <p style='color:var(--green25);background-color:var(--green-01)'>--green-01</p>
  </div>
</div>