<h2 class='colors colors_grays'> GRAYS  gray:var(--gray13):#808080;</h2>
<div class='colorsRGB colors_grays'>
<div  class='col1'>  
    <p style='color:var(--gray27)'>--gray27: #000000; /* black */</p>
    <p style='color:var(--gray26)'>--gray26: #020202; </p>
    <p style='color:var(--gray25)'>--gray25: #0c0c0c; </p>
    <p style='color:var(--gray24)'>--gray24: #161616; </p>
    <p style='color:var(--gray23)'>--gray23: #1f1f1f; </p>
    <p style='color:var(--gray22)'>--gray22: #292929; </p>
    <p style='color:var(--gray21)'>--gray21: #333333; </p>
    <p style='color:var(--gray20)'>--gray20: #3d3d3d; </p>
    <p style='color:var(--gray19)'>--gray19: #474747; </p>
    <p style='color:var(--gray18)'>--gray18: #505050; </p>
    <p style='color:var(--gray17)'>--gray17: #5a5a5a; </p>
    <p style='color:var(--gray16)'>--gray16: #646464; </p>
    <p style='color:var(--gray15)'>--gray15: #6e6e6e; </p>
    <p style='color:var(--gray14)'>--gray14: #787878; </p>
    <p style='color:var(--gray13)'>--gray13: #818181; /* gray */</p>
    <p style='color:var(--gray12)'>--gray12: #8b8b8b; </p>
    <p style='color:var(--gray11)'>--gray11: #959595; </p>
    <p style='color:var(--gray10)'>--gray10: #9f9f9f; </p>
    <p style='color:var(--gray09)'>--gray09: #a9a9a9; </p>
    <p style='color:var(--gray08)'>--gray08: #b3b3b3; </p>
    <p style='color:var(--gray07)'>--gray07: #bcbcbc; </p>
    <p style='color:var(--gray06)'>--gray06: #c6c6c6; </p>
    <p style='color:var(--gray05)'>--gray05: #d0d0d0; </p>
    <p style='color:var(--gray04)'>--gray04: #dadada; </p>
    <p style='color:var(--gray03)'>--gray03: #e4e4e4; </p>
    <p style='color:var(--gray02)'>--gray02: #ededed; </p>
    <p style='color:var(--gray01)'>--gray01: #f7f7f7;</p>
    <p style='color:var(--gray00)'>--gray00: #ffffff; /* white */</p>
  </div> 
  <div class='col2'>
    <p style='color:var(--red15);background-color:var(--gray27)'>--gray27: #000000; /* black */</p>
    <p style='color:var(--red15);background-color:var(--gray26)'>--gray26: #020202; </p>
    <p style='color:var(--red15);background-color:var(--gray25)'>--gray25: #0c0c0c; </p>
    <p style='color:var(--red15);background-color:var(--gray24)'>--gray24: #161616; </p>
    <p style='color:var(--red15);background-color:var(--gray23)'>--gray23: #1f1f1f; </p>
    <p style='color:var(--red15);background-color:var(--gray22)'>--gray22: #292929; </p>
    <p style='color:var(--red15);background-color:var(--gray21)'>--gray21: #333333; </p>
    <p style='color:var(--red15);background-color:var(--gray20)'>--gray20: #3d3d3d; </p>
    <p style='color:var(--red15);background-color:var(--gray19)'>--gray19: #474747; </p>
    <p style='color:var(--red15);background-color:var(--gray18)'>--gray18: #505050; </p>
    <p style='color:var(--red15);background-color:var(--gray17)'>--gray17: #5a5a5a; </p>
    <p style='color:var(--red15);background-color:var(--gray16)'>--gray16: #646464; </p>
    <p style='color:var(--red15);background-color:var(--gray15)'>--gray15: #6e6e6e; </p>
    <p style='color:var(--red15);background-color:var(--gray14)'>--gray14: #787878; </p>
    <p style='color:var(--red15);background-color:var(--gray13)'>--gray13: #818181; /* gray */</p>
    <p style='color:var(--red15);background-color:var(--gray12)'>--gray12: #8b8b8b; </p>
    <p style='color:var(--red15);background-color:var(--gray11)'>--gray11: #959595; </p>
    <p style='color:var(--red15);background-color:var(--gray10)'>--gray10: #9f9f9f; </p>
    <p style='color:var(--red15);background-color:var(--gray09)'>--gray09: #a9a9a9; </p>
    <p style='color:var(--red15);background-color:var(--gray08)'>--gray08: #b3b3b3; </p>
    <p style='color:var(--red15);background-color:var(--gray07)'>--gray07: #bcbcbc; </p>
    <p style='color:var(--red15);background-color:var(--gray06)'>--gray06: #c6c6c6; </p>
    <p style='color:var(--red15);background-color:var(--gray05)'>--gray05: #d0d0d0; </p>
    <p style='color:var(--red15);background-color:var(--gray04)'>--gray04: #dadada; </p>
    <p style='color:var(--red15);background-color:var(--gray03)'>--gray03: #e4e4e4; </p>
    <p style='color:var(--red15);background-color:var(--gray02)'>--gray02: #ededed; </p>
    <p style='color:var(--red15);background-color:var(--gray01)'>--gray01: #f7f7f7;</p>
    <p style='color:var(--red15);background-color:var(--gray00)'>--gray00: #ffffff; /* white */</p>
  </div5
</div>