<h2 class='colors colors_greens'> GREENS  green:var(--green13):#; </h2>
<div class='colorsRGB colors_greens'>
<div class='col1 colors_greens'>
    <p style='color:var(--green25)'>var(--green25);</p>
    <p style='color:var(--green24)'>var(--green24);</p>
    <p style='color:var(--green23)'>var(--green23);</p>
    <p style='color:var(--green22)'>var(--green22);</p>
    <p style='color:var(--green21)'>var(--green21);</p>
    <p style='color:var(--green20)'>var(--green20);</p>
    <p style='color:var(--green19)'>var(--green19);</p>
    <p style='color:var(--green18)'>var(--green18);</p>
    <p style='color:var(--green17)'>var(--green17);</p>
    <p style='color:var(--green16)'>var(--green16);</p>
    <p style='color:var(--green15)'>var(--green15);</p>
    <p style='color:var(--green14)'>var(--green14);</p>
    <p style='color:var(--green13)'>var(--green13); /* green */</p>
    <p style='color:var(--green12)'>var(--green12);</p>
    <p style='color:var(--green11)'>var(--green11);</p>
    <p style='color:var(--green10)'>var(--green10);</p>
    <p style='color:var(--green09)'>var(--green09);</p>
    <p style='color:var(--green08)'>var(--green08);</p>
    <p style='color:var(--green07)'>var(--green07);</p>
    <p style='color:var(--green06)'>var(--green06);</p>
    <p style='color:var(--green05)'>var(--green05);</p>
    <p style='color:var(--green04)'>var(--green04);</p>
    <p style='color:var(--green03)'>var(--green03);</p>
    <p style='color:var(--green02)'>var(--green02);</p>
    <p style='color:var(--green01)'>var(--green01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--gray27);background-color:var(--green25)'>--green25</p>
    <p style='color:var(--gray27);background-color:var(--green24)'>--green24</p>
    <p style='color:var(--gray27);background-color:var(--green23)'>--green23</p>
    <p style='color:var(--gray27);background-color:var(--green22)'>--green22</p>
    <p style='color:var(--gray27);background-color:var(--green21)'>--green21</p>
    <p style='color:var(--gray27);background-color:var(--green20)'>--green20</p>
    <p style='color:var(--gray27);background-color:var(--green19)'>--green19</p>
    <p style='color:var(--gray27);background-color:var(--green18)'>--green18</p>
    <p style='color:var(--gray27);background-color:var(--green17)'>--green17</p>
    <p style='color:var(--gray27);background-color:var(--green16)'>--green16</p>
    <p style='color:var(--gray27);background-color:var(--green15)'>--green15</p>
    <p style='color:var(--gray27);background-color:var(--green14)'>--green14</p>
    <p style='color:var(--gray27);background-color:var(--green13)'>--green13/* green */</p>
    <p style='color:var(--gray27);background-color:var(--green12)'>--green12</p>
    <p style='color:var(--gray27);background-color:var(--green11)'>--green11</p>
    <p style='color:var(--gray27);background-color:var(--green10)'>--green10</p>
    <p style='color:var(--gray27);background-color:var(--green09)'>--green09</p>
    <p style='color:var(--gray27);background-color:var(--green08)'>--green08</p>
    <p style='color:var(--gray27);background-color:var(--green07)'>--green07</p>
    <p style='color:var(--gray27);background-color:var(--green06)'>--green06</p>
    <p style='color:var(--gray27);background-color:var(--green05)'>--green05</p>
    <p style='color:var(--gray27);background-color:var(--green04)'>--green04</p>
    <p style='color:var(--gray27);background-color:var(--green03)'>--green03</p>
    <p style='color:var(--gray27);background-color:var(--green02)'>--green02</p>
    <p style='color:var(--gray27);background-color:var(--green01)'>--green01</p>
  </div>
</div>