<h2 class='colors colors_teals'> TEALS </h2>
<div class='colorsRGB colors_teals'>
<div class='col1'>
    <p style='color:var(--teal26)'>var(--teal26);</p>
    <p style='color:var(--teal25)'>var(--teal25);</p>
    <p style='color:var(--teal24)'>var(--teal24);</p>
    <p style='color:var(--teal23)'>var(--teal23);</p>
    <p style='color:var(--teal22)'>var(--teal22);</p>
    <p style='color:var(--teal21)'>var(--teal21);</p>
    <p style='color:var(--teal20)'>var(--teal20);</p>
    <p style='color:var(--teal19)'>var(--teal19);</p>
    <p style='color:var(--teal18)'>var(--teal18);</p>
    <p style='color:var(--teal17)'>var(--teal17);</p>
    <p style='color:var(--teal16)'>var(--teal16);</p>
    <p style='color:var(--teal15)'>var(--teal15);</p>
    <p style='color:var(--teal14)'>var(--teal14);</p>
    <p style='color:var(--teal13)'>var(--teal13); /* teal */</p>
    <p style='color:var(--teal12)'>var(--teal12);</p>
    <p style='color:var(--teal11)'>var(--teal11);</p>
    <p style='color:var(--teal10)'>var(--teal10);</p>
    <p style='color:var(--teal09)'>var(--teal09);</p>
    <p style='color:var(--teal08)'>var(--teal08);</p>
    <p style='color:var(--teal07)'>var(--teal07);</p>
    <p style='color:var(--teal06)'>var(--teal06);</p>
    <p style='color:var(--teal05)'>var(--teal05);</p>
    <p style='color:var(--teal04)'>var(--teal04);</p>
    <p style='color:var(--teal03)'>var(--teal03);</p>
    <p style='color:var(--teal02)'>var(--teal02);</p>
    <p style='color:var(--teal01)'>var(--teal01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--teal26);background-color:var(--teal26)'>--teal26</p>
    <p style='color:var(--teal26);background-color:var(--teal25)'>--teal25</p>
    <p style='color:var(--teal26);background-color:var(--teal24)'>--teal24</p>
    <p style='color:var(--teal26);background-color:var(--teal23)'>--teal23</p>
    <p style='color:var(--teal26);background-color:var(--teal22)'>--teal22</p>
    <p style='color:var(--teal26);background-color:var(--teal21)'>--teal21</p>
    <p style='color:var(--teal26);background-color:var(--teal20)'>--teal20</p>
    <p style='color:var(--teal26);background-color:var(--teal19)'>--teal19</p>
    <p style='color:var(--teal26);background-color:var(--teal18)'>--teal18</p>
    <p style='color:var(--teal26);background-color:var(--teal17)'>--teal17</p>
    <p style='color:var(--teal26);background-color:var(--teal16)'>--teal16</p>
    <p style='color:var(--teal26);background-color:var(--teal15)'>--teal15</p>
    <p style='color:var(--teal26);background-color:var(--teal14)'>--teal14</p>
    <p style='color:var(--teal26);background-color:var(--teal13)'>--teal13 /* teal */</p>
    <p style='color:var(--teal26);background-color:var(--teal12)'>--teal12</p>
    <p style='color:var(--teal26);background-color:var(--teal11)'>--teal11</p>
    <p style='color:var(--teal26);background-color:var(--teal10)'>--teal10</p>
    <p style='color:var(--teal26);background-color:var(--teal09)'>--teal09</p>
    <p style='color:var(--teal26);background-color:var(--teal08)'>--teal08</p>
    <p style='color:var(--teal26);background-color:var(--teal07)'>--teal07</p>
    <p style='color:var(--teal26);background-color:var(--teal06)'>--teal06</p>
    <p style='color:var(--teal26);background-color:var(--teal05)'>--teal05</p>
    <p style='color:var(--teal26);background-color:var(--teal04)'>--teal04</p>
    <p style='color:var(--teal26);background-color:var(--teal03)'>--teal03</p>
    <p style='color:var(--teal26);background-color:var(--teal02)'>--teal02</p>
    <p style='color:var(--teal26);background-color:var(--teal01)'>--teal01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_teals'> TEALS MONOCROMATIC </h2>
    <p style='color:var(--teal3)'>var(--teal3);</p>
    <p style='color:var(--teal2)'>var(--teal2);</p>
    <p style='color:var(--teal1)'>var(--teal1);</p>
    <p style='color:var(--teal0)'>var(--teal0); /* teal */</p>
    <p style='color:var(--teal-1)'>var(--teal-1);</p>
    <p style='color:var(--teal-2)'>var(--teal-2);</p>
    <p style='color:var(--teal-3)'>var(--teal-3);</p>
    <h2 class='colors colors_teals'> TEALS ALTERNATIVES </h2>
    <p style='color:var(--tealA3)'>var(--tealA3);</p>
    <p style='color:var(--tealA2)'>var(--tealA2);</p>
    <p style='color:var(--tealA1)'>var(--tealA1);</p>
    <p style='color:var(--teal0)'>var(--teal0); /* teal */</p> 
    <p style='color:var(--teal1A)'>var(--teal1A);</p>
    <p style='color:var(--teal2A)'>var(--teal2A);</p>
    <p style='color:var(--teal3A)'>var(--teal3A);</p>
    <h2 class='colors colors_teals'> TEALS TONES </h2>
    <p style='color:var(--teal-12)'>var(--teal-12);</p>
    <p style='color:var(--teal-11)'>var(--teal-11);</p>
    <p style='color:var(--teal-10)'>var(--teal-10);</p>
    <p style='color:var(--teal-09)'>var(--teal-09);</p>
    <p style='color:var(--teal-08)'>var(--teal-08);</p>
    <p style='color:var(--teal-07)'>var(--teal-07);</p>
    <p style='color:var(--teal-06)'>var(--teal-06);</p>
    <p style='color:var(--teal-05)'>var(--teal-05);</p>
    <p style='color:var(--teal-04)'>var(--teal-04);</p>
    <p style='color:var(--teal-03)'>var(--teal-03);</p>
    <p style='color:var(--teal-02)'>var(--teal-02);</p>
    <p style='color:var(--teal-01)'>var(--teal-01);</p>
    <p style='color:var(--teal0)'>var(--teal0);/* teal */</p> 
  </div> 
  <div class='col2'>
    <h2 class='colors colors_teals'> TEALS MONOCROMATIC </h2>
    <p style='color:var(--teal26);background-color:var(--teal3)'>--teal3</p>
    <p style='color:var(--teal26);background-color:var(--teal2)'>--teal2</p>
    <p style='color:var(--teal26);background-color:var(--teal1)'>--teal1</p>
    <p style='color:var(--teal26);background-color:var(--teal0)'>--teal0 /* teal */</p>
    <p style='color:var(--teal26);background-color:var(--teal-1)'>--teal-1</p>
    <p style='color:var(--teal26);background-color:var(--teal-2)'>--teal-2</p>
    <p style='color:var(--teal26);background-color:var(--teal-3)'>--teal-3</p>
    <h2 class='colors colors_teals'> TEALS ALTERNATIVES</h2>
    <p style='color:var(--teal26);background-color:var(--tealA3)'>--tealA3</p>
    <p style='color:var(--teal26);background-color:var(--tealA2)'>--tealA2</p>
    <p style='color:var(--teal26);background-color:var(--tealA1)'>--tealA1</p>
    <p style='color:var(--teal26);background-color:var(--teal0)'>--teal0 /* teal */</p>
    <p style='color:var(--teal26);background-color:var(--teal1A)'>--teal1A</p>
    <p style='color:var(--teal26);background-color:var(--teal2A)'>--teal2A</p>
    <p style='color:var(--teal26);background-color:var(--teal3A)'>--teal3A</p>
    <h2 class='colors colors_teals'> TEALS TONES </h2>
    <p style='color:var(--teal26);background-color:var(--teal-12)'>--teal-12</p>
    <p style='color:var(--teal26);background-color:var(--teal-11)'>--teal-11</p>
    <p style='color:var(--teal26);background-color:var(--teal-10)'>--teal-10</p>
    <p style='color:var(--teal26);background-color:var(--teal-09)'>--teal-09</p>
    <p style='color:var(--teal26);background-color:var(--teal-08)'>--teal-08</p>
    <p style='color:var(--teal26);background-color:var(--teal-07)'>--teal-07</p>
    <p style='color:var(--teal26);background-color:var(--teal-06)'>--teal-06</p>
    <p style='color:var(--teal26);background-color:var(--teal-05)'>--teal-05</p>
    <p style='color:var(--teal26);background-color:var(--teal-04)'>--teal-04</p>
    <p style='color:var(--teal26);background-color:var(--teal-03)'>--teal-03</p>
    <p style='color:var(--teal26);background-color:var(--teal-02)'>--teal-02</p>
    <p style='color:var(--teal26);background-color:var(--teal-01)'>--teal-01</p>
    <p style='color:var(--teal26);background-color:var(--teal0)'>--teal0 /* teal */</p>
  </div>
</div>