<h2 class='colors colors_aquas'> AQUAS </h2>
<div class='colorsRGB colors_aquas'>
<div class='col1'>
    <p style='color:var(--aqua25)'>var(--aqua25);</p>
    <p style='color:var(--aqua24)'>var(--aqua24);</p>
    <p style='color:var(--aqua23)'>var(--aqua23);</p>
    <p style='color:var(--aqua22)'>var(--aqua22);</p>
    <p style='color:var(--aqua21)'>var(--aqua21);</p>
    <p style='color:var(--aqua20)'>var(--aqua20);</p>
    <p style='color:var(--aqua19)'>var(--aqua19);</p>
    <p style='color:var(--aqua18)'>var(--aqua18);</p>
    <p style='color:var(--aqua17)'>var(--aqua17);</p>
    <p style='color:var(--aqua16)'>var(--aqua16);</p>
    <p style='color:var(--aqua15)'>var(--aqua15);</p>
    <p style='color:var(--aqua14)'>var(--aqua14);</p>
    <p style='color:var(--aqua13)'>var(--aqua13); /* aqua */</p>
    <p style='color:var(--aqua12)'>var(--aqua12);</p>
    <p style='color:var(--aqua11)'>var(--aqua11);</p>
    <p style='color:var(--aqua10)'>var(--aqua10);</p>
    <p style='color:var(--aqua09)'>var(--aqua09);</p>
    <p style='color:var(--aqua08)'>var(--aqua08);</p>
    <p style='color:var(--aqua07)'>var(--aqua07);</p>
    <p style='color:var(--aqua06)'>var(--aqua06);</p>
    <p style='color:var(--aqua05)'>var(--aqua05);</p>
    <p style='color:var(--aqua04)'>var(--aqua04);</p>
    <p style='color:var(--aqua03)'>var(--aqua03);</p>
    <p style='color:var(--aqua02)'>var(--aqua02);</p>
    <p style='color:var(--aqua01)'>var(--aqua01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--aqua26);background-color:var(--aqua25)'>--aqua25</p>
    <p style='color:var(--aqua26);background-color:var(--aqua24)'>--aqua24</p>
    <p style='color:var(--aqua26);background-color:var(--aqua23)'>--aqua23</p>
    <p style='color:var(--aqua26);background-color:var(--aqua22)'>--aqua22</p>
    <p style='color:var(--aqua26);background-color:var(--aqua21)'>--aqua21</p>
    <p style='color:var(--aqua26);background-color:var(--aqua20)'>--aqua20</p>
    <p style='color:var(--aqua26);background-color:var(--aqua19)'>--aqua19</p>
    <p style='color:var(--aqua26);background-color:var(--aqua18)'>--aqua18</p>
    <p style='color:var(--aqua26);background-color:var(--aqua17)'>--aqua17</p>
    <p style='color:var(--aqua26);background-color:var(--aqua16)'>--aqua16</p>
    <p style='color:var(--aqua26);background-color:var(--aqua15)'>--aqua15</p>
    <p style='color:var(--aqua26);background-color:var(--aqua14)'>--aqua14</p>
    <p style='color:var(--aqua26);background-color:var(--aqua13)'>--aqua13 /* aqua */</p>
    <p style='color:var(--aqua26);background-color:var(--aqua12)'>--aqua12</p>
    <p style='color:var(--aqua26);background-color:var(--aqua11)'>--aqua11</p>
    <p style='color:var(--aqua26);background-color:var(--aqua10)'>--aqua10</p>
    <p style='color:var(--aqua26);background-color:var(--aqua09)'>--aqua09</p>
    <p style='color:var(--aqua26);background-color:var(--aqua08)'>--aqua08</p>
    <p style='color:var(--aqua26);background-color:var(--aqua07)'>--aqua07</p>
    <p style='color:var(--aqua26);background-color:var(--aqua06)'>--aqua06</p>
    <p style='color:var(--aqua26);background-color:var(--aqua05)'>--aqua05</p>
    <p style='color:var(--aqua26);background-color:var(--aqua04)'>--aqua04</p>
    <p style='color:var(--aqua26);background-color:var(--aqua03)'>--aqua03</p>
    <p style='color:var(--aqua26);background-color:var(--aqua02)'>--aqua02</p>
    <p style='color:var(--aqua26);background-color:var(--aqua01)'>--aqua01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_aquas'> AQUAS MONOCROMATIC </h2>
    <p style='color:var(--aqua3)'>var(--aqua3);</p>
    <p style='color:var(--aqua2)'>var(--aqua2);</p>
    <p style='color:var(--aqua1)'>var(--aqua1);</p>
    <p style='color:var(--aqua0)'>var(--aqua0); /* aqua */</p>
    <p style='color:var(--aqua-1)'>var(--aqua-1);</p>
    <p style='color:var(--aqua-2)'>var(--aqua-2);</p>
    <p style='color:var(--aqua-3)'>var(--aqua-3);</p>
    <h2 class='colors colors_aquas'> AQUAS ALTERNATIVES </h2>
    <p style='color:var(--aquaA3)'>var(--aquaA3);</p>
    <p style='color:var(--aquaA2)'>var(--aquaA2);</p>
    <p style='color:var(--aquaA1)'>var(--aquaA1);</p>
    <p style='color:var(--aqua0)'>var(--aqua0); /* aqua */</p> 
    <p style='color:var(--aqua1A)'>var(--aqua1A);</p>
    <p style='color:var(--aqua2A)'>var(--aqua2A);</p>
    <p style='color:var(--aqua3A)'>var(--aqua3A);</p>
    <h2 class='colors colors_aquas'> AQUAS TONES </h2>
    <p style='color:var(--aqua-12)'>var(--aqua-12);</p>
    <p style='color:var(--aqua-11)'>var(--aqua-11);</p>
    <p style='color:var(--aqua-10)'>var(--aqua-10);</p>
    <p style='color:var(--aqua-09)'>var(--aqua-09);</p>
    <p style='color:var(--aqua-08)'>var(--aqua-08);</p>
    <p style='color:var(--aqua-07)'>var(--aqua-07);</p>
    <p style='color:var(--aqua-06)'>var(--aqua-06);</p>
    <p style='color:var(--aqua-05)'>var(--aqua-05);</p>
    <p style='color:var(--aqua-04)'>var(--aqua-04);</p>
    <p style='color:var(--aqua-03)'>var(--aqua-03);</p>
    <p style='color:var(--aqua-02)'>var(--aqua-02);</p>
    <p style='color:var(--aqua-01)'>var(--aqua-01);</p>
    <p style='color:var(--aqua0)'>var(--aqua0);/* aqua */</p> 
  </div> 
  <div class='col2'>
    <h2 class='colors colors_aquas'> AQUAS MONOCROMATIC </h2>
    <p style='color:var(--aqua26);background-color:var(--aqua3)'>--aqua3</p>
    <p style='color:var(--aqua26);background-color:var(--aqua2)'>--aqua2</p>
    <p style='color:var(--aqua26);background-color:var(--aqua1)'>--aqua1</p>
    <p style='color:var(--aqua26);background-color:var(--aqua0)'>--aqua0 /* aqua */</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-1)'>--aqua-1</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-2)'>--aqua-2</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-3)'>--aqua-3</p>
    <h2 class='colors colors_aquas'> AQUAS ALTERNATIVES</h2>
    <p style='color:var(--aqua26);background-color:var(--aquaA3)'>--aquaA3</p>
    <p style='color:var(--aqua26);background-color:var(--aquaA2)'>--aquaA2</p>
    <p style='color:var(--aqua26);background-color:var(--aquaA1)'>--aquaA1</p>
    <p style='color:var(--aqua26);background-color:var(--aqua0)'>--aqua0 /* aqua */</p>
    <p style='color:var(--aqua26);background-color:var(--aqua1A)'>--aqua1A</p>
    <p style='color:var(--aqua26);background-color:var(--aqua2A)'>--aqua2A</p>
    <p style='color:var(--aqua26);background-color:var(--aqua3A)'>--aqua3A</p>
    <h2 class='colors colors_aquas'> AQUAS TONES </h2>
    <p style='color:var(--aqua26);background-color:var(--aqua-12)'>--aqua-12</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-11)'>--aqua-11</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-10)'>--aqua-10</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-09)'>--aqua-09</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-08)'>--aqua-08</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-07)'>--aqua-07</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-06)'>--aqua-06</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-05)'>--aqua-05</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-04)'>--aqua-04</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-03)'>--aqua-03</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-02)'>--aqua-02</p>
    <p style='color:var(--aqua26);background-color:var(--aqua-01)'>--aqua-01</p>
    <p style='color:var(--aqua26);background-color:var(--aqua0)'>--aqua0 /* aqua */</p>
  </div>
</div>