<h2 class='colors colors_blues'> BLUES  blue:var(--blue13):#0000ff; </h2>
<div class='colorsRGB colors_blues'>
<div class='col1 colors_blues'>
    <p style='color:var(--blue25)'>var(--blue25);</p>
    <p style='color:var(--blue24)'>var(--blue24);</p>
    <p style='color:var(--blue23)'>var(--blue23);</p>
    <p style='color:var(--blue22)'>var(--blue22);</p>
    <p style='color:var(--blue21)'>var(--blue21);</p>
    <p style='color:var(--blue20)'>var(--blue20);</p>
    <p style='color:var(--blue19)'>var(--blue19);</p>
    <p style='color:var(--blue18)'>var(--blue18);</p>
    <p style='color:var(--blue17)'>var(--blue17);</p>
    <p style='color:var(--blue16)'>var(--blue16);</p>
    <p style='color:var(--blue15)'>var(--blue15);</p>
    <p style='color:var(--blue14)'>var(--blue14);</p>
    <p style='color:var(--blue13)'>var(--blue13); /* blue */</p>
    <p style='color:var(--blue12)'>var(--blue12);</p>
    <p style='color:var(--blue11)'>var(--blue11);</p>
    <p style='color:var(--blue10)'>var(--blue10);</p>
    <p style='color:var(--blue09)'>var(--blue09);</p>
    <p style='color:var(--blue08)'>var(--blue08);</p>
    <p style='color:var(--blue07)'>var(--blue07);</p>
    <p style='color:var(--blue06)'>var(--blue06);</p>
    <p style='color:var(--blue05)'>var(--blue05);</p>
    <p style='color:var(--blue04)'>var(--blue04);</p>
    <p style='color:var(--blue03)'>var(--blue03);</p>
    <p style='color:var(--blue02)'>var(--blue02);</p>
    <p style='color:var(--blue01)'>var(--blue01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--gray27);background-color:var(--blue25)'>--blue25</p>
    <p style='color:var(--gray27);background-color:var(--blue24)'>--blue24</p>
    <p style='color:var(--gray27);background-color:var(--blue23)'>--blue23</p>
    <p style='color:var(--gray27);background-color:var(--blue22)'>--blue22</p>
    <p style='color:var(--gray27);background-color:var(--blue21)'>--blue21</p>
    <p style='color:var(--gray27);background-color:var(--blue20)'>--blue20</p>
    <p style='color:var(--gray27);background-color:var(--blue19)'>--blue19</p>
    <p style='color:var(--gray27);background-color:var(--blue18)'>--blue18</p>
    <p style='color:var(--gray27);background-color:var(--blue17)'>--blue17</p>
    <p style='color:var(--gray27);background-color:var(--blue16)'>--blue16</p>
    <p style='color:var(--gray27);background-color:var(--blue15)'>--blue15</p>
    <p style='color:var(--gray27);background-color:var(--blue14)'>--blue14</p>
    <p style='color:var(--gray27);background-color:var(--blue13)'>--blue13/* blue */</p>
    <p style='color:var(--gray27);background-color:var(--blue12)'>--blue12</p>
    <p style='color:var(--gray27);background-color:var(--blue11)'>--blue11</p>
    <p style='color:var(--gray27);background-color:var(--blue10)'>--blue10</p>
    <p style='color:var(--gray27);background-color:var(--blue09)'>--blue09</p>
    <p style='color:var(--gray27);background-color:var(--blue08)'>--blue08</p>
    <p style='color:var(--gray27);background-color:var(--blue07)'>--blue07</p>
    <p style='color:var(--gray27);background-color:var(--blue06)'>--blue06</p>
    <p style='color:var(--gray27);background-color:var(--blue05)'>--blue05</p>
    <p style='color:var(--gray27);background-color:var(--blue04)'>--blue04</p>
    <p style='color:var(--gray27);background-color:var(--blue03)'>--blue03</p>
    <p style='color:var(--gray27);background-color:var(--blue02)'>--blue02</p>
    <p style='color:var(--gray27);background-color:var(--blue01)'>--blue01</p>
  </div>
</div>