<div class='backend'>
  <div class='colsBE'>
   <div class='colBE1'>
      <h2>Extended colors</h2>
      <ul>W3C RGB code and name
        <li>aliceblue   #F0F8FF;
        <li>antiquewhite    #FAEBD7;
        <li>azure   #F0FFFF;
        <li>bisque  #FFE4C4;
        <li>blanchedalmond  #FFEBCD 255,235,205
        <li>blueviolet  #8A2BE2 138,43,226
        <li>burlywood   #DEB887 222,184,135
        <li>cadetblue   #5F9EA0 95,158,160
        <li>chartreuse  #7FFF00 127,255,0
        <li>chocolate   #D2691E 210,105,30
        <li>coral   #FF7F50 255,127,80
        <li>cornflowerblue  #6495ED 100,149,237
        <li>cornsilk    #FFF8DC 255,248,220
        <li>darkblue    #00008B 0,0,139
        <li>darkcyan    #008B8B 0,139,139
        <li>darkgoldenrod   #B8860B 184,134,11
        <li>darkgray    #A9A9A9 169,169,169
        <li>darkgreen   #006400 0,100,0
        <li>darkgrey    #A9A9A9 169,169,169
        <li>darkkhaki   #BDB76B 189,183,107
        <li>darkmagenta #8B008B 139,0,139
        <li>darkolivegreen  #556B2F 85,107,47
        <li>darkorchid  #9932CC 153,50,204
        <li>darkred #8B0000 139,0,0
        <li>darksalmon  #E9967A 233,150,122
        <li>darkseagreen    #8FBC8F 143,188,143
        <li>darkslateblue   #483D8B 72,61,139
        <li>darkslategray   #2F4F4F 47,79,79
        <li>darkslategrey   #2F4F4F 47,79,79
        <li>darkturquoise   #00CED1 0,206,209
        <li>darkviolet  #9400D3 148,0,211
        <li>deeppink    #FF1493 255,20,147
        <li>deepskyblue #00BFFF 0,191,255
        <li>dimgray #696969 105,105,105
        <li>dodgerblue  #1E90FF 30,144,255
        <li>firebrick   #B22222 178,34,34
        <li>floralwhite #FFFAF0 255,250,240
        <li>forestgreen #228B22 34,139,34
        <li>gainsboro   #DCDCDC 220,220,220
        <li>ghostwhite  #F8F8FF 248,248,255
        <li>goldenrod   #DAA520 218,165,32
        <li>greenyellow #ADFF2F 
        <li>honeydew    #F0FFF0 240,255,240
        <li>hotpink #FF69B4 255,105,180
        <li>indianred   #CD5C5C 205,92,92
        <li>indigo  #4B0082 75,0,130
        <li>ivory   #FFFFF0 255,255,240
        <li>khaki   #F0E68C 240,230,140
        <li>lavender    #E6E6FA 230,230,250
        <li>lavenderblush   #FFF0F5 255,240,245
        <li>lawngreen   #7CFC00 124,252,0
        <li>lemonchiffon    #FFFACD 255,250,205
        <li>lightblue   #ADD8E6 173,216,230
        <li>lightcoral  #F08080 240,128,128
        <li>lightcyan   #E0FFFF 224,255,255
        <li>lightgoldenrodyellow    #FAFAD2 250,250,210
        <li>lightgray   #D3D3D3 211,211,211
        <li>lightgreen  #90EE90 144,238,144
        <li>lightgrey   #D3D3D3 211,211,211
        <li>lightpink   #FFB6C1 255,182,193
        <li>lightsalmon #FFA07A 255,160,122
        <li>lightseagreen   #20B2AA 32,178,170
        <li>lightskyblue    #87CEFA 135,206,250
        <li>lightslategrey  #778899 
        <li>lightsteelblue  #B0C4DE 176,196,222
        <li>lightyellow #FFFFE0 255,255,224
        <li>limegreen   #32CD32 50,205,50
        <li>linen   #FAF0E6 250,240,230
        <li>magenta #FF00FF 255,0,255
        <li>maroon  #800000 128,0,0
        <li>mediumaquamarine    #66CDAA 102,205,170
        <li>mediumblue  #0000CD 0,0,205
        <li>mediumorchid    #BA55D3 186,85,211
        <li>mediumpurple    #9370DB 147,112,219
        <li>mediumseagreen  #3CB371 60,179,113
        <li>mediumslateblue #7B68EE 123,104,238
        <li>mediumspringgreen   #00FA9A 0,250,154
        <li>mediumturquoise #48D1CC 72,209,204
        <li>mediumvioletred #C71585 199,21,133
        <li>midnightblue    #191970 25,25,112
        <li>mintcream   #F5FFFA 245,255,250
        <li>mistyrose   #FFE4E1 255,228,225
        <li>moccasin    #FFE4B5 255,228,181
        <li>navajowhite #FFDEAD 255,222,173
        <li>oldlace #FDF5E6 253,245,230
        <li>olivedrab   #6B8E23 
        <li>orangered   #FF4500 255,69,0
        <li>orchid  #DA70D6 218,112,214
        <li>palegoldenrod   #EEE8AA 238,232,170
        <li>palegreen   #98FB98 152,251,152
        <li>paleturquoise   #AFEEEE 175,238,238
        <li>palevioletred   #DB7093 219,112,147
        <li>papayawhip  #FFEFD5 255,239,213
        <li>peachpuff   #FFDAB9 255,218,185
        <li>peru    #CD853F 205,133,63
        <li>plum    #DDA0DD 221,160,221
        <li>powderblue  #B0E0E6 176,224,230
        <li>purple  #800080 128,0,128
        <li>rosybrown   #BC8F8F 188,143,143
        <li>royalblue   #4169E1 65,105,225
        <li>saddlebrown #8B4513 139,69,19
        <li>salmon  #FA8072 250,128,114
        <li>sandybrown  #F4A460 244,164,96
        <li>seagreen    #2E8B57 46,139,87
        <li>seashell    #FFF5EE 255,245,238
        <li>sienna  #A0522D 160,82,45
        <li>silver  #C0C0C0 192,192,192
        <li>skyblue #87CEEB 135,206,235
        <li>slateblue   #6A5ACD 106,90,205
        <li>slategray   #708090 112,128,144
        <li>snow    #FFFAFA 255,250,250
        <li>springgreen #00FF7F 0,255,127
        <li>steelblue   #4682B4 70,130,180
        <li>tan #D2B48C 210,180,140
        <li>thistle #D8BFD8 216,191,216
        <li>tomato  #FF6347 255,99,71
        <li>turquoise   #40E0D0 64,224,208
        <li>violet  #EE82EE 238,130,238
        <li>wheat   #F5DEB3 245,222,179
        <li>white   #FFFFFF 255,255,255
        <li>whitesmoke  #F5F5F5 245,245,245
     </ul>
   </div> 
    <div class='colBE2'>
      <h3>Basic colors</h3>
      <ul>W3C color names and codes:
      
        <li>silver	#C0C0C0
        <li>gray	#808080	
        <li>white	#FFFFFF	
        <li>maroon	#800000
        <li>red	#FF0000	
        <li>purple	#800080
        <li>fuchsia	#FF00FF
        <li>green	#008000	
        <li>lime	#00FF00	
        <li>olive	#808000	
        <li>yellow	#FFFF00
        <li>navy	#000080	
        <li>blue	#0000FF	
        <li>teal	#008080	
        <li>aqua	#00FFFF	
  
        </ul>  
    </div>
  </div>
</div>
