<div class='colorcodes'>
   <div class='colorcodes__col'>
      <h2>CSS Colors</h2>
      <ul>Colors in CSS can be specified by the following methods:
        <li>Hexadecimal colors
        <li>RGB colors
        <li>RGBA colors
        <li>HSL colors
        <li>HSLA colors
        <li>Predefined/Cross-browser color names
        <li>Hexadecimal Colors
      </ul>
      <h2>Hexadecimal Colors</h2>  
      <p>A hexadecimal color is specified with: #RRGGBB, where the RR (red), GG (green) and BB (blue) hexadecimal integers specify the components of the color. All values must be between 00 and FF.
      <p>For example, the #0000ff value is rendered as blue, because the blue component is set to its highest value (ff) and the others are set to 00.
      <h2>RGB Colors</h2>
      <p>An RGB color value is specified with the rgb() function, which has the following syntax:
      <p>rgb(red, green, blue)
      <p>Each parameter (red, green, and blue) defines the intensity of the color and can be an integer between 0 and 255 or a percentage value (from 0% to 100%).
      <h2>RGBA Colors</h2>
      <p>RGBA color values are an extension of RGB color values with an alpha channel - which specifies the opacity of the object.
      <p>An RGBA color is specified with the rgba() function, which has the following syntax:
      <p>rgba(red, green, blue, alpha)
      <p>The alpha parameter is a number between 0.0 (fully transparent) and 1.0 (fully opaque).
      <h2>HSL Colors</h2>
      <p>HSL stands for hue, saturation, and lightness - and represents a cylindrical-coordinate representation of colors.
      <p>An HSL color value is specified with the hsl() function, which has the following syntax:
      <p>hsl(hue, saturation, lightness)
      <p>Hue is a degree on the color wheel (from 0 to 360) - 0 (or 360) is red, 120 is green, 240 is blue. Saturation is a percentage value; 0% means a shade of gray and 100% is the full color. Lightness is also a percentage; 0% is black, 100% is white.
      <h2>HSLA Colors</h2>
      <p>HSLA color values are an extension of HSL color values with an alpha channel - which specifies the opacity of the object.
      <p>An HSLA color value is specified with the hsla() function, which has the following syntax:
      <p>hsla(hue, saturation, lightness, alpha)
      <p>The alpha parameter is a number between 0.0 (fully transparent) and 1.0 (fully opaque).
      <h2>Predefined/Cross-browser Color Names</h2>
      <p>140 color names are predefined in the HTML and CSS color specification.
      <p><%= link_to 'Look at the table of predefined color names.', colornames_path %>
     </ul>
   </div> 
</div>
