<h2 class='colors colors_aquamarines'> AQUAMARINES </h2>
<div class='colorsRGB colors_aquamarines'>
<div class='col1'>
    <p style='color:var(--aquamarine25)'>var(--aquamarine25);</p>
    <p style='color:var(--aquamarine24)'>var(--aquamarine24);</p>
    <p style='color:var(--aquamarine23)'>var(--aquamarine23);</p>
    <p style='color:var(--aquamarine22)'>var(--aquamarine22);</p>
    <p style='color:var(--aquamarine21)'>var(--aquamarine21);</p>
    <p style='color:var(--aquamarine20)'>var(--aquamarine20);</p>
    <p style='color:var(--aquamarine19)'>var(--aquamarine19);</p>
    <p style='color:var(--aquamarine18)'>var(--aquamarine18);</p>
    <p style='color:var(--aquamarine17)'>var(--aquamarine17);</p>
    <p style='color:var(--aquamarine16)'>var(--aquamarine16);</p>
    <p style='color:var(--aquamarine15)'>var(--aquamarine15);</p>
    <p style='color:var(--aquamarine14)'>var(--aquamarine14);</p>
    <p style='color:var(--aquamarine13)'>var(--aquamarine13); /* aquamarine */</p>
    <p style='color:var(--aquamarine12)'>var(--aquamarine12);</p>
    <p style='color:var(--aquamarine11)'>var(--aquamarine11);</p>
    <p style='color:var(--aquamarine10)'>var(--aquamarine10);</p>
    <p style='color:var(--aquamarine09)'>var(--aquamarine09);</p>
    <p style='color:var(--aquamarine08)'>var(--aquamarine08);</p>
    <p style='color:var(--aquamarine07)'>var(--aquamarine07);</p>
    <p style='color:var(--aquamarine06)'>var(--aquamarine06);</p>
    <p style='color:var(--aquamarine05)'>var(--aquamarine05);</p>
    <p style='color:var(--aquamarine04)'>var(--aquamarine04);</p>
    <p style='color:var(--aquamarine03)'>var(--aquamarine03);</p>
    <p style='color:var(--aquamarine02)'>var(--aquamarine02);</p>
    <p style='color:var(--aquamarine01)'>var(--aquamarine01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine25)'>--aquamarine25</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine24)'>--aquamarine24</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine23)'>--aquamarine23</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine22)'>--aquamarine22</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine21)'>--aquamarine21</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine20)'>--aquamarine20</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine19)'>--aquamarine19</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine18)'>--aquamarine18</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine17)'>--aquamarine17</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine16)'>--aquamarine16</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine15)'>--aquamarine15</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine14)'>--aquamarine14</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine13)'>--aquamarine13 /* aquamarine */</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine12)'>--aquamarine12</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine11)'>--aquamarine11</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine10)'>--aquamarine10</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine09)'>--aquamarine09</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine08)'>--aquamarine08</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine07)'>--aquamarine07</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine06)'>--aquamarine06</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine05)'>--aquamarine05</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine04)'>--aquamarine04</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine03)'>--aquamarine03</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine02)'>--aquamarine02</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine01)'>--aquamarine01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_aquamarines'> AQUAMARINES MONOCROMATIC </h2>
    <p style='color:var(--aquamarine3)'>var(--aquamarine3);</p>
    <p style='color:var(--aquamarine2)'>var(--aquamarine2);</p>
    <p style='color:var(--aquamarine1)'>var(--aquamarine1);</p>
    <p style='color:var(--aquamarine0)'>var(--aquamarine0); /* aquamarine */</p>
    <p style='color:var(--aquamarine-1)'>var(--aquamarine-1);</p>
    <p style='color:var(--aquamarine-2)'>var(--aquamarine-2);</p>
    <p style='color:var(--aquamarine-3)'>var(--aquamarine-3);</p>
    <h2 class='colors colors_aquamarines'> AQUAMARINES ALTERNATIVES </h2>
    <p style='color:var(--aquamarineA3)'>var(--aquamarineA3);</p>
    <p style='color:var(--aquamarineA2)'>var(--aquamarineA2);</p>
    <p style='color:var(--aquamarineA1)'>var(--aquamarineA1);</p>
    <p style='color:var(--aquamarine0)'>var(--aquamarine0); /* aquamarine */</p> 
    <p style='color:var(--aquamarine1A)'>var(--aquamarine1A);</p>
    <p style='color:var(--aquamarine2A)'>var(--aquamarine2A);</p>
    <p style='color:var(--aquamarine3A)'>var(--aquamarine3A);</p>
    <h2 class='colors colors_aquamarines'> AQUAMARINES TONES </h2>
    <p style='color:var(--aquamarine-12)'>var(--aquamarine-12);</p>
    <p style='color:var(--aquamarine-11)'>var(--aquamarine-11);</p>
    <p style='color:var(--aquamarine-10)'>var(--aquamarine-10);</p>
    <p style='color:var(--aquamarine-09)'>var(--aquamarine-09);</p>
    <p style='color:var(--aquamarine-08)'>var(--aquamarine-08);</p>
    <p style='color:var(--aquamarine-07)'>var(--aquamarine-07);</p>
    <p style='color:var(--aquamarine-06)'>var(--aquamarine-06);</p>
    <p style='color:var(--aquamarine-05)'>var(--aquamarine-05);</p>
    <p style='color:var(--aquamarine-04)'>var(--aquamarine-04);</p>
    <p style='color:var(--aquamarine-03)'>var(--aquamarine-03);</p>
    <p style='color:var(--aquamarine-02)'>var(--aquamarine-02);</p>
    <p style='color:var(--aquamarine-01)'>var(--aquamarine-01);</p>
    <p style='color:var(--aquamarine0)'>var(--aquamarine0);/* aquamarine */</p> 
  </div> 
  <div class='col2'>
    <h2 class='colors colors_aquamarines'> AQUAMARINES MONOCROMATIC </h2>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine3)'>--aquamarine3</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine2)'>--aquamarine2</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine1)'>--aquamarine1</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine0)'>--aquamarine0 /* aquamarine */</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-1)'>--aquamarine-1</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-2)'>--aquamarine-2</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-3)'>--aquamarine-3</p>
    <h2 class='colors colors_aquamarines'> AQUAMARINES ALTERNATIVES</h2>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarineA3)'>--aquamarineA3</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarineA2)'>--aquamarineA2</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarineA1)'>--aquamarineA1</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine0)'>--aquamarine0 /* aquamarine */</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine1A)'>--aquamarine1A</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine2A)'>--aquamarine2A</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine3A)'>--aquamarine3A</p>
    <h2 class='colors colors_aquamarines'> AQUAMARINES TONES </h2>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-12)'>--aquamarine-12</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-11)'>--aquamarine-11</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-10)'>--aquamarine-10</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-09)'>--aquamarine-09</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-08)'>--aquamarine-08</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-07)'>--aquamarine-07</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-06)'>--aquamarine-06</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-05)'>--aquamarine-05</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-04)'>--aquamarine-04</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-03)'>--aquamarine-03</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-02)'>--aquamarine-02</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine-01)'>--aquamarine-01</p>
    <p style='color:var(--aquamarine26);background-color:var(--aquamarine0)'>--aquamarine0 /* aquamarine */</p>
  </div>
</div>