<h2 class='colors colors_violets'> VIOLETS  violet:var(--violet13); </h2>
<div class='colorsRGB colors_violets'>
<div class='col1'>
    <p style='color:var(--violet25)'>var(--violet25);</p>
    <p style='color:var(--violet24)'>var(--violet24);</p>
    <p style='color:var(--violet23)'>var(--violet23);</p>
    <p style='color:var(--violet22)'>var(--violet22);</p>
    <p style='color:var(--violet21)'>var(--violet21);</p>
    <p style='color:var(--violet20)'>var(--violet20);</p>
    <p style='color:var(--violet19)'>var(--violet19);</p>
    <p style='color:var(--violet18)'>var(--violet18);</p>
    <p style='color:var(--violet17)'>var(--violet17);</p>
    <p style='color:var(--violet16)'>var(--violet16);</p>
    <p style='color:var(--violet15)'>var(--violet15);</p>
    <p style='color:var(--violet14)'>var(--violet14);</p>
    <p style='color:var(--violet13)'>var(--violet13); /* violet */</p>
    <p style='color:var(--violet12)'>var(--violet12);</p>
    <p style='color:var(--violet11)'>var(--violet11);</p>
    <p style='color:var(--violet10)'>var(--violet10);</p>
    <p style='color:var(--violet09)'>var(--violet09);</p>
    <p style='color:var(--violet08)'>var(--violet08);</p>
    <p style='color:var(--violet07)'>var(--violet07);</p>
    <p style='color:var(--violet06)'>var(--violet06);</p>
    <p style='color:var(--violet05)'>var(--violet05);</p>
    <p style='color:var(--violet04)'>var(--violet04);</p>
    <p style='color:var(--violet03)'>var(--violet03);</p>
    <p style='color:var(--violet02)'>var(--violet02);</p>
    <p style='color:var(--violet01)'>var(--violet01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--violet26);background-color:var(--violet25)'>--violet25</p>
    <p style='color:var(--violet26);background-color:var(--violet24)'>--violet24</p>
    <p style='color:var(--violet26);background-color:var(--violet23)'>--violet23</p>
    <p style='color:var(--violet26);background-color:var(--violet22)'>--violet22</p>
    <p style='color:var(--violet26);background-color:var(--violet21)'>--violet21</p>
    <p style='color:var(--violet26);background-color:var(--violet20)'>--violet20</p>
    <p style='color:var(--violet26);background-color:var(--violet19)'>--violet19</p>
    <p style='color:var(--violet26);background-color:var(--violet18)'>--violet18</p>
    <p style='color:var(--violet26);background-color:var(--violet17)'>--violet17</p>
    <p style='color:var(--violet26);background-color:var(--violet16)'>--violet16</p>
    <p style='color:var(--violet26);background-color:var(--violet15)'>--violet15</p>
    <p style='color:var(--violet26);background-color:var(--violet14)'>--violet14</p>
    <p style='color:var(--violet26);background-color:var(--violet13)'>--violet13/* violet */</p>
    <p style='color:var(--violet26);background-color:var(--violet12)'>--violet12</p>
    <p style='color:var(--violet26);background-color:var(--violet11)'>--violet11</p>
    <p style='color:var(--violet26);background-color:var(--violet10)'>--violet10</p>
    <p style='color:var(--violet26);background-color:var(--violet09)'>--violet09</p>
    <p style='color:var(--violet26);background-color:var(--violet08)'>--violet08</p>
    <p style='color:var(--violet26);background-color:var(--violet07)'>--violet07</p>
    <p style='color:var(--violet26);background-color:var(--violet06)'>--violet06</p>
    <p style='color:var(--violet26);background-color:var(--violet05)'>--violet05</p>
    <p style='color:var(--violet26);background-color:var(--violet04)'>--violet04</p>
    <p style='color:var(--violet26);background-color:var(--violet03)'>--violet03</p>
    <p style='color:var(--violet26);background-color:var(--violet02)'>--violet02</p>
    <p style='color:var(--violet26);background-color:var(--violet01)'>--violet01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_violets'> violetS MONOCROMATIC </h2>
    <p style='color:var(--violet3)'>var(--violet3);</p>
    <p style='color:var(--violet2)'>var(--violet2);</p>
    <p style='color:var(--violet1)'>var(--violet1);</p>
    <p style='color:var(--violet0)'>var(--violet0);</p>
    <p style='color:var(--violet-1)'>var(--violet-1);</p>
    <p style='color:var(--violet-2)'>var(--violet-2);</p>
    <p style='color:var(--violet-3)'>var(--violet-3);</p>
    <h2 class='colors colors_violets'> violetS ALTERNATIVES </h2>
    <p style='color:var(--violetA3)'>var(--violetA3);</p>
    <p style='color:var(--violetA2)'>var(--violetA2);</p>
    <p style='color:var(--violetA1)'>var(--violetA1);</p>
    <p style='color:var(--violet0)'>var(--violet0);</p>
    <p style='color:var(--violet1A)'>var(--violet1A);</p>
    <p style='color:var(--violet2A)'>var(--violet2A);</p>
    <p style='color:var(--violet3A)'>var(--violet3A);</p>
    <h2 class='colors colors_violets'> violetS TONES </h2>
    <p style='color:var(--violet-12)'>var(--violet-12);</p>
    <p style='color:var(--violet-11)'>var(--violet-11);</p>
    <p style='color:var(--violet-10)'>var(--violet-10);</p>
    <p style='color:var(--violet-09)'>var(--violet-09);</p>
    <p style='color:var(--violet-08)'>var(--violet-08);</p>
    <p style='color:var(--violet-07)'>var(--violet-07);</p>
    <p style='color:var(--violet-06)'>var(--violet-06);</p>
    <p style='color:var(--violet-05)'>var(--violet-05);</p>
    <p style='color:var(--violet-04)'>var(--violet-04);</p>
    <p style='color:var(--violet-03)'>var(--violet-03);</p>
    <p style='color:var(--violet-02)'>var(--violet-02);</p>
    <p style='color:var(--violet-01)'>var(--violet-01);</p>
    <p style='color:var(--violet-00)'>var(--violet-00);</p>
  </div> 
  <div class='col2'>
    <h2 class='colors colors_violets'> violetS MONOCROMATIC </h2>
    <p style='color:var(--violet26);background-color:var(--violet3)'>--violet3</p>
    <p style='color:var(--violet26);background-color:var(--violet2)'>--violet2</p>
    <p style='color:var(--violet26);background-color:var(--violet1)'>--violet1</p>
    <p style='color:var(--violet26);background-color:var(--violet0)'>--violet0</p>
    <p style='color:var(--violet26);background-color:var(--violet-1)'>--violet-1</p>
    <p style='color:var(--violet26);background-color:var(--violet-2)'>--violet-2</p>
    <p style='color:var(--violet26);background-color:var(--violet-3)'>--violet-3</p>
    <h2 class='colors colors_violets'> violetS ALTERNATIVES</h2>
    <p style='color:var(--violet26);background-color:var(--violetA3)'>--violetA3</p>
    <p style='color:var(--violet26);background-color:var(--violetA2)'>--violetA2</p>
    <p style='color:var(--violet26);background-color:var(--violetA1)'>--violetA1</p>
    <p style='color:var(--violet26);background-color:var(--violet0)'>--violet0</p>
    <p style='color:var(--violet26);background-color:var(--violet1A)'>--violet1A</p>
    <p style='color:var(--violet26);background-color:var(--violet2A)'>--violet2A</p>
    <p style='color:var(--violet26);background-color:var(--violet3A)'>--violet3A</p>
    <h2 class='colors colors_violets'> violetS TONES </h2>
    <p style='color:var(--violet26);background-color:var(--violet-12)'>--violet-12</p>
    <p style='color:var(--violet26);background-color:var(--violet-11)'>--violet-11</p>
    <p style='color:var(--violet26);background-color:var(--violet-10)'>--violet-10</p>
    <p style='color:var(--violet26);background-color:var(--violet-09)'>--violet-09</p>
    <p style='color:var(--violet26);background-color:var(--violet-08)'>--violet-08</p>
    <p style='color:var(--violet26);background-color:var(--violet-07)'>--violet-07</p>
    <p style='color:var(--violet26);background-color:var(--violet-06)'>--violet-06</p>
    <p style='color:var(--violet26);background-color:var(--violet-05)'>--violet-05</p>
    <p style='color:var(--violet26);background-color:var(--violet-04)'>--violet-04</p>
    <p style='color:var(--violet26);background-color:var(--violet-03)'>--violet-03</p>
    <p style='color:var(--violet26);background-color:var(--violet-02)'>--violet-02</p>
    <p style='color:var(--violet26);background-color:var(--violet-01)'>--violet-01</p>
    <p style='color:var(--violet26);background-color:var(--violet-00)'>--violet-00</p>
  </div>
</div>