<div class='colors_specs'>
  <div class='colsCV'>
   <div class='colCV1'>
      <h2>Shades and Tints</h2>
      <p>A shade is achieved by adding black to any pure hue, while a tint is created by mixing white to any pure color. The COLOR-25 is the darkest color, almost black, while COLOR-01 is the lightest one, almost white. The main color is sitauted in a place between both extrems, generally COLOR-13 or COLOR-08.</p>
   </div> 
    <div class='colCV2'>
      <h2>Monochromatic</h2>
      <p>Monochromatic colors are all the colors (tones, tints and shades ) of a single hue. Monochromatic color scales are derived from a single base COLOR hue and extended using its shades, tones and tints. Tints are achieved by adding white and shades and tones are achieved by adding a darker color, grey or black. Monochromatic color scales provide opportunities in art and visual communications design as they allow for a greater range of contrasting tones that can be used to attract attention, create focus and support legibility. The monocromathic scale has in the center the main color COLOR0 (red0, orange0,...) and ups to COLOR1, COLOR2 and COLOR3 (darker) and downs to COLOR-1, COLOR-2 and COLOR-3 (lighter).    
      </p>  
    </div>
   <div class='colCV3'>
      <h2>Tones</h2>
      <p> A tone is produced by adding gray to any pure hue in a 0 to 12 scale. The COLOR-12 is the less saturated color (more gray added), while COLOR-00 is the most saturated one.
     </p>
   </div> 
    <div class='colCV4'>
      <h2>Alternatives</h2>
      <p>Alternatives colors are colors close to main color. Having a set of seven related colors can be useful if you need an inspirational alternative to your original color choice. The scale has in the center the main color COLOR0 (red0, orange0,...) and ups to A1, A2 and A3 and downs to 1A, 2A and 3A, gradually from closer similarity to larger variations.</p>  
    </div>
  </div>
</div>
