<h2 class='colors colors_reds'> REDS var(--red13):#ff0000; </h2>
<div class='colorsRGB colors_reds'>
<div  class='col1'>
    <p style='color:var(--red25)'>var(--red25);</p>
    <p style='color:var(--red24)'>var(--red24);</p>
    <p style='color:var(--red23)'>var(--red23);</p>
    <p style='color:var(--red22)'>var(--red22);</p>
    <p style='color:var(--red21)'>var(--red21);</p>
    <p style='color:var(--red20)'>var(--red20);</p>
    <p style='color:var(--red19)'>var(--red19);</p>
    <p style='color:var(--red18)'>var(--red18);</p>
    <p style='color:var(--red17)'>var(--red17);</p>
    <p style='color:var(--red16)'>var(--red16);</p>
    <p style='color:var(--red15)'>var(--red15);</p>
    <p style='color:var(--red14)'>var(--red14);</p>
    <p style='color:var(--red13)'>var(--red13); /* red */</p>
    <p style='color:var(--red12)'>var(--red12);</p>
    <p style='color:var(--red11)'>var(--red11);</p>
    <p style='color:var(--red10)'>var(--red10);</p>
    <p style='color:var(--red09)'>var(--red09);</p>
    <p style='color:var(--red08)'>var(--red08);</p>
    <p style='color:var(--red07)'>var(--red07);</p>
    <p style='color:var(--red06)'>var(--red06);</p>
    <p style='color:var(--red05)'>var(--red05);</p>
    <p style='color:var(--red04)'>var(--red04);</p>
    <p style='color:var(--red03)'>var(--red03);</p>
    <p style='color:var(--red02)'>var(--red02);</p>
    <p style='color:var(--red01)'>var(--red01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--red15);background-color:var(--red25)'>--red25: #0c0c0c; </p>
    <p style='color:var(--red15);background-color:var(--red24)'>--red24: #161616; </p>
    <p style='color:var(--red15);background-color:var(--red23)'>--red23: #1f1f1f; </p>
    <p style='color:var(--red15);background-color:var(--red22)'>--red22: #292929; </p>
    <p style='color:var(--red15);background-color:var(--red21)'>--red21: #333333; </p>
    <p style='color:var(--red15);background-color:var(--red20)'>--red20: #3d3d3d; </p>
    <p style='color:var(--red15);background-color:var(--red19)'>--red19: #474747; </p>
    <p style='color:var(--red15);background-color:var(--red18)'>--red18: #505050; </p>
    <p style='color:var(--red15);background-color:var(--red17)'>--red17: #5a5a5a; </p>
    <p style='color:var(--red15);background-color:var(--red16)'>--red16: #646464; </p>
    <p style='color:var(--red15);background-color:var(--red15)'>--red15: #6e6e6e; </p>
    <p style='color:var(--red15);background-color:var(--red14)'>--red14: #787878; </p>
    <p style='color:var(--red15);background-color:var(--red13)'>--red13: #818181; /* red */</p>
    <p style='color:var(--red15);background-color:var(--red12)'>--red12: #8b8b8b; </p>
    <p style='color:var(--red15);background-color:var(--red11)'>--red11: #959595; </p>
    <p style='color:var(--red15);background-color:var(--red10)'>--red10: #9f9f9f; </p>
    <p style='color:var(--red15);background-color:var(--red09)'>--red09: #a9a9a9; </p>
    <p style='color:var(--red15);background-color:var(--red08)'>--red08: #b3b3b3; </p>
    <p style='color:var(--red15);background-color:var(--red07)'>--red07: #bcbcbc; </p>
    <p style='color:var(--red15);background-color:var(--red06)'>--red06: #c6c6c6; </p>
    <p style='color:var(--red15);background-color:var(--red05)'>--red05: #d0d0d0; </p>
    <p style='color:var(--red15);background-color:var(--red04)'>--red04: #dadada; </p>
    <p style='color:var(--red15);background-color:var(--red03)'>--red03: #e4e4e4; </p>
    <p style='color:var(--red15);background-color:var(--red02)'>--red02: #ededed; </p>
    <p style='color:var(--red15);background-color:var(--red01)'>--red01: #f7f7f7;</p>
  </div>
  <div class='col1'>
  <h2 class='colors colors_reds'> REDS MONOCROMATIC </h2>
    <p style='color:var(--red3)'>var(--red3);</p>
    <p style='color:var(--red2)'>var(--red2);</p>
    <p style='color:var(--red1)'>var(--red1);</p>
    <p style='color:var(--red0)'>var(--red0);</p>
    <p style='color:var(--red-1)'>var(--red-1);</p>
    <p style='color:var(--red-2)'>var(--red-2);</p>
    <p style='color:var(--red-3)'>var(--red-3);</p>
    <h2 class='colors colors_reds'> REDS ALTERNATIVES </h2>
    <p style='color:var(--redA3)'>var(--redA3);</p>
    <p style='color:var(--redA2)'>var(--redA2);</p>
    <p style='color:var(--redA1)'>var(--redA1);</p>
    <p style='color:var(--red0)'>var(--red0);</p>
    <p style='color:var(--red1A)'>var(--red1A);</p>
    <p style='color:var(--red2A)'>var(--red2A);</p>
    <p style='color:var(--red3A)'>var(--red3A);</p>
    <h2 class='colors colors_reds'> REDS TONES </h2>
    <p style='color:var(--red-12)'>var(--red-12);</p>
    <p style='color:var(--red-11)'>var(--red-11);</p>
    <p style='color:var(--red-10)'>var(--red-10);</p>
    <p style='color:var(--red-09)'>var(--red-09);</p>
    <p style='color:var(--red-08)'>var(--red-08);</p>
    <p style='color:var(--red-07)'>var(--red-07);</p>
    <p style='color:var(--red-06)'>var(--red-06);</p>
    <p style='color:var(--red-05)'>var(--red-05);</p>
    <p style='color:var(--red-04)'>var(--red-04);</p>
    <p style='color:var(--red-03)'>var(--red-03);</p>
    <p style='color:var(--red-02)'>var(--red-02);</p>
    <p style='color:var(--red-01)'>var(--red-01);</p>
    <p style='color:var(--red0)'>var(--red0);</p>
  </div> 
  <div class='col2'>
    <h2 class='colors colors_reds'> REDS MONOCROMATIC </h2>
    <p style='color:var(--red25);background-color:var(--red3)'>--red3</p>
    <p style='color:var(--red25);background-color:var(--red2)'>--red2</p>
    <p style='color:var(--red25);background-color:var(--red1)'>--red1</p>
    <p style='color:var(--red25);background-color:var(--red0)'>--red0</p>
    <p style='color:var(--red25);background-color:var(--red-1)'>--red-1</p>
    <p style='color:var(--red25);background-color:var(--red-2)'>--red-2</p>
    <p style='color:var(--red25);background-color:var(--red-3)'>--red-3</p>
    <h2 class='colors colors_reds'> REDS ALTERNATIVES</h2>
    <p style='color:var(--red25);background-color:var(--redA3)'>--redA3</p>
    <p style='color:var(--red25);background-color:var(--redA2)'>--redA2</p>
    <p style='color:var(--red25);background-color:var(--redA1)'>--redA1</p>
    <p style='color:var(--red25);background-color:var(--red0)'>--red0</p>
    <p style='color:var(--red25);background-color:var(--red1A)'>--red1A</p>
    <p style='color:var(--red25);background-color:var(--red2A)'>--red2A</p>
    <p style='color:var(--red25);background-color:var(--red3A)'>--red3A</p>
    <h2 class='colors colors_reds'> REDS TONES </h2>
    <p style='color:var(--red25);background-color:var(--red-12)'>--red-12</p>
    <p style='color:var(--red25);background-color:var(--red-11)'>--red-11</p>
    <p style='color:var(--red25);background-color:var(--red-10)'>--red-10</p>
    <p style='color:var(--red25);background-color:var(--red-09)'>--red-09</p>
    <p style='color:var(--red25);background-color:var(--red-08)'>--red-08</p>
    <p style='color:var(--red25);background-color:var(--red-07)'>--red-07</p>
    <p style='color:var(--red25);background-color:var(--red-06)'>--red-06</p>
    <p style='color:var(--red25);background-color:var(--red-05)'>--red-05</p>
    <p style='color:var(--red25);background-color:var(--red-04)'>--red-04</p>
    <p style='color:var(--red25);background-color:var(--red-03)'>--red-03</p>
    <p style='color:var(--red25);background-color:var(--red-02)'>--red-02</p>
    <p style='color:var(--red25);background-color:var(--red0)'>--red0</p>
  </div>
</div>