<h2 class='colors colors_navys'> NAVYS </h2>
<div class='colorsRGB colors_navys'>
<div class='col1'>
    <p style='color:var(--navy25)'>var(--navy25);</p>
    <p style='color:var(--navy24)'>var(--navy24);</p>
    <p style='color:var(--navy23)'>var(--navy23);</p>
    <p style='color:var(--navy22)'>var(--navy22);</p>
    <p style='color:var(--navy21)'>var(--navy21);</p>
    <p style='color:var(--navy20)'>var(--navy20);</p>
    <p style='color:var(--navy19)'>var(--navy19);</p>
    <p style='color:var(--navy18)'>var(--navy18);</p>
    <p style='color:var(--navy17)'>var(--navy17);</p>
    <p style='color:var(--navy16)'>var(--navy16);</p>
    <p style='color:var(--navy15)'>var(--navy15);</p>
    <p style='color:var(--navy14)'>var(--navy14);</p>
    <p style='color:var(--navy13)'>var(--navy13); /* navy */</p>
    <p style='color:var(--navy12)'>var(--navy12);</p>
    <p style='color:var(--navy11)'>var(--navy11);</p>
    <p style='color:var(--navy10)'>var(--navy10);</p>
    <p style='color:var(--navy09)'>var(--navy09);</p>
    <p style='color:var(--navy08)'>var(--navy08);</p>
    <p style='color:var(--navy07)'>var(--navy07);</p>
    <p style='color:var(--navy06)'>var(--navy06);</p>
    <p style='color:var(--navy05)'>var(--navy05);</p>
    <p style='color:var(--navy04)'>var(--navy04);</p>
    <p style='color:var(--navy03)'>var(--navy03);</p>
    <p style='color:var(--navy02)'>var(--navy02);</p>
    <p style='color:var(--navy01)'>var(--navy01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--navy26);background-color:var(--navy25)'>--navy25</p>
    <p style='color:var(--navy26);background-color:var(--navy24)'>--navy24</p>
    <p style='color:var(--navy26);background-color:var(--navy23)'>--navy23</p>
    <p style='color:var(--navy26);background-color:var(--navy22)'>--navy22</p>
    <p style='color:var(--navy26);background-color:var(--navy21)'>--navy21</p>
    <p style='color:var(--navy26);background-color:var(--navy20)'>--navy20</p>
    <p style='color:var(--navy26);background-color:var(--navy19)'>--navy19</p>
    <p style='color:var(--navy26);background-color:var(--navy18)'>--navy18</p>
    <p style='color:var(--navy26);background-color:var(--navy17)'>--navy17</p>
    <p style='color:var(--navy26);background-color:var(--navy16)'>--navy16</p>
    <p style='color:var(--navy26);background-color:var(--navy15)'>--navy15</p>
    <p style='color:var(--navy26);background-color:var(--navy14)'>--navy14</p>
    <p style='color:var(--navy26);background-color:var(--navy13)'>--navy13 /* navy */</p>
    <p style='color:var(--navy26);background-color:var(--navy12)'>--navy12</p>
    <p style='color:var(--navy26);background-color:var(--navy11)'>--navy11</p>
    <p style='color:var(--navy26);background-color:var(--navy10)'>--navy10</p>
    <p style='color:var(--navy26);background-color:var(--navy09)'>--navy09</p>
    <p style='color:var(--navy26);background-color:var(--navy08)'>--navy08</p>
    <p style='color:var(--navy26);background-color:var(--navy07)'>--navy07</p>
    <p style='color:var(--navy26);background-color:var(--navy06)'>--navy06</p>
    <p style='color:var(--navy26);background-color:var(--navy05)'>--navy05</p>
    <p style='color:var(--navy26);background-color:var(--navy04)'>--navy04</p>
    <p style='color:var(--navy26);background-color:var(--navy03)'>--navy03</p>
    <p style='color:var(--navy26);background-color:var(--navy02)'>--navy02</p>
    <p style='color:var(--navy26);background-color:var(--navy01)'>--navy01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_navys'> NAVYS MONOCROMATIC </h2>
    <p style='color:var(--navy3)'>var(--navy3);</p>
    <p style='color:var(--navy2)'>var(--navy2);</p>
    <p style='color:var(--navy1)'>var(--navy1);</p>
    <p style='color:var(--navy0)'>var(--navy0); /* navy */</p>
    <p style='color:var(--navy-1)'>var(--navy-1);</p>
    <p style='color:var(--navy-2)'>var(--navy-2);</p>
    <p style='color:var(--navy-3)'>var(--navy-3);</p>
    <h2 class='colors colors_navys'> NAVYS ALTERNATIVES </h2>
    <p style='color:var(--navyA3)'>var(--navyA3);</p>
    <p style='color:var(--navyA2)'>var(--navyA2);</p>
    <p style='color:var(--navyA1)'>var(--navyA1);</p>
    <p style='color:var(--navy0)'>var(--navy0); /* navy */</p> 
    <p style='color:var(--navy1A)'>var(--navy1A);</p>
    <p style='color:var(--navy2A)'>var(--navy2A);</p>
    <p style='color:var(--navy3A)'>var(--navy3A);</p>
    <h2 class='colors colors_navys'> NAVYS TONES </h2>
    <p style='color:var(--navy-12)'>var(--navy-12);</p>
    <p style='color:var(--navy-11)'>var(--navy-11);</p>
    <p style='color:var(--navy-10)'>var(--navy-10);</p>
    <p style='color:var(--navy-09)'>var(--navy-09);</p>
    <p style='color:var(--navy-08)'>var(--navy-08);</p>
    <p style='color:var(--navy-07)'>var(--navy-07);</p>
    <p style='color:var(--navy-06)'>var(--navy-06);</p>
    <p style='color:var(--navy-05)'>var(--navy-05);</p>
    <p style='color:var(--navy-04)'>var(--navy-04);</p>
    <p style='color:var(--navy-03)'>var(--navy-03);</p>
    <p style='color:var(--navy-02)'>var(--navy-02);</p>
    <p style='color:var(--navy-01)'>var(--navy-01);</p>
    <p style='color:var(--navy0)'>var(--navy0);/* navy */</p> 
  </div> 
  <div class='col2'>
    <h2 class='colors colors_navys'> NAVYS MONOCROMATIC </h2>
    <p style='color:var(--navy26);background-color:var(--navy3)'>--navy3</p>
    <p style='color:var(--navy26);background-color:var(--navy2)'>--navy2</p>
    <p style='color:var(--navy26);background-color:var(--navy1)'>--navy1</p>
    <p style='color:var(--navy26);background-color:var(--navy0)'>--navy0 /* navy */</p>
    <p style='color:var(--navy26);background-color:var(--navy-1)'>--navy-1</p>
    <p style='color:var(--navy26);background-color:var(--navy-2)'>--navy-2</p>
    <p style='color:var(--navy26);background-color:var(--navy-3)'>--navy-3</p>
    <h2 class='colors colors_navys'> NAVYS ALTERNATIVES</h2>
    <p style='color:var(--navy26);background-color:var(--navyA3)'>--navyA3</p>
    <p style='color:var(--navy26);background-color:var(--navyA2)'>--navyA2</p>
    <p style='color:var(--navy26);background-color:var(--navyA1)'>--navyA1</p>
    <p style='color:var(--navy26);background-color:var(--navy0)'>--navy0 /* navy */</p>
    <p style='color:var(--navy26);background-color:var(--navy1A)'>--navy1A</p>
    <p style='color:var(--navy26);background-color:var(--navy2A)'>--navy2A</p>
    <p style='color:var(--navy26);background-color:var(--navy3A)'>--navy3A</p>
    <h2 class='colors colors_navys'> NAVYS TONES </h2>
    <p style='color:var(--navy26);background-color:var(--navy-12)'>--navy-12</p>
    <p style='color:var(--navy26);background-color:var(--navy-11)'>--navy-11</p>
    <p style='color:var(--navy26);background-color:var(--navy-10)'>--navy-10</p>
    <p style='color:var(--navy26);background-color:var(--navy-09)'>--navy-09</p>
    <p style='color:var(--navy26);background-color:var(--navy-08)'>--navy-08</p>
    <p style='color:var(--navy26);background-color:var(--navy-07)'>--navy-07</p>
    <p style='color:var(--navy26);background-color:var(--navy-06)'>--navy-06</p>
    <p style='color:var(--navy26);background-color:var(--navy-05)'>--navy-05</p>
    <p style='color:var(--navy26);background-color:var(--navy-04)'>--navy-04</p>
    <p style='color:var(--navy26);background-color:var(--navy-03)'>--navy-03</p>
    <p style='color:var(--navy26);background-color:var(--navy-02)'>--navy-02</p>
    <p style='color:var(--navy26);background-color:var(--navy-01)'>--navy-01</p>
    <p style='color:var(--navy26);background-color:var(--navy0)'>--navy0 /* navy */</p>
  </div>
</div>