<h2 class='colors colors_crimsons'> CRIMSONS  crimson:var(--crimson04)>#dc143c; </h2>
<div class='colorsRGB colors_crimsons'>
<div class='col1'>
    <p style='color:var(--crimson26)'>var(--crimson26);</p>
    <p style='color:var(--crimson25)'>var(--crimson25);</p>
    <p style='color:var(--crimson24)'>var(--crimson24);</p>
    <p style='color:var(--crimson23)'>var(--crimson23);</p>
    <p style='color:var(--crimson22)'>var(--crimson22);</p>
    <p style='color:var(--crimson21)'>var(--crimson21);</p>
    <p style='color:var(--crimson20)'>var(--crimson20);</p>
    <p style='color:var(--crimson19)'>var(--crimson19);</p>
    <p style='color:var(--crimson18)'>var(--crimson18);</p>
    <p style='color:var(--crimson17)'>var(--crimson17);</p>
    <p style='color:var(--crimson16)'>var(--crimson16);</p>
    <p style='color:var(--crimson15)'>var(--crimson15);</p>
    <p style='color:var(--crimson14)'>var(--crimson14);</p>
    <p style='color:var(--crimson13)'>var(--crimson13);</p>
    <p style='color:var(--crimson12)'>var(--crimson12);</p>
    <p style='color:var(--crimson11)'>var(--crimson11);</p>
    <p style='color:var(--crimson10)'>var(--crimson10);</p>
    <p style='color:var(--crimson09)'>var(--crimson09);</p>
    <p style='color:var(--crimson08)'>var(--crimson08);</p>
    <p style='color:var(--crimson07)'>var(--crimson07);</p>
    <p style='color:var(--crimson06)'>var(--crimson06);</p>
    <p style='color:var(--crimson05)'>var(--crimson05);</p>
    <p style='color:var(--crimson04)'>var(--crimson04); /* crimson */</p>
    <p style='color:var(--crimson03)'>var(--crimson03);</p>
    <p style='color:var(--crimson02)'>var(--crimson02);</p>
    <p style='color:var(--crimson01)'>var(--crimson01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--crimson26);background-color:var(--crimson26)'>--crimson26</p>
    <p style='color:var(--crimson26);background-color:var(--crimson25)'>--crimson25</p>
    <p style='color:var(--crimson26);background-color:var(--crimson24)'>--crimson24</p>
    <p style='color:var(--crimson26);background-color:var(--crimson23)'>--crimson23</p>
    <p style='color:var(--crimson26);background-color:var(--crimson22)'>--crimson22</p>
    <p style='color:var(--crimson26);background-color:var(--crimson21)'>--crimson21</p>
    <p style='color:var(--crimson26);background-color:var(--crimson20)'>--crimson20</p>
    <p style='color:var(--crimson26);background-color:var(--crimson19)'>--crimson19</p>
    <p style='color:var(--crimson26);background-color:var(--crimson18)'>--crimson18</p>
    <p style='color:var(--crimson26);background-color:var(--crimson17)'>--crimson17</p>
    <p style='color:var(--crimson26);background-color:var(--crimson16)'>--crimson16</p>
    <p style='color:var(--crimson26);background-color:var(--crimson15)'>--crimson15</p>
    <p style='color:var(--crimson26);background-color:var(--crimson14)'>--crimson14</p>
    <p style='color:var(--crimson26);background-color:var(--crimson13)'>--crimson13</p>
    <p style='color:var(--crimson26);background-color:var(--crimson12)'>--crimson12</p>
    <p style='color:var(--crimson26);background-color:var(--crimson11)'>--crimson11</p>
    <p style='color:var(--crimson26);background-color:var(--crimson10)'>--crimson10</p>
    <p style='color:var(--crimson26);background-color:var(--crimson09)'>--crimson09</p>
    <p style='color:var(--crimson26);background-color:var(--crimson08)'>--crimson08</p>
    <p style='color:var(--crimson26);background-color:var(--crimson07)'>--crimson07</p>
    <p style='color:var(--crimson26);background-color:var(--crimson06)'>--crimson06</p>
    <p style='color:var(--crimson26);background-color:var(--crimson05)'>--crimson05</p>
    <p style='color:var(--crimson26);background-color:var(--crimson04)'>--crimson04 /* crimson */</p>
    <p style='color:var(--crimson26);background-color:var(--crimson03)'>--crimson03</p>
    <p style='color:var(--crimson26);background-color:var(--crimson02)'>--crimson02</p>
    <p style='color:var(--crimson26);background-color:var(--crimson01)'>--crimson01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_crimsons'> crimsonS MONOCROMATIC </h2>
    <p style='color:var(--crimson3)'>var(--crimson3);</p>
    <p style='color:var(--crimson2)'>var(--crimson2);</p>
    <p style='color:var(--crimson1)'>var(--crimson1);</p>
    <p style='color:var(--crimson0)'>var(--crimson0);</p>
    <p style='color:var(--crimson-1)'>var(--crimson-1);</p>
    <p style='color:var(--crimson-2)'>var(--crimson-2);</p>
    <p style='color:var(--crimson-3)'>var(--crimson-3);</p>
    <h2 class='colors colors_crimsons'> crimsonS ALTERNATIVES </h2>
    <p style='color:var(--crimsonA3)'>var(--crimsonA3);</p>
    <p style='color:var(--crimsonA2)'>var(--crimsonA2);</p>
    <p style='color:var(--crimsonA1)'>var(--crimsonA1);</p>
    <p style='color:var(--crimson0)'>var(--crimson0);</p>
    <p style='color:var(--crimson1A)'>var(--crimson1A);</p>
    <p style='color:var(--crimson2A)'>var(--crimson2A);</p>
    <p style='color:var(--crimson3A)'>var(--crimson3A);</p>
    <h2 class='colors colors_crimsons'> crimsonS TONES </h2>
    <p style='color:var(--crimson-12)'>var(--crimson-12);</p>
    <p style='color:var(--crimson-11)'>var(--crimson-11);</p>
    <p style='color:var(--crimson-10)'>var(--crimson-10);</p>
    <p style='color:var(--crimson-09)'>var(--crimson-09);</p>
    <p style='color:var(--crimson-08)'>var(--crimson-08);</p>
    <p style='color:var(--crimson-07)'>var(--crimson-07);</p>
    <p style='color:var(--crimson-06)'>var(--crimson-06);</p>
    <p style='color:var(--crimson-05)'>var(--crimson-05);</p>
    <p style='color:var(--crimson-04)'>var(--crimson-04);</p>
    <p style='color:var(--crimson-03)'>var(--crimson-03);</p>
    <p style='color:var(--crimson-02)'>var(--crimson-02);</p>
    <p style='color:var(--crimson-01)'>var(--crimson-01);</p>
    <p style='color:var(--crimson-00)'>var(--crimson-00);</p>
  </div> 
  <div class='col2'>
    <h2 class='colors colors_crimsons'> crimsonS MONOCROMATIC </h2>
    <p style='color:var(--crimson26);background-color:var(--crimson3)'>--crimson3</p>
    <p style='color:var(--crimson26);background-color:var(--crimson2)'>--crimson2</p>
    <p style='color:var(--crimson26);background-color:var(--crimson1)'>--crimson1</p>
    <p style='color:var(--crimson26);background-color:var(--crimson0)'>--crimson0</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-1)'>--crimson-1</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-2)'>--crimson-2</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-3)'>--crimson-3</p>
    <h2 class='colors colors_crimsons'> crimsonS ALTERNATIVES</h2>
    <p style='color:var(--crimson26);background-color:var(--crimsonA3)'>--crimsonA3</p>
    <p style='color:var(--crimson26);background-color:var(--crimsonA2)'>--crimsonA2</p>
    <p style='color:var(--crimson26);background-color:var(--crimsonA1)'>--crimsonA1</p>
    <p style='color:var(--crimson26);background-color:var(--crimson0)'>--crimson0</p>
    <p style='color:var(--crimson26);background-color:var(--crimson1A)'>--crimson1A</p>
    <p style='color:var(--crimson26);background-color:var(--crimson2A)'>--crimson2A</p>
    <p style='color:var(--crimson26);background-color:var(--crimson3A)'>--crimson3A</p>
    <h2 class='colors colors_crimsons'> crimsonS TONES </h2>
    <p style='color:var(--crimson26);background-color:var(--crimson-12)'>--crimson-12</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-11)'>--crimson-11</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-10)'>--crimson-10</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-09)'>--crimson-09</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-08)'>--crimson-08</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-07)'>--crimson-07</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-06)'>--crimson-06</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-05)'>--crimson-05</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-04)'>--crimson-04</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-03)'>--crimson-03</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-02)'>--crimson-02</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-01)'>--crimson-01</p>
    <p style='color:var(--crimson26);background-color:var(--crimson-00)'>--crimson-00</p>
  </div>
</div>