<h2 class='colors colors_beiges'> BEIGES </h2>
<div class='colorsRGB colors_beiges'>
<div class='col1'>
    <p style='color:var(--beige25)'>var(--beige27);</p>
    <p style='color:var(--beige24)'>var(--beige26);</p>
    <p style='color:var(--beige25)'>var(--beige25);</p>
    <p style='color:var(--beige24)'>var(--beige24);</p>
    <p style='color:var(--beige23)'>var(--beige23);</p>
    <p style='color:var(--beige22)'>var(--beige22);</p>
    <p style='color:var(--beige21)'>var(--beige21);</p>
    <p style='color:var(--beige20)'>var(--beige20);</p>
    <p style='color:var(--beige19)'>var(--beige19);</p>
    <p style='color:var(--beige18)'>var(--beige18);</p>
    <p style='color:var(--beige17)'>var(--beige17);</p>
    <p style='color:var(--beige16)'>var(--beige16);</p>
    <p style='color:var(--beige15)'>var(--beige15);</p>
    <p style='color:var(--beige14)'>var(--beige14);</p>
    <p style='color:var(--beige13)'>var(--beige13);</p>
    <p style='color:var(--beige12)'>var(--beige12);</p>
    <p style='color:var(--beige11)'>var(--beige11);</p>
    <p style='color:var(--beige10)'>var(--beige10);</p>
    <p style='color:var(--beige09)'>var(--beige09);</p>
    <p style='color:var(--beige08)'>var(--beige08);</p>
    <p style='color:var(--beige07)'>var(--beige07);</p>
    <p style='color:var(--beige06)'>var(--beige06);</p>
    <p style='color:var(--beige05)'>var(--beige05);</p>
    <p style='color:var(--beige04)'>var(--beige04); /* beige */</p>
    <p style='color:var(--beige03)'>var(--beige03);</p>
    <p style='color:var(--beige02)'>var(--beige02);</p>
    <p style='color:var(--beige01)'>var(--beige01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--beige26);background-color:var(--beige27)'>--beige27</p>
    <p style='color:var(--beige26);background-color:var(--beige26)'>--beige26</p>
    <p style='color:var(--beige26);background-color:var(--beige25)'>--beige25</p>
    <p style='color:var(--beige26);background-color:var(--beige24)'>--beige24</p>
    <p style='color:var(--beige26);background-color:var(--beige23)'>--beige23</p>
    <p style='color:var(--beige26);background-color:var(--beige22)'>--beige22</p>
    <p style='color:var(--beige26);background-color:var(--beige21)'>--beige21</p>
    <p style='color:var(--beige26);background-color:var(--beige20)'>--beige20</p>
    <p style='color:var(--beige26);background-color:var(--beige19)'>--beige19</p>
    <p style='color:var(--beige26);background-color:var(--beige18)'>--beige18</p>
    <p style='color:var(--beige26);background-color:var(--beige17)'>--beige17</p>
    <p style='color:var(--beige26);background-color:var(--beige16)'>--beige16</p>
    <p style='color:var(--beige26);background-color:var(--beige15)'>--beige15</p>
    <p style='color:var(--beige26);background-color:var(--beige14)'>--beige14</p>
    <p style='color:var(--beige26);background-color:var(--beige13)'>--beige13</p>
    <p style='color:var(--beige26);background-color:var(--beige12)'>--beige12</p>
    <p style='color:var(--beige26);background-color:var(--beige11)'>--beige11</p>
    <p style='color:var(--beige26);background-color:var(--beige10)'>--beige10</p>
    <p style='color:var(--beige26);background-color:var(--beige09)'>--beige09</p>
    <p style='color:var(--beige26);background-color:var(--beige08)'>--beige08</p>
    <p style='color:var(--beige26);background-color:var(--beige07)'>--beige07</p>
    <p style='color:var(--beige26);background-color:var(--beige06)'>--beige06</p>
    <p style='color:var(--beige26);background-color:var(--beige05)'>--beige05</p>
    <p style='color:var(--beige26);background-color:var(--beige04)'>--beige04 /* beige */</p>
    <p style='color:var(--beige26);background-color:var(--beige03)'>--beige03</p>
    <p style='color:var(--beige26);background-color:var(--beige02)'>--beige02</p>
    <p style='color:var(--beige26);background-color:var(--beige01)'>--beige01</p>
  </div>
</div>