<h2 class='colors colors_purples'> PURPLES  purple:var(--purple18)>#800080 </h2>
<div class='colorsRGB colors_purples'>
<div class='col1'>
    <p style='color:var(--purple24)'>var(--purple24);</p>
    <p style='color:var(--purple23)'>var(--purple23);</p>
    <p style='color:var(--purple22)'>var(--purple22);</p>
    <p style='color:var(--purple21)'>var(--purple21);</p>
    <p style='color:var(--purple20)'>var(--purple20);</p>
    <p style='color:var(--purple19)'>var(--purple19);</p>
    <p style='color:var(--purple18)'>var(--purple18); /* purple */</p>
    <p style='color:var(--purple17)'>var(--purple17);</p>
    <p style='color:var(--purple16)'>var(--purple16);</p>
    <p style='color:var(--purple15)'>var(--purple15);</p>
    <p style='color:var(--purple14)'>var(--purple14);</p>
    <p style='color:var(--purple13)'>var(--purple13);</p>
    <p style='color:var(--purple12)'>var(--purple12);</p>
    <p style='color:var(--purple11)'>var(--purple11);</p>
    <p style='color:var(--purple10)'>var(--purple10);</p>
    <p style='color:var(--purple09)'>var(--purple09);</p>
    <p style='color:var(--purple08)'>var(--purple08);</p>
    <p style='color:var(--purple07)'>var(--purple07);</p>
    <p style='color:var(--purple06)'>var(--purple06);</p>
    <p style='color:var(--purple05)'>var(--purple05);</p>
    <p style='color:var(--purple04)'>var(--purple04);</p>
    <p style='color:var(--purple03)'>var(--purple03);</p>
    <p style='color:var(--purple02)'>var(--purple02);</p>
    <p style='color:var(--purple01)'>var(--purple01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--purple26);background-color:var(--purple24)'>--purple24</p>
    <p style='color:var(--purple26);background-color:var(--purple23)'>--purple23</p>
    <p style='color:var(--purple26);background-color:var(--purple22)'>--purple22</p>
    <p style='color:var(--purple26);background-color:var(--purple21)'>--purple21</p>
    <p style='color:var(--purple26);background-color:var(--purple20)'>--purple20</p>
    <p style='color:var(--purple26);background-color:var(--purple19)'>--purple19</p>
    <p style='color:var(--purple26);background-color:var(--purple18)'>--purple18 /* purple */</p>
    <p style='color:var(--purple26);background-color:var(--purple17)'>--purple17</p>
    <p style='color:var(--purple26);background-color:var(--purple16)'>--purple16</p>
    <p style='color:var(--purple26);background-color:var(--purple15)'>--purple15</p>
    <p style='color:var(--purple26);background-color:var(--purple14)'>--purple14</p>
    <p style='color:var(--purple26);background-color:var(--purple13)'>--purple13</p>
    <p style='color:var(--purple26);background-color:var(--purple12)'>--purple12</p>
    <p style='color:var(--purple26);background-color:var(--purple11)'>--purple11</p>
    <p style='color:var(--purple26);background-color:var(--purple10)'>--purple10</p>
    <p style='color:var(--purple26);background-color:var(--purple09)'>--purple09</p>
    <p style='color:var(--purple26);background-color:var(--purple08)'>--purple08</p>
    <p style='color:var(--purple26);background-color:var(--purple07)'>--purple07</p>
    <p style='color:var(--purple26);background-color:var(--purple06)'>--purple06</p>
    <p style='color:var(--purple26);background-color:var(--purple05)'>--purple05</p>
    <p style='color:var(--purple26);background-color:var(--purple04)'>--purple04</p>
    <p style='color:var(--purple26);background-color:var(--purple03)'>--purple03</p>
    <p style='color:var(--purple26);background-color:var(--purple02)'>--purple02</p>
    <p style='color:var(--purple26);background-color:var(--purple01)'>--purple01</p>
  </div>
 </div>