<h2 class='colors colors_pinks'> PINKS  pink:var(--pink04)>#ffc0cb; </h2>
<div class='colorsRGB colors_pinks'>
<div class='col1'>
    <p style='color:var(--pink26)'>var(--pink26);</p>
    <p style='color:var(--pink25)'>var(--pink25);</p>
    <p style='color:var(--pink24)'>var(--pink24);</p>
    <p style='color:var(--pink23)'>var(--pink23);</p>
    <p style='color:var(--pink22)'>var(--pink22);</p>
    <p style='color:var(--pink21)'>var(--pink21);</p>
    <p style='color:var(--pink20)'>var(--pink20);</p>
    <p style='color:var(--pink19)'>var(--pink19);</p>
    <p style='color:var(--pink18)'>var(--pink18);</p>
    <p style='color:var(--pink17)'>var(--pink17);</p>
    <p style='color:var(--pink16)'>var(--pink16);</p>
    <p style='color:var(--pink15)'>var(--pink15);</p>
    <p style='color:var(--pink14)'>var(--pink14);</p>
    <p style='color:var(--pink13)'>var(--pink13);</p>
    <p style='color:var(--pink12)'>var(--pink12);</p>
    <p style='color:var(--pink11)'>var(--pink11);</p>
    <p style='color:var(--pink10)'>var(--pink10);</p>
    <p style='color:var(--pink09)'>var(--pink09);</p>
    <p style='color:var(--pink08)'>var(--pink08);</p>
    <p style='color:var(--pink07)'>var(--pink07);</p>
    <p style='color:var(--pink06)'>var(--pink06);</p>
    <p style='color:var(--pink05)'>var(--pink05);</p>
    <p style='color:var(--pink04)'>var(--pink04); /* pink */</p>
    <p style='color:var(--pink03)'>var(--pink03);</p>
    <p style='color:var(--pink02)'>var(--pink02);</p>
    <p style='color:var(--pink01)'>var(--pink01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--pink26);background-color:var(--pink26)'>--pink26</p>
    <p style='color:var(--pink26);background-color:var(--pink25)'>--pink25</p>
    <p style='color:var(--pink26);background-color:var(--pink24)'>--pink24</p>
    <p style='color:var(--pink26);background-color:var(--pink23)'>--pink23</p>
    <p style='color:var(--pink26);background-color:var(--pink22)'>--pink22</p>
    <p style='color:var(--pink26);background-color:var(--pink21)'>--pink21</p>
    <p style='color:var(--pink26);background-color:var(--pink20)'>--pink20</p>
    <p style='color:var(--pink26);background-color:var(--pink19)'>--pink19</p>
    <p style='color:var(--pink26);background-color:var(--pink18)'>--pink18</p>
    <p style='color:var(--pink26);background-color:var(--pink17)'>--pink17</p>
    <p style='color:var(--pink26);background-color:var(--pink16)'>--pink16</p>
    <p style='color:var(--pink26);background-color:var(--pink15)'>--pink15</p>
    <p style='color:var(--pink26);background-color:var(--pink14)'>--pink14</p>
    <p style='color:var(--pink26);background-color:var(--pink13)'>--pink13</p>
    <p style='color:var(--pink26);background-color:var(--pink12)'>--pink12</p>
    <p style='color:var(--pink26);background-color:var(--pink11)'>--pink11</p>
    <p style='color:var(--pink26);background-color:var(--pink10)'>--pink10</p>
    <p style='color:var(--pink26);background-color:var(--pink09)'>--pink09</p>
    <p style='color:var(--pink26);background-color:var(--pink08)'>--pink08</p>
    <p style='color:var(--pink26);background-color:var(--pink07)'>--pink07</p>
    <p style='color:var(--pink26);background-color:var(--pink06)'>--pink06</p>
    <p style='color:var(--pink26);background-color:var(--pink05)'>--pink05</p>
    <p style='color:var(--pink26);background-color:var(--pink04)'>--pink04 /* pink */</p>
    <p style='color:var(--pink26);background-color:var(--pink03)'>--pink03</p>
    <p style='color:var(--pink26);background-color:var(--pink02)'>--pink02</p>
    <p style='color:var(--pink26);background-color:var(--pink01)'>--pink01</p>
  </div>
</div>