<h2 class='colors colors_browns'> BROWNS </h2>
<div class='colorsRGB colors_browns'>
<div class='col1'>
    <p style='color:var(--brown26)'>var(--brown26);</p>
    <p style='color:var(--brown25)'>var(--brown25);</p>
    <p style='color:var(--brown24)'>var(--brown24);</p>
    <p style='color:var(--brown23)'>var(--brown23);</p>
    <p style='color:var(--brown22)'>var(--brown22);</p>
    <p style='color:var(--brown21)'>var(--brown21);</p>
    <p style='color:var(--brown20)'>var(--brown20);</p>
    <p style='color:var(--brown19)'>var(--brown19);</p>
    <p style='color:var(--brown18)'>var(--brown18);</p>
    <p style='color:var(--brown17)'>var(--brown17);</p>
    <p style='color:var(--brown16)'>var(--brown16);</p>
    <p style='color:var(--brown15)'>var(--brown15);</p>
    <p style='color:var(--brown14)'>var(--brown14);</p>
    <p style='color:var(--brown13)'>var(--brown13);</p>
    <p style='color:var(--brown12)'>var(--brown12);</p>
    <p style='color:var(--brown11)'>var(--brown11);</p>
    <p style='color:var(--brown10)'>var(--brown10);</p>
    <p style='color:var(--brown09)'>var(--brown09);</p>
    <p style='color:var(--brown08)'>var(--brown08);</p>
    <p style='color:var(--brown07)'>var(--brown07);</p>
    <p style='color:var(--brown06)'>var(--brown06);</p>
    <p style='color:var(--brown05)'>var(--brown05);</p>
    <p style='color:var(--brown04)'>var(--brown04); /* brown */</p>
    <p style='color:var(--brown03)'>var(--brown03);</p>
    <p style='color:var(--brown02)'>var(--brown02);</p>
    <p style='color:var(--brown01)'>var(--brown01);</p>  
  </div> 
  <div class='col2'>
    <p style='color:var(--brown26);background-color:var(--brown26)'>--brown26</p>
    <p style='color:var(--brown26);background-color:var(--brown25)'>--brown25</p>
    <p style='color:var(--brown26);background-color:var(--brown24)'>--brown24</p>
    <p style='color:var(--brown26);background-color:var(--brown23)'>--brown23</p>
    <p style='color:var(--brown26);background-color:var(--brown22)'>--brown22</p>
    <p style='color:var(--brown26);background-color:var(--brown21)'>--brown21</p>
    <p style='color:var(--brown26);background-color:var(--brown20)'>--brown20</p>
    <p style='color:var(--brown26);background-color:var(--brown19)'>--brown19</p>
    <p style='color:var(--brown26);background-color:var(--brown18)'>--brown18</p>
    <p style='color:var(--brown26);background-color:var(--brown17)'>--brown17</p>
    <p style='color:var(--brown26);background-color:var(--brown16)'>--brown16</p>
    <p style='color:var(--brown26);background-color:var(--brown15)'>--brown15</p>
    <p style='color:var(--brown26);background-color:var(--brown14)'>--brown14</p>
    <p style='color:var(--brown26);background-color:var(--brown13)'>--brown13</p>
    <p style='color:var(--brown26);background-color:var(--brown12)'>--brown12</p>
    <p style='color:var(--brown26);background-color:var(--brown11)'>--brown11</p>
    <p style='color:var(--brown26);background-color:var(--brown10)'>--brown10</p>
    <p style='color:var(--brown26);background-color:var(--brown09)'>--brown09</p>
    <p style='color:var(--brown26);background-color:var(--brown08)'>--brown08</p>
    <p style='color:var(--brown26);background-color:var(--brown07)'>--brown07</p>
    <p style='color:var(--brown26);background-color:var(--brown06)'>--brown06</p>
    <p style='color:var(--brown26);background-color:var(--brown05)'>--brown05</p>
    <p style='color:var(--brown26);background-color:var(--brown04)'>--brown04 /* brown */</p>
    <p style='color:var(--brown26);background-color:var(--brown03)'>--brown03</p>
    <p style='color:var(--brown26);background-color:var(--brown02)'>--brown02</p>
    <p style='color:var(--brown26);background-color:var(--brown01)'>--brown01</p>
  </div>
  <div class='col1'>
    <h2 class='colors colors_browns'> BROWNS MONOCROMATIC </h2>
    <p style='color:var(--brown3)'>var(--brown3);</p>
    <p style='color:var(--brown2)'>var(--brown2);</p>
    <p style='color:var(--brown1)'>var(--brown1);</p>
    <p style='color:var(--brown0)'>var(--brown0);</p>
    <p style='color:var(--brown-1)'>var(--brown-1);</p>
    <p style='color:var(--brown-2)'>var(--brown-2);</p>
    <p style='color:var(--brown-3)'>var(--brown-3);</p>
    <h2 class='colors colors_browns'> BROWNS ALTERNATIVES </h2>
    <p style='color:var(--brownA3)'>var(--brownA3);</p>
    <p style='color:var(--brownA2)'>var(--brownA2);</p>
    <p style='color:var(--brownA1)'>var(--brownA1);</p>
    <p style='color:var(--brown0)'>var(--brown0);</p>
    <p style='color:var(--brown1A)'>var(--brown1A);</p>
    <p style='color:var(--brown2A)'>var(--brown2A);</p>
    <p style='color:var(--brown3A)'>var(--brown3A);</p>
    <h2 class='colors colors_browns'> BROWNS TONES </h2>
    <p style='color:var(--brown-12)'>var(--brown-12);</p>
    <p style='color:var(--brown-11)'>var(--brown-11);</p>
    <p style='color:var(--brown-10)'>var(--brown-10);</p>
    <p style='color:var(--brown-09)'>var(--brown-09);</p>
    <p style='color:var(--brown-08)'>var(--brown-08);</p>
    <p style='color:var(--brown-07)'>var(--brown-07);</p>
    <p style='color:var(--brown-06)'>var(--brown-06);</p>
    <p style='color:var(--brown-05)'>var(--brown-05);</p>
    <p style='color:var(--brown-04)'>var(--brown-04);</p>
    <p style='color:var(--brown-03)'>var(--brown-03);</p>
    <p style='color:var(--brown-02)'>var(--brown-02);</p>
    <p style='color:var(--brown-01)'>var(--brown-01);</p>
    <p style='color:var(--brown-00)'>var(--brown-00);</p>
  </div> 
  <div class='col2'>
    <h2 class='colors colors_browns'> BROWNS MONOCROMATIC </h2>
    <p style='color:var(--brown26);background-color:var(--brown3)'>--brown3</p>
    <p style='color:var(--brown26);background-color:var(--brown2)'>--brown2</p>
    <p style='color:var(--brown26);background-color:var(--brown1)'>--brown1</p>
    <p style='color:var(--brown26);background-color:var(--brown0)'>--brown0</p>
    <p style='color:var(--brown26);background-color:var(--brown-1)'>--brown-1</p>
    <p style='color:var(--brown26);background-color:var(--brown-2)'>--brown-2</p>
    <p style='color:var(--brown26);background-color:var(--brown-3)'>--brown-3</p>
    <h2 class='colors colors_browns'> BROWNS ALTERNATIVES</h2>
    <p style='color:var(--brown26);background-color:var(--brownA3)'>--brownA3</p>
    <p style='color:var(--brown26);background-color:var(--brownA2)'>--brownA2</p>
    <p style='color:var(--brown26);background-color:var(--brownA1)'>--brownA1</p>
    <p style='color:var(--brown26);background-color:var(--brown0)'>--brown0</p>
    <p style='color:var(--brown26);background-color:var(--brown1A)'>--brown1A</p>
    <p style='color:var(--brown26);background-color:var(--brown2A)'>--brown2A</p>
    <p style='color:var(--brown26);background-color:var(--brown3A)'>--brown3A</p>
    <h2 class='colors colors_browns'> BROWNS TONES </h2>
    <p style='color:var(--brown26);background-color:var(--brown-12)'>--brown-12</p>
    <p style='color:var(--brown26);background-color:var(--brown-11)'>--brown-11</p>
    <p style='color:var(--brown26);background-color:var(--brown-10)'>--brown-10</p>
    <p style='color:var(--brown26);background-color:var(--brown-09)'>--brown-09</p>
    <p style='color:var(--brown26);background-color:var(--brown-08)'>--brown-08</p>
    <p style='color:var(--brown26);background-color:var(--brown-07)'>--brown-07</p>
    <p style='color:var(--brown26);background-color:var(--brown-06)'>--brown-06</p>
    <p style='color:var(--brown26);background-color:var(--brown-05)'>--brown-05</p>
    <p style='color:var(--brown26);background-color:var(--brown-04)'>--brown-04</p>
    <p style='color:var(--brown26);background-color:var(--brown-03)'>--brown-03</p>
    <p style='color:var(--brown26);background-color:var(--brown-02)'>--brown-02</p>
    <p style='color:var(--brown26);background-color:var(--brown-01)'>--brown-01</p>
    <p style='color:var(--brown26);background-color:var(--brown-00)'>--brown-00</p>
  </div>
</div>