<main>HOME - MAIN
 <div class='central'> 
    <article>
      <h3>APP description...</h3>
      <p>Complex and responsible CSS GRID layouts examples using easily CSS variables for main color scales. The :root CSS file includes the  of RGBcolors codes. This demo (in development) is integrating Bulma CSS components for a simple blogging Ruby on Rails website.</p>
    </article>
    <article>
      <h3>BACK-END environment...</h3>
      <p>OVZ6 SERVER (Amsterdam), Debian GNU/Linux 9 (stretch), Linux 4.9.0-1-amd64, x86-64. Apache 2.4.25 (Debian). Mysql 15.1 Distrib 10.1.26-MariaDB, debian-linux-gnu (x86_64), readline 5.2. Phusion Passenger 5.1.12. Rvm 1.29.3. Ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux]. Rails 5.1.4. Yarn v1.3.2. Npm 3.10.10. Webpack 3.10.0</p>
    </article>
    <article>
      <h3>What's a horse doing on a spaceship...?</h3>
      <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
    </article>
    <article>
      <h3>I pity the fool...</h3>
      <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
    </article>
    <article>
      <h3>Get to the chopper...</h3>
      <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor     eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
    </article>
    <article>
      <h3>What's a horse doing on a spaceship...?</h3>
      <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
    </article>
  </div>
</main>