<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Net Ninja - CSS Flexbox</title>
    <link rel="stylesheet" type="text/css" href="root.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
  </head>
  <body>
    <div class="wrapper" id='wrapper'>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index2.html">index2</a></li>
          <li><a href="index3.html">index3</a></li>
          <li><a href="index4.html">index4</a></li>
          <li><a href="index5.html">index5</a></li>
        </ul>
        <input type='checkbox'/>
        <ul class="social">
          <li><a href="" class="fb">Facebook</a></li>
          <li><a href="" class="tw">Twitter</a></li>
        </ul>
      </nav>
    
    <div class='grid' id='grid'>		
			<p class=''>1</p>
			<p class=''>2</p>
			<p class=''>3</p>
			<p class=''>4</p>
			<p class=''>5</p>
			<p class=''>6</p>
			<p class=''>7</p>
			<p class=''>8</p>
			<p class=''>9</p>
			<p class=''>10</p>
			<p class=''>11</p>
			<p class=''>12</p>
			<p class=''>13</p>
			<p class=''>14</p>
			<p class=''>15</p>
			<p class=''>16</p>
			<p class=''>17</p>
			<p class=''>18</p>
  	</div>
  </header>
    <main>MAIN
      <section id="blocks">
        <article>
          <h3>I pity the fool...</h3>
          <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
        </article>
        <article>
          <h3>Get to the chopper...</h3>
          <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
        </article>
        <article>
          <h3>What's a horse doing on a spaceship...?</h3>
          <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
        </article>
        <article>
          <h3>I pity the fool...</h3>
          <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
        </article>
        <article>
          <h3>Get to the chopper...</h3>
          <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
        </article>
        <article>
          <h3>What's a horse doing on a spaceship...?</h3>
          <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.</p>
        </article>
      </section>
    </main>
     <aside1>ASIDE 1</aside1>
     <asidenav>
     	ASIDE NAV
     	<ul>
     		<li class=''>Link</li>
				<li class=''>Link</li>
				<li class=''>Link</li>
				<li class=''>Link</li>
				<li class=''>Link</li>
				<li class=''>Link</li>
				<li class=''>Link</li>
				<li class=''>Link</li>
     	</ul>
     </asidenav>
     <aside2>ASIDE 2</aside2>
     <footer>FOOTER</footer>    
    </div>
    
  </body>
</html>
