<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Net Ninja - CSS Flexbox</title>
    <link rel="stylesheet" type="text/css" href="style2.css">
  </head>
  <body>
    <div class="wrapper">

<div class='one'>1</div>
<div class='two'>2</div>
<div class='three'>3</div>
<div class='four'>4</div>
<div class='five'>5 Etiam aliquam sem ac velit feugiat elementum. </div> 
<div class='six'>6</div>
<div class='seven'>7</div>
<div class='eight'>8</div>
<div class='nine'>9 Pellentesque imperdiet malesuada quam, et rhoncus. </div>
<div class='ten'>10</div>      
<div class='eleven'>11</div>
<div class='twelve'>12</div>       

    </div>    
  </body>
</html>
