<h2 class='colors colors_grays'> SCALE BLUE-AQUA </h2>
<div class='colorsRGB colors_grays'>                               
  <div class='col2'>
  <h2 class='colors colors_grays'> SCALE BLUE-AQUA </h2>
    <p style='color:gray;background-color:#0000ff'>#0000ff</p>
    <p style='color:gray;background-color:#0018ff'>#0018ff</p>
    <p style='color:gray;background-color:#0031ff'>#0031ff</p>
    <p style='color:gray;background-color:#0049ff'>#0049ff</p>
    <p style='color:gray;background-color:#0061ff'>#0061ff</p>
    <p style='color:gray;background-color:#0079ff'>#0079ff</p>
    <p style='color:gray;background-color:#0092ff'>#0092ff</p>
    <p style='color:gray;background-color:#00aaff'>#00aaff</p>
    <p style='color:gray;background-color:#00c2ff'>#00c2ff</p>
    <p style='color:gray;background-color:#00dbff'>#00dbff</p>
    <p style='color:gray;background-color:#00f3ff'>#00f3ff</p>
    <p style='color:gray;background-color:#00fff3'>#00fff3</p>
    <p style='color:gray;background-color:#00ffdb'>#00ffdb</p>
    <p style='color:gray;background-color:#00ffc2'>#00ffc2</p>
    <p style='color:gray;background-color:#00ffaa'>#00ffaa</p>
    <p style='color:gray;background-color:#00ff92'>#00ff92</p>
    <p style='color:gray;background-color:#00ff79'>#00ff79</p>
    <p style='color:gray;background-color:#00ff61'>#00ff61</p>
    <p style='color:gray;background-color:#00ff49'>#00ff49</p>
    <p style='color:gray;background-color:#00ff31'>#00ff31</p>
    <p style='color:gray;background-color:#00ff18'>#00ff18</p>
    <p style='color:gray;background-color:#00ff00'>#00ff00</p>
  </div>
  <div class='col2'>                                          
  <h2 class='colors colors_grays'> SCALE AQUA-GREEN </h2>      
    <p style='color:gray;background-color:#00ffff'>#00ffff</p>
    <p style='color:gray;background-color:#00fff3'>#00fff3</p>
    <p style='color:gray;background-color:#00ffe7'>#00ffe7</p>
    <p style='color:gray;background-color:#00ffdb'>#00ffdb</p>
    <p style='color:gray;background-color:#00ffce'>#00ffce</p>
    <p style='color:gray;background-color:#00ffc2'>#00ffc2</p>
    <p style='color:gray;background-color:#00ffb6'>#00ffb6</p>
    <p style='color:gray;background-color:#00ffaa'>#00ffaa</p>
    <p style='color:gray;background-color:#00ff9e'>#00ff9e</p>
    <p style='color:gray;background-color:#00ff92'>#00ff92</p>
    <p style='color:gray;background-color:#00ff86'>#00ff86</p>
    <p style='color:gray;background-color:#00ff79'>#00ff79</p>
    <p style='color:gray;background-color:#00ff6d'>#00ff6d</p>
    <p style='color:gray;background-color:#00ff61'>#00ff61</p>
    <p style='color:gray;background-color:#00ff55'>#00ff55</p>
    <p style='color:gray;background-color:#00ff49'>#00ff49</p>
    <p style='color:gray;background-color:#00ff3d'>#00ff3d</p>
    <p style='color:gray;background-color:#00ff31'>#00ff31</p>
    <p style='color:gray;background-color:#00ff24'>#00ff24</p>
    <p style='color:gray;background-color:#00ff18'>#00ff18</p>
    <p style='color:gray;background-color:#00ff0c'>#00ff0c</p>
    <p style='color:gray;background-color:#00ff00'>#00ff00</p>
  </div>
</div>