@import "bulma";
@import 'bulma-divider';

/*
 *= require_tree .
 *= require_self
 */

html, body {
  box-sizing: border-box;
  background-color: #ffffcc;
  font-family: sans-serif;
  height: 100%;
  padding: 1px;
  margin: 0px;
}
.main {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h h h h h h h"
        "m m m c c c c c c c c c c c c c c c"
        "f f f f f f f f f f f f f f f f f f";
}
.header {
    grid-area: h;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
}
.footer {
    grid-area: f;
}
.main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffffdd;
}
.main > div:nth-child(1n) {
  background-color: var(--grey15);  /* HEADER TEAL */
  color: var(--grey05);
  padding:0;
  margin: 0;
}
.main > div:nth-child(2n) {
  background-color: var(--teal06); /* MENU TEAL */
  color: var(--teal03);
  font-size: 95%;    
}
.main > div:nth-child(3n) {
  background-color: #ffffdd;
  color: #004c4c;
}
.main > div:nth-child(4n) {
  background-color: #ff6f69;
  color: var(--red02);
  font-size: 95%;  
}
.main > div:nth-child(5n) {
  background-color: #ffcc5c;
}
/************************************************************/
.container {
  width: 95%;
}
.content h6 {
  color: var(--teal10);
}
.teal h2 h6 {
  color: var(--teal10);
}
div.grey {
  color: var(--grey15);
}
div.middle{
  text-align: center;
}
span.middle {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.post {
  color: var(--teal10);
  border-bottom: 1px solid var(--teal03);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/*********************** BULMA *****************************************/
$divider-background-color: transparent;
$divider-color:  var(--teal06);
/************************ CSS-GRID ****************************************/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  --gap: 20;
  grid-gap: calc(var(--gap) * 2px);
  align-items: center;
  padding: 20px;
}
/* Define box vars */
.box {
  --box-bg-color: var(--grey01);
  --box-main-color: var(--teal06);
  --box-padding: 5px 10px;
  --box-shadow-h-offset: 10px;
  --box-shadow-v-offset: 5px;
  --box-shadow-blur: 5px;
}
.box {
  background-color: var(--box-bg-color);
  padding: var(--box-padding);
  border: 1px solid var(--box-main-color);
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset)
    var(--box-shadow-blur) var(--box-main-color);
  font-size: 90%;
}
.box h2 {
  color: var(--box-main-color);
}
.box p {
  /* --box-main-color: #555;
  color: var(--box-main-color); */
  color: var(--box-p-color, #555);
}
/* Define variables for root element */
:root {
  --main-bg-color: #ffffdd;
}
body {
  background-color: var(--main-bg-color);
}
:root {
/************** MENU   *********************/  
$menu-item-color: --teal02;
$menu-item-hover-color: --yellow02;
$menu-item-hover-background-color: #ffffdd;
$menu-item-active-color: --teal05;
$menu-item-active-background-color: #006666;




 /************* COLORS *********************/ 
    /* TEALS */           
--teal19 : #000c0c;        
--teal18 : #001919;        
--teal17 : #002626;        
--teal16 : #003333;        
--teal15 : #004040;        
--teal14 : #004c4c;        
--teal13 : #005959;        
--teal12 : #006666;        
--teal11 : #007373;        
--teal10 : #008080;        
--teal09 : #198c8c;        
--teal08 : #329999;        
--teal07 : #4ca6a6;        
--teal06 : #66b2b2;        
--teal05 : #7fbfbf;        
--teal04 : #99cccc;        
--teal03 : #b2d8d8;        
--teal02 : #cce5e5;        
--teal01 : #e5f2f2;        
      /* TETRADIC COLOR */  
--tlpink  : #ffdddd;      
--tlyellow : #ffffdd;      
--tlblue   : #ddffff;      
--tlviolet : #ddddff;      
      /* YELLOWS */         
--yellow26: #050500;       
--yellow25: #191900;       
--yellow24: #2c2c00;       
--yellow23: #404000;       
--yellow22: #545400;       
--yellow21: #676700;       
--yellow20: #7b7b00;       
--yellow19: #8f8f00;       
--yellow18: #a2a200;       
--yellow17: #b6b600;       
--yellow16: #c9c900;       
--yellow15: #dddd00;       
--yellow14: #f1f100;       
--yellow13: #ffff05;       
--yellow12: #ffff19;       
--yellow11: #ffff2c;       
--yellow10: #ffff40;       
--yellow09: #ffff54;       
--yellow08: #ffff67;       
--yellow07: #ffff7b;       
--yellow06: #ffff8f;       
--yellow05: #ffffa2;       
--yellow04: #ffffb6;       
--yellow03: #ffffc9;       
--yellow02: #ffffdd;       
--yellow01: #fffff1;       
/* Greys*/
--grey26: #020202;
--grey25: #0c0c0c;
--grey24: #161616;
--grey23: #1f1f1f;
--grey22: #292929;
--grey21: #333333;
--grey20: #3d3d3d;
--grey19: #474747;
--grey18: #505050;
--grey17: #5a5a5a;
--grey16: #646464;
--grey15: #6e6e6e;
--grey14: #787878;
--grey13: #818181;
--grey12: #8b8b8b;
--grey11: #959595;
--grey10: #9f9f9f;
--grey09: #a9a9a9;
--grey08: #b3b3b3;
--grey07: #bcbcbc;
--grey06: #c6c6c6;
--grey05: #d0d0d0;
--grey04: #dadada;
--grey03: #e4e4e4;
--grey02: #ededed;
--grey01: #f7f7f7;
/*    RED    */ 
--red25:#140000;
--red24:#270000;
--red23:#3b0000;
--red22:#4e0000;
--red21:#620000;
--red20:#760000;
--red19:#890000;
--red18:#9d0000;
--red17:#b10000;
--red16:#c40000;
--red15:#d80000;
--red14:#eb0000;
--red13:#ff0000;
--red12:#ff1414;
--red11:#ff2727;
--red10:#ff3b3b;
--red09:#ff4e4e;
--red08:#ff6262;
--red07:#ff7676;
--red06:#ff8989;
--red05:#ff9d9d;
--red04:#ffb1b1;
--red03:#ffc4c4;
--red02:#ffd8d8;
--red01:#ffebeb;
   /* BLUE */    
--blue25:#000014;
--blue24:#000027;
--blue23:#00003b;
--blue22:#00004e;
--blue21:#000062;
--blue20:#000076;
--blue19:#000089;
--blue18:#00009d;
--blue17:#0000b1;
--blue16:#0000c4;
--blue15:#0000d8;
--blue14:#0000eb;
--blue13:#0000ff;
--blue12:#1414ff;
--blue11:#2727ff;
--blue10:#3b3bff;
--blue09:#4e4eff;
--blue08:#6262ff;
--blue07:#7676ff;
--blue06:#8989ff;
--blue05:#9d9dff;
--blue04:#b1b1ff;
--blue03:#c4c4ff;
--blue02:#d8d8ff;
--blue01:#ebebff;
 /*  GREEN  */    
--green25:#001400;
--green24:#002700;
--green23:#003b00;
--green22:#004e00;
--green21:#006200;
--green20:#007600;
--green19:#008900;
--green18:#009d00;
--green17:#00b100;
--green16:#00c400;
--green15:#00d800;
--green14:#00eb00;
--green13:#00ff00;
--green12:#14ff14;
--green11:#27ff27;
--green10:#3bff3b;
--green09:#4eff4e;
--green08:#62ff62;
--green07:#76ff76;
--green06:#89ff89;
--green05:#9dff9d;
--green04:#b1ffb1;
--green03:#c4ffc4;
--green02:#d8ffd8;
--green01:#ebffeb;
/*  VIOLET  */    
-violet25:#0d020d;
-violet24:#1e041e;
-violet23:#300630;
-violet22:#410941;
-violet21:#520b52;
-violet20:#630e63;
-violet19:#751075;
-violet18:#861286;
-violet17:#971597;
-violet16:#a917a9;
-violet15:#ba19ba;
-violet14:#cb1ccb;
-violet13:#dc1edc;
-violet12:#e22ce2;
-violet11:#e53de5;
-violet10:#e74ee7;
-violet09:#e95fe9;
-violet08:#ec71ec;
-violet07:#ee82ee;
-violet06:#f093f0;
-violet05:#f3a5f3;
-violet04:#f5b6f5;
-violet03:#f7c7f7;
-violet02:#fad8fa;
-violet01:#fceafc;
-violet00:#fefbfe;
 /* BROWN  */    
-brown13:#090202;
-brown12:#180606;
-brown11:#280a0a;
-brown10:#380e0e;
-brown09:#471212;
-brown08:#571616;
-brown07:#661a1a;
-brown06:#761e1e;
-brown05:#862222;
-brown04:#952626;
-brown03:#a52a2a;
-brown02:#b52e2e;
-brown01:#c43232;
 /*  BEIGE  */   
-beige25:#020200;
-beige24:#150f01;
-beige23:#271c02;
-beige22:#3a2903;
-beige21:#4c3704;
-beige20:#5f4405;
-beige19:#715106;
-beige18:#845e08;
-beige17:#976c09;
-beige16:#a9790a;
-beige15:#bc860b;
-beige14:#ce930c;
-beige13:#e1a10d;
-beige12:#f1ad10;
-beige11:#f2b322;
-beige10:#f3ba35;
-beige09:#f5c048;
-beige08:#f6c65a;
-beige07:#f7cd6d;
-beige06:#f8d37f;
-beige05:#f9da92;
-beige04:#fae0a4;
-beige03:#fbe6b7;
-beige02:#fcedc9;
-beige01:#fdf3dc;
-beige00:#fef9ef;


} /* ./:root */