@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css");
@import'root';
@import'GRID';
@import'CSScolors';
@import'login';
@import'menus';
/*
 *= require_tree .
 *= require_self
 */
body { 
   /*font-family: var(--ff-ss);*/
  font-family: var(--open-s);
  color: var(--fc);
  background-color:var(--sea00);
  width:100%;
  height:100%;
  margin: 0;      
}
header {
  background-color:var(--sky08);
}
.grids{
  width:100%;
  font-size:85%; 
  text-align:center; 
  padding:2px;
}
.grid1{
  display:grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: minmax(25px,auto);  
}
.grid2{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  width:100%;
}
.grid3{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  width:100%;
}
.grid4{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  width:100%;
}
main {
  text-align:center;
  font-weight:800;
  margin:0;
}
/* HOME */
.central {
  text-align: justify;
}
main h2{
  color:var(--blue02);
  text-shadow:-1px 0 var(--navy22), 0 2px var(--navy22), 2px 0 var(--navy22), 0 -1px var(--navy22);
  font-weight:900;
  font-size:110%;
  line-height:180%;
}
article {
	background-color: var(--olive04);
  color:var(--olive22);
	border: 3px solid var(--sky05);
	padding: 10px;
  font-weight: 600;
}
h3.article {
	margin: 0 0 10px 10px ;
  font-weight: 900;
  color:var(--olive24);
  text-shadow:var(--olive01) 0.1em 0.1em 0.2em;   
  }
  /* POSTS */
section {  
  text-align: justify;
  font-weight: 600;
  margin: 5px;
}
.colsBLOG {
  display:grid;
  grid-template-columns:30% 70%;
  /*grid-gap: 5px;*/
}
.colBLOG {
  background-color: var(--olive01);
  border: 3px solid var(--sky02);
  /*padding: 6px;*/
}
 .colBLOG h3,.colBLOG h3 a  {
  color:var(--sea10);
  margin: 0 0 15px 5px;
  font-size: 120%;
  font-weight: 600;
  text-align:left;
}
.post h3, .comments h3, .comment h3 {
  color:var(--sea10);
  margin: 0 0 15px 5px;
  font-size: 140%;
  font-weight: 600;
  text-align:left;
}
.colBLOG .ref {
  font-size: 80%;
}
.colBLOG .button, .post .button {
  background-color:var(--red04);
  margin-top:25px;
}
.col2BLOG{
  padding: 10px;
  font-size: 95%;
  color:var(--olive19);
}
aside1 {
  background-color:var(--olive16);
  color:var(--olive02);
  font-size: 120%; 
  font-weight: 900; 
  padding: 2px 0 0 12px;
  text-shadow:var(--olive25) 0.2em 0.2em 0.3em, var(--olive25) 0.2em 0.2em 0.5em, var(--olive25) 0.2em 0.2em 0.2em;
  height:45px;
  border-top:2px solid var(--olive20);
  border-right:4px solid var(--olive23);
  border-bottom:4px solid var(--olive24);
  border-left:2px var(--olive20);
  border-radius: 3px;
}
asidenav1 {
  background-color:var(--gray12);
  padding: 6px; 
}
.asidenav1 p{
  color:var(--gray04);
  font-weight: bold; /*700*/
  text-shadow:var(--gray26) 0.1em 0.1em 0.3em;
  margin-bottom:15px;
}
.asidenav1 li,.asidenav2 li,.asidenav3 li{
  margin-bottom:5px;
}
asidenav2 {
	background-color:var(--teal2);
  padding: 6px; 
}
.asidenav2 p{
  color:var(--teal04);
  text-shadow:var(--teal25) 0.1em 0.1em 0.3em;
  font-weight: bold; /*700*/
  margin-bottom:15px;
}
asidenav3 {
	background-color:var(--red18);
  padding: 6px;
}
.asidenav3 p{
  color:var(--red03);
  text-shadow:var(--red25) 0.2em 0.2em 0.5em, var(--red25) 0.2em 0.2em 0.5em, var(--red25) 0.2em 0.2em 0.2em;
  font-weight: 900;
  margin-bottom:15px;
  font-size:90%;
}
aside2 {
  background-color:var(--violet18);
  color:var(--teal07);
  padding: 6px;
  font-size:90%;
  font-weight: bold; /*700*/
  text-shadow:var(--teal14) 0.1em 0.1em 0.25em;
}
aside3 {
  background-color:var(--olive24);
  color:var(--violet06);
  padding: 6px;
  font-weight: bold; /*700*/
  text-shadow:var(--violet24) 0.1em 0.1em 0.25em;
}
/* menu base styles */
.footnav{
  justify-items:center;
  background-color:var(--navy15);
}
.footnav ul{
  list-style-type: none;
  padding: 0;
}
.footnav a{
  text-decoration: none;
  text-align: center;
  color: var(--sky08);
  display: block;
  padding: 1px;
}
.footnav a:hover{
  color: var(--olive05);
}
/* social menu base styles */
a.tw{
  background: url(tw.png) no-repeat center;
  background-size: 80%;  
}
a.fb{
  background: url(fb.png) no-repeat center;
  background-size: 80%;
}
.social a{
  /*text-indent: -10000px;
  margin: 0 auto;*/
}
.social{
  /*max-width: 80px;*/
  /*margin: 0 auto; /* do at end */
  line-height: 50px;
  width:100%;
}
.topnav {
    background-color:var(--teal20);
    border-bottom: 1px solid var(--teal08);
    text-align: right;
    height: auto;
    line-height: auto;
}
.topmenu {
    margin: 0 30px 0 0;
}
.topmenu a {
    clear: right;
    text-decoration: none;
    color: var(--teal08);
    margin: 0 10px;
    line-height: auto;
}
.topmenu a:hover{
  color:var(--sky01);
}
span a{
    color:var(--teal04);
    font-size:80%;
}
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}
@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .topmenu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .topmenu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;    
    }
    #toggle:checked + .topmenu {
        display: block;
    }   
}
.show {
  padding:10px;
  color:var(--sky02);
  text-align: justify;
}
.post {
  font-weight:500;
  margin-bottom: 20px;
}
.comments {
  font-weight:400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comments p {
  font-style: oblique;
  font-weight: 500;
  font-stretch: expanded;
}
.comment {
  margin-top: 20px;
}
.control {
  width:80%;
}
input.control, .control .textarea{
  color:var(--teal17);
  background-color:var(--sky03);
  border: 0;
}
.control .button {
  background-color:var(--olive04);
  margin-top:10px;
}
/**** BACKEND ****/
.colsBE, .colsCV {
  display:grid;
  grid-template-columns:50% 50%;
  grid-gap: 5px;
}
.colors_specs{
	padding:10px;
  text-align:justify;
}
.colsCV h2{
	color:var(--orange04);
  text-shadow:var(--orange25) 0.1em 0.1em 0.25em; 
  text-align:left;
  font-weight: 700;
  padding-left:20px;
  font-size:110%;
  margin-top:15px;
}
.colsCV p{
	color:var(--orange04);
  text-shadow:var(--orange25) 0.01em 0.01em 0.05em; 
  font-weight: 500;
  padding:15px;
  font-size:105%;
  margin-top:10px;
}
.colCV1{
  background-color:var(--gray24);
}
.colCV2{
  background-color:var(--crimson24);
}
.colCV3{
  background-color:var(--navy24);
}
.colCV4{
  background-color:var(--teal24);
}
.backend{
  background-color:var(--gray22);
  color:var(--orange02);
  text-align:left;
  font-weight: 400;
  padding-left:20px;
  font-size:80%;
}
.colorcodes{
  background-color:var(--gray22);
  color:var(--orange02);
  text-align:left;
  font-weight: 500;
  padding-left:20px;
  font-size:90%;
}
.buttons{
  float:right;
  padding:5px;
  margin-top:5px;  
}
.tags{
  float:left;
  background-color:white;
  width:100%;
  padding-left:30px;  
  /*display:grid;
  grid-template-columns:repeat(6 16%);*/
}
.tag{
  font-size:90%;
  font-weight:400;
  /*margin:5px 5px 0 5px;*/
  margin:5px;
}
.bt0{
  background-color:var(--olive04);
}
button .bt1{
  background-color:var(--red05);
}
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
#error_explanation{
  background-color:var(--crimson02);
  border:1px solid red;
}
/******* PAGES *************/     
.colorsRGB{
  display:grid;
  grid-template-columns:50% 50%;
  grid-gap: 10px;
  padding:10px; 
  text-align:left;
  float:center;
}
.colorsRGB p{
  tex-size:90%;
  text-indent:10px;
}
h2.colors{
  font-size:120%;
  font-weight:700;  
  text-align:center;
  font-weight:700;
  width:100%;  
  float:center;
  padding-top:10px;
  padding-bottom: 10px;
}
.colorsRGB .col1{
  background-color:white;
  padding:1px;
  margin-right:10px;
}
.colorsRGB .col2{
  padding:1px;
  margin-right:10px;
}
/********************** COLOR SCALES PAGES ***************************/
.colors_grays{
  background-color:var(--gray13);
}
h2.colors_grays{
	background-color:var(--gray10);
  color:var(--gray03);
  text-shadow:var(--gray25) 0.1em 0.1em 0.25em; 
}
.colors_reds{
  background-color:var(--red13);
}
h2.colors_reds{
	background-color:var(--red10);
  color:var(--red03);
  text-shadow:var(--red25) 0.1em 0.1em 0.25em; 
}
.colors_yellows{
  background-color:var(--yellow13);
}
h2.colors_yellows{
	background-color:var(--yellow10);
  color:var(--yellow03);
  text-shadow:var(--yellow25) 0.1em 0.1em 0.25em; 
}
.colors_blues{
  background-color:var(--blue13);
}
h2.colors_blues{
	background-color:var(--blue10);
  color:var(--blue03);
  text-shadow:var(--blue25) 0.1em 0.1em 0.25em; 
}
.colors_greens{
  background-color:var(--green13);
}
h2.colors_greens{
	background-color:var(--green10);
  color:var(--green03);
  text-shadow:var(--green25) 0.1em 0.1em 0.25em; 
}
.colors_oranges{
  background-color:var(--orange13);
}
h2.colors_oranges{
	background-color:var(--orange10);
  color:var(--orange03);
  text-shadow:var(--orange25) 0.1em 0.1em 0.25em; 
}
.colors_violets{
  background-color:var(--violet13);
}
h2.colors_violets{
	background-color:var(--violet10);
  color:var(--orange03);
  text-shadow:var(--violet25) 0.1em 0.1em 0.25em; 
}
.colors_purples{
  background-color:var(--purple13);
}
h2.colors_purples{
	background-color:var(--purple10);
  color:var(--purple03);
  text-shadow:var(--purple24) 0.1em 0.1em 0.25em; 
}
.colors_pinks{
  background-color:var(--pink13);
}
h2.colors_pinks{
	background-color:var(--pink10);
  color:var(--pink03);
  text-shadow:var(--pink26) 0.1em 0.1em 0.25em; 
}
.colors_crimsons{
  background-color:var(--crimson13);
}
h2.colors_crimsons{
	background-color:var(--crimson10);
  color:var(--crimson03);
  text-shadow:var(--crimson26) 0.1em 0.1em 0.25em; 
}
.colors_browns{
  background-color:var(--brown13);
}
h2.colors_browns{
	background-color:var(--brown10);
  color:var(--brown03);
  text-shadow:var(--brown26) 0.1em 0.1em 0.25em; 
}
.colors_beiges{
  background-color:var(--beige13);
}
h2.colors_beiges{
	background-color:var(--beige10);
  color:var(--beige03);
  text-shadow:var(--beige26) 0.1em 0.1em 0.25em; 
}
.colors_golds{
  background-color:var(--gold13);
}
h2.colors_golds{
	background-color:var(--gold10);
  color:var(--gold03);
  text-shadow:var(--gold25) 0.1em 0.1em 0.25em; 
}
.colors_olives{
  background-color:var(--olive13);
}
h2.colors_olives{
	background-color:var(--olive10);
  color:var(--olived03);
  text-shadow:var(--olive25) 0.1em 0.1em 0.25em; 
}
.colors_teals{
  background-color:var(--teal13);
}
h2.colors_teals{
	background-color:var(--teal10);
  color:var(--teald03);
  text-shadow:var(--teal25) 0.1em 0.1em 0.25em; 
}
.colors_aquas{
  background-color:var(--aqua13);
}
h2.colors_aquas{
	background-color:var(--aqua10);
  color:var(--aqua03);
  text-shadow:var(--aqua25) 0.1em 0.1em 0.25em; 
}
.colors_aquamarines{
  background-color:var(--aquamarine13);
}
h2.colors_aquamarines{
	background-color:var(--aquamarine10);
  color:var(--aquamarine03);
  text-shadow:var(--aquamarine25) 0.1em 0.1em 0.25em; 
}
.colors_navys{
  background-color:var(--navy13);
}
h2.colors_navys{
	background-color:var(--navy10);
  color:var(--navy03);
  text-shadow:var(--navy25) 0.1em 0.1em 0.25em; 
}
.colors_seas-skys{
  background-color:var(--sea05);
}
h2.colors_seas-skys{
	background-color:var(--sea07);
  color:var(--sky02);
  text-shadow:var(--sea10) 0.1em 0.1em 0.25em; 
}