:root {
  --dark: var(--blue23); 
  --light: var(--sea00); 
  --white: var(--sky03); 
  --ff-ss: 'Merriweather Sans', sans-serif;
  --ff-s: 'Merriweather', serif;  
  --fc: var(--dark);  
} /* ./root */ 