<div class="asidenav1">
<p>1sts COLORS</p>
  <ul>
    <li><%= link_to 'reds', colors_reds_path, class:'reds' %></li>
    <li><%= link_to 'yellows', colors_yellows_path, class:'yellows' %></li>
    <li><%= link_to 'blues', colors_blues_path, class:'blues' %></li>
  </ul>
</div>

