<div class="asidenav2">
	<p>2nds COLORS</p>
  <ul>
    <li><%= link_to 'grays', colors_grays_path, class:'grays' %></li>
    <li><%= link_to 'oranges', colors_oranges_path, class:'oranges' %></li>
    <li><%= link_to 'greens', colors_greens_path, class:'greens' %></li>
    <li><%= link_to 'violets', colors_violets_path, class:'violets' %></li>
  </ul>
</div>

