<div class='footernavs'>
  <div class='footnav'>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Blog</a></li>
      <li><a href="/colorcodes">Color Codes</a></li>
      <li><a href="/colornames">Color Names</a></li>
      <li><a href="/colorvariations">Color Variations</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="/hues">Hues</a></li>
      <li><a href="/monochromatics">Monochromatics</a></li>
      <li><a href="/alternatives">Alternatives</a></li>
      <li><a href="/tones">Tones</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="/basic_scale">Basic Scale</a></li>
      <li><a href="/scale_blue_aqua">Scale Blue-Aqua</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Github</a></li>
    </ul>
  </div>
    <div class='social'>
    <ul class="social">
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
    </ul>
  </div>
</div>