<div class='footernavs'>
  <div class='footnav'>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Blog</a></li>
      <li><a href="/colorcodes">Color Codes</a></li>
      <li><a href="/colornames">Color Names</a></li>
      <li><a href="/colorvariations">Color Variations</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="/hues">Hues</a></li>
      <li><a href="/monochromatics">Monochromatics</a></li>
      <li><a href="/alternatives">Alternatives</a></li>
      <li><a href="/tones">Tones</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="/basic_scale">Basic Scale</a></li>
      <li><a href="/scale_blue_aqua">Scale Blue-Aqua</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="https://github.com/coopeu" class="fb"><i class="fab fa-github"></i> &nbsp</a></li>
    </ul>
  </div>
</div>
<div class='cc'>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a> This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License.
</div>
