<div class='footernavs'>
  <div class='footnav'>
    <ul>
      <li><a href="index1.html">Home</a></li>
      <li><a href="index2.html">Business</a></li>
      <li><a href="index3.html">Services</a></li>
      <li><a href="index4.html">Colors</a></li>
      <li><a href="index5.html">Live Demo</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="index6.html">Home</a></li>
      <li><a href="index7.html">index2</a></li>
      <li><a href="index8.html">index3</a></li>
      <li><a href="index9.html">index4</a></li>
      <li><a href="index10.html">index5</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="index11.html">Home</a></li>
      <li><a href="index12.html">index2</a></li>
      <li><a href="index13.html">index3</a></li>
      <li><a href="index14.html">index4</a></li>
      <li><a href="index15.html">index5</a></li>
    </ul>
  </div>
  <div class='footnav'>
    <ul>
      <li><a href="index16.html">Home</a></li>
      <li><a href="index17.html">index2</a></li>
      <li><a href="index18.html">index3</a></li>
      <li><a href="index19.html">index4</a></li>
      <li><a href="index20.html">index5</a></li>
    </ul>
  </div>
    <div class='social'>
    <ul class="social">
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
      <li><a href="" class="fb">Facebook</a></li>
      <li><a href="" class="tw">Twitter</a></li>
    </ul>
  </div>
</div>