<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CSS-COLORS as CSS-VARIABLES</title>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'application' %>
