<div class="topnav">
 <label for="toggle">&#9776;</label>
 <input type="checkbox" id="toggle"/>
 <div class="topmenu">
 	<a href="/">Home</a>
 	<a href="/posts">Blog</a>
  <a href="/colorcodes">Colors Codes</a>
  <a href="/colornames">Color Names</a>
  <a href="/colorvariations">Color Variations</a>   
  <a href="/Back_End">Back-End</a>
 	<span><a href="/users/new">Sign in</a><a href="/session/new">Log in</a></span>
 </div>
</div>
<div class='grids'>	
	<div class='grid1'>		
		<p style='color:var(--navy01);background-color:var(--navy25);'>navy25</p>
		<p style='color:var(--navy03);background-color:var(--navy23);'>navy23</p>
		<p style='color:var(--navy05);background-color:var(--navy21);'>navy21</p>
		<p style='color:var(--navy07);background-color:var(--navy19);'>navy19</p>
		<p style='color:var(--navy08);background-color:var(--navy18);'>navy18</p>
		<p style='color:var(--navy09);background-color:var(--navy17);'>navy17</p>
		<p style='color:var(--navy10);background-color:var(--navy16);'>navy16</p>
		<p style='color:var(--navy11);background-color:var(--navy15);'>navy15</p>
		<p style='color:var(--navy12);background-color:var(--navy14);'>navy14</p>
		<p style='color:var(--navy13);background-color:var(--navy13);'>navy13</p>
		<p style='color:var(--navy14);background-color:var(--navy12);'>navy12</p>
		<p style='color:var(--navy15);background-color:var(--navy11);'>navy11</p>
		<p style='color:var(--navy16);background-color:var(--navy10);'>navy10</p>
		<p style='color:var(--navy17);background-color:var(--navy09);'>navy09</p>
		<p style='color:var(--navy19);background-color:var(--navy07);'>navy07</p>
		<p style='color:var(--navy21);background-color:var(--navy05);'>navy05</p>
		<p style='color:var(--navy23);background-color:var(--navy03);'>navy03</p>
		<p style='color:var(--navy25);background-color:var(--navy01);'>navy01</p>
	</div>
	<div class='grid2'>
		<p class="tile is-child" style='color:var(--tvyl3);background-color:var(--teal-3);'>teal-3</p>
		<p class="tile is-child" style='color:var(--teal2);background-color:var(--teal-2);'>teal-2</p>
		<p class="tile is-child" style='color:var(--teal1);background-color:var(--teal-1);'>teal-1</p>
		<p class="tile is-child" style='color:var(--teal11);background-color:var(--teal0);'>teal</p>
		<p class="tile is-child" style='color:var(--teal-1);background-color:var(--teal1);'>teal1</p>		
		<p class="tile is-child" style='color:var(--teal-2);background-color:var(--teal2); >teal2</p>
		<p class="tile is-child" style='color:var(--teal-3);background-color:var(--teal3);'>teal3</p>
	</div>
	<div class='grid3'>
		<p class="tile is-child" style='color:var(--yellow20);background-color:var(--yellowA3);'>yellowA3</p>
		<p class="tile is-child" style='color:var(--yellow20);background-color:var(--yellowA2);'>yellowA2</p>
		<p class="tile is-child" style='color:var(--yellow20);background-color:var(--yellowA1);'>yellowA1</p>
		<p class="tile is-child" style='color:var(--yellow20);background-color:var(--yellow0);'>yellow</p>
		<p class="tile is-child" style='color:var(--yellow20);background-color:var(--yellow1A);'>yellow1A</p>
		<p class="tile is-child" style='color:var(--yellow);background-color:var(--yellow2A);'>yellow2A</p>
		<p class="tile is-child" style='color:var(--yellow);background-color:var(--yellow3A);'>yellow3A</p>
	</div>
	<div class='grid4'>
		<p style='color:var(--violet02);background-color:var(--violet-12);'>-12</p>
		<p style='color:var(--violet02);background-color:var(--violet-11);'>-11</p>
		<p style='color:var(--violet02);background-color:var(--violet-10);'>-10</p>
		<p style='color:var(--violet02);background-color:var(--violet-09);'>-09</p>
		<p style='color:var(--violet02);background-color:var(--violet-08);'>-08</p>
		<p style='color:var(--violet02);background-color:var(--violet-07);'>-07</p>
		<p style='color:var(--violet02);background-color:var(--violet-06);'>-06</p>
		<p style='color:var(--violet02);background-color:var(--violet-05);'>-05</p>
		<p style='color:var(--violet02);background-color:var(--violet-04);'>-04</p>
		<p style='color:var(--violet02);background-color:var(--violet-03);'>-03</p>
		<p style='color:var(--violet02);background-color:var(--violet-02);'>-02</p>
		<p style='color:var(--violet02);background-color:var(--violet-01);'>-01</p>
	</div>
</div>
	